.ArticleMain{
    &.mobile{
        .el-card__header{
            padding:0px;
        }
    }
}
.ArticleOne{
    background:#fff;
    padding: 0 10px;
    &.post-class{
        .border-row{
            .border-cell{
              padding:7px 0px;
            }
            .txt-font.border-cell{
                padding-right: 10px;
            }
        }
        .tag-panel .el-button{
            margin: 3px!important;
        }
    }
    .txt-font.border-cell{
        width:96px!important;
        span{
            clear:both;
            display:block;
            border:1px solid #999999;
            line-height:30px;
            color:#999;
            font-size:13px;
            height:32px;
            width:100%;
            box-sizing:border-box;
            border-radius:4px;
            text-align:center;
            margin: 3px 0;
        }
    }
    &.mobile{
        position:relative;
        z-index:100;
        .txt-font.border-cell{
            width:100%!important;
            padding:0px!important;
            span{
                border:0px;
                border-left:1px solid #dcdfe6;
                width:100%;
                border-radius:0px;
                padding-top:5px;
                padding-bottom:5px;
                height:42px;
            }
        }      
        .border-row{
            float:left;
            width:25%;
            cursor: pointer;
            .flex-content{
                display:none;
            }
            &:first-child{
                .txt-font.border-cell{
                    span{border-left:0px;}
                }
            }
            &.active{
                .txt-font.border-cell{
                    color:#fff;
                    span{
                        border:0px;
                        width:100%;
                        background:#136add!important;
                        color:#fff;
                    }
                } 
                .flex-content{
                    display:block;
                    position:absolute;
                    top:42px;
                    background:#136add;
                    padding:10px 15px 15px 15px;
                    left:0px;
                    right:0px;
                    .tag-panel{
                        .el-button{
                            margin-top:5px!important;
                            margin-left:0px!important;
                            margin-right:5px!important;
                        }
                    }
                    .el-button--primary.is-plain{
                        color:#4c4c4c;
                        background:#fff;
                        &:active {
                            border-color:#fff!important;
                            color:#FFFFFF!important;
                            background:#136add!important;
                        }                        
                        &.is-active{
                            border:1px solid #fff!important;
                            background:#136add!important;
                        }
                    }
                }  
            }
        }
    }
}
.ArticleTwo{
    background:#fff;
    &.post-tag{
        padding: 10px 10px 0;
        margin-top: 10px;
        position: relative;
        &:before{
            content:'';
            display: block;
            left: 10px;
            right: 10px;
            top:0;
            height: 1px;
            background-color: #eaeef0;
            position: absolute;
        }
        .border-row{
            float:left;
            width:auto;
            padding-right:30px;
        }
        .border-row{
          .border-cell{
            padding:6px 0px;
          }
        }
        .txt-font.border-cell{
            width: 96px;
            text-align:center;
            padding-right: 10px;
            line-height:24px;
            font-size:14px;
            color:#999;
            position:relative;
            margin-right: 10px;
            &:after{
                content:'';
                position:absolute;
                right:0px;
                top:12px;
                height:12px;
                width:1px;
                background:#b4b4b4;
            }
        }
        .tag-panel{
            width:100%;
            overflow:hidden;
            font-size:0;
            .el-tag{
                vertical-align:top;
                cursor:pointer;
                transition:all 1s;
                background:none;
                border:0px;
                color:#4c4c4c;
                font-size:14px;
                height:24px;
                line-height:24px;
                &:hover{
                  color:#2e84f6;
                }
                &.is-active{
                    color:#2e84f6;
                }
            }
        }
        &.mobile{
            margin-top:0px;
            padding:10px 15px;
            .flex-wrap{
              .txt-font{
                padding:5px 10px 5px 0px;
                text-align:center;
                width:85px;
              }
            }
          }
    }
}
.ArticleThree{
    .ArticleThreeDefault{
        padding:20px 30px;
        background:#fff;
    }
    .ArticleThreeList{
        background:#fff;
    }
    .depart-ul{
        width:100%;
        overflow:hidden;
        padding:0px 0px;
        .item-depart{
            overflow:hidden;
            margin-bottom:25px;
            h4{
                width:100%;
                overflow:hidden;
                padding:10px 0;
                text-align:left;
                font-size:18px;
                line-height:24px;
                margin:0px 0px 5px 0px;
                color:#1a1a1a;
            }
            .clerk-ul{
                border:1px solid #d4dde2;
                border-top:0px;
                width:100%;
                &:after{
                    content:'';
                    display:block;
                    width:100%;
                    clear:both;
                }
                .item-clerk{
                    width:110px;
                    float:left;
                    border-right:1px solid #d4dde2;
                    dt{
                        width:100%;
                        padding:15px 0;
                        font-size:16px;
                        line-height:24px;
                        text-align:center;
                        font-weight:normal;
                        position:relative;
                        color:#333;
                        height: 54px;
                        &:before{
                            content:'';
                            display:block;
                            width:4000%;
                            height:1px;
                            background:#d4dde2;
                            position:absolute;
                            left:0;
                            top:0;
                        }
                        span{
                            font-size:12px;
                        }
                    }
                    dd{
                        width:100%;
                        padding:12px 0;
                        position:relative;
                        span{
                            display:block;
                            width:90px;
                            margin:0 auto;
                            height:24px;
                            font-size:0;
                        }
                        &:before{
                            content:'';
                            display:block;
                            width:4000%;
                            height:1px;
                            background:#d4dde2;
                            position:absolute;
                            left:0;
                            top:0;
                        }
                    }
                }
            }
        }
      }
    .scroll-panel{
        padding:0px;
    }
}
.ArticleFour{
    width:100%;
    overflow:hidden;
    tr{
        td{
            vertical-align:top;
            padding: 5px 0;
            .el-input__inner{
                background:#f9fbfc;
                border:1px solid #e9ecf0;
                border-radius:2px;
                text-align:left;
                width:100%;
                height:32px;
                line-height:30px;
                box-sizing:border-box;
                padding-left:10px;
                font-size:14px;
                &:focus{
                    border-color:$menuActiveText;
                }
            }
            .el-textarea__inner{
                background:#f9fbfc;
                border:1px solid #e9ecf0;
                border-radius:2px;
                text-align:left;
                width:100%;
                line-height:30px;
                box-sizing:border-box;
                padding-left:10px;
                font-size:14px;
                &:focus{
                    border-color:$menuActiveText;
                }
            }
            .el-input{
                margin: 4px;
            }
            .el-select{
                display: block;
            }
            .ArticleFourTit{
                .title-color{
                    strong{
                        float:left;
                        width: 116px;
                        font-size:15px;
                        font-weight:normal;
                        color:#1a1a1a;
                        line-height:32px;
                        margin:4px 0;
                        padding-right: 6px;
                        text-align: right;
                    }
                    .item-form-panel{
                        float:left;
                        border:1px solid #e6e6e6;
                        border-radius:3px;
                        padding:5px 0px 5px 6px;
                        margin:4px;
                        span{
                            float:left;
                            width:20px;
                            height:20px;
                            border-radius:2px;
                            margin-right:6px;
                            transition:all 0.5s;
                            cursor:pointer;
                            &.TitColor{
                                border-radius:50%;
                            }
                        }
                    }
                }
                .flex-content{
                    padding-right:80px;
                }
            }
            .ArticleFourTag{
                clear:both;
                display:block;
                .other-td{
                    float:left;
                    strong{
                        float:left;
                        line-height:32px;
                        vertical-align:middle;
                        font-size:15px;
                        color:#1a1a1a;
                        font-weight:normal;
                        width:116px;
                        text-align:right;
                        padding-right: 6px;
                        margin: 4px 0;
                    }
                    .item-form-panel{
                        float:left;
                        margin:0px;
                    }
                }
            }
            .itemacces{
                width:300px;
                margin: 4px;
                .el-input{
                    margin: 0;
                }
            }
            .item-form-panel{
                em{
                  font-style: normal;
                  font-weight: normal;
                  margin-left: 10px;
                  line-height: 32px;
                }
            }
            .item-textarea{
                margin: 4px;
            }
            .el-select .el-tag__close.el-icon-close{
                right: -4px;
            }
        }
        td.type-title{
            text-align:right;
            span{
                display:inline-block;
                line-height:40px;
                vertical-align:middle;
                font-size:15px;
                color:#1a1a1a;
                word-wrap: break-word;
                word-break: break-all;
                width:116px;
                padding-right:6px;
            }
        }
    }
}
.WebServerAddEditBtn.ArticleFive{
    padding-left:120px;
}
.ArticleSix{
    clear:both;
    .ArticleSixFl{
        width: 74%;
        float:left;
        padding-right: 15px;
        .main-article{
            background:#fff;
            border-radius: 8px;
            overflow: hidden;
        }
        &.no-comment{
            width: 100%;
            float:none;
            padding:0;
        }
    }
    .ArticleSixFr{
        float:right;
        width:26%;
        background:#fff!important;
        padding:20px;
        margin:0!important;
        border-radius:8px;
        .el-card__body{
            height: 100%;
        }
        .ArticleSixFrTop{
            clear: both;
            display: block;
            background: #fff;
            z-index: 2;
            &.no-comment{
                .ArticleSixFrTopMain{
                    margin-bottom:0;
                    &:after{
                        display: none;
                    }
                    .btn-rich{
                        padding-bottom:0;
                    }
                }
            }
            .ArticleSixFrTopHeader{
                font-size:20px;
                color:#383838;
                line-height:24px;
                strong{
                    font-weight: normal;
                }
                span{
                    font-size:14px;
                    color:#9a9a9a;
                    display: inline-block;
                    padding-left:5px;
                }
            }
            .ArticleSixFrTopMain{
                clear: both;
                display: block;
                background:#fff;
                margin-top: 15px;
                margin-bottom: 10px;
                position: relative;
                .ueditor-panel{
                    border: 1px solid #dee1e7;
                }
                .btn-rich{
                    position: relative;
                    background: #fff;
                    z-index: 2;
                    padding: 20px 0px 30px 0px;
                    .hide-name{
                        float: left;
                        font-size: 14px;
                        color: #778293;
                        margin: 0px;
                        line-height: 30px;
                        height: 30px;
                        .el-switch__label{
                            height: 30px;
                            color: #0480ff;
                            &.is-active {
                                color: #666;
                            }
                        }
                        .el-switch__core{
                            width:26px!important;
                            height: 14px;
                            &:after{
                                width: 10px;
                                height: 10px;
                            }
                        }
                        &.is-checked .el-switch__core::after {
                            margin-left: -11px;
                        }
                    }
                    .el-button--primary{
                        float:right;
                        font-size:16px;
                        color:#242122;
                        line-height:30px;
                        width: 90px;
                        border-radius:15px;
                        background:#f9a500;
                        box-shadow:0px 5px 10px rgba(247,142,66,0.75);
                        border: 0px;
                        padding: 0px;
                        font-weight: bold;
                        transition: all .3s;
                        &:hover{
                            box-shadow:0px 1px 2px rgba(247,142,66,0.75);
                        }
                    }
                }
                .el-switch.is-checked .el-switch__core {
                    border-color: #0480ff;
                    background-color: #0480ff;
                }
                &:after{
                    content: "";
                    position: absolute;
                    left: 15px;
                    right: 15px;
                    bottom: 0px;
                    height: 20px;
                    border-radius: 10px;
                    box-shadow: 5px 5px 20px #e2e2e2;
                    display: block;
                    background: #000;
                    z-index: 1;
                }
            }
        }
        .ArticleSixFrBom{
            display: block;
            margin-top: 10px;
            .item-comment{
                width: 100%;
                overflow: hidden;
                border-bottom: 1px solid #e8eef1;
                padding-top: 14px;
                padding-bottom: 10px;
                .comment-header{
                    height:24px;
                    position: relative;
                    padding-left:24px;
                    &:before{
                        content:'';
                        display: block;
                        width:12px;
                        height:12px;
                        border:3px solid #b4d4ff;
                        border-radius:50%;
                        background:#fff;
                        position: absolute;
                        top:6px;
                        left:0px;
                    }
                    span{
                        display: block;
                        float:left;
                        height: 24px;
                        line-height: 24px;
                        &.floor{
                            color:#999;
                        }
                        &.name{
                            font-weight: bold;
                            font-size:16px;
                            color:#182332;
                        }
                        &.time{
                            font-size:12px;
                            color:#7f8596;
                            display: inline-block;
                            padding-left:8px;
                        }
                        &.delete{
                            display: none;
                        }
                    }
                }
                &:hover{
                    .comment-header{
                        span.delete{
                            float:right;
                            cursor: pointer;
                            display: block;
                            color:#2e88ff;
                            i{
                                font-size: 16px;
                            }
                        }
                    }
                }
                .comment-body{
                    padding:5px 0px 0px 30px;
                    overflow: hidden;
                    p,div{
                        width: 100%;
                        margin: 5px 0;
                        font-size: 15px;
                        color: #2b3848;
                        line-height: 24px;
                    }
                    table{
                        margin:5px 0;
                        font-size: 15px;
                        color: #2b3848;
                        line-height: 24px;
                    }
                    img,video,table{
                        max-width: 100%;
                    }
                }
                &:last-child{
                    border-bottom:0px;
                }
            }
        }
    }
}
.article-info{
    padding:3% 4%;
    .ArticleSixFlTop{
        h1{
            clear:both;
            display:block;
            text-align:left;
            font-size:28px;
            line-height:1.3;
            color:#0b0b0b;
        }
        h2{
            clear:both;
            display:block;
            text-align:left;
            font-size:20px;
            line-height:1.3;
            color:#0b0b0b;
            padding-top:10px;
        }
        .ArticleSixFlTopTag{
            clear:both;
            padding-top:20px;
            padding-bottom:20px;
            .ArticleSixFlTopTagFl{
                float:left;
                span{
                    float:left;
                    margin-right:10px;
                    border-radius:4px;
                    font-size:14px;
                    color:#fff;
                    background:-moz-linear-gradient(135deg, #5ca8fe 0%, #0480ff 100%);
                    background:-webkit-linear-gradient(135deg, #5ca8fe 0%, #0480ff 100%);
                    background:-o-linear-gradient(135deg, #5ca8fe 0%, #0480ff 100%);
                    background:-ms-linear-gradient(135deg, #5ca8fe 0%, #0480ff 100%);
                    background:linear-gradient(135deg, #5ca8fe 0%, #0480ff 100%);
                    line-height:24px;
                    padding:3px 10px;
                    .svg-i{
                        margin-right:5px;
                        width: 16px;
                        height: 16px;
                        font-size: 16px;
                        vertical-align: -1px;
                    }
                    &.back{
                        background: $pink;
                    }
                }
            }
            .ArticleSixFlTopTagFr{
                float:right;
                color:#6688b4;
                font-size:14px;
                line-height:24px;
                padding-top:3px;
                padding-bottom:3px;
                span{
                    margin:0 10px;
                    color: lighten(#6688b4,30%);
                    font-size: 12px;
                }
            }
        }
        .ArticleSixFlTopRead{
            clear:both;
            display:block;
            background:#f1f3f9;
            padding:10px 15px;
            border-radius:4px;
            p{
                clear:both;
                display:block;
                font-size:14px;
                color:#999;
                line-height:24px;
                padding:5px 0px;
            }
        }
    }
    .info-content{
        padding-top:15px; 
        table {width: 100%; border-collapse: collapse; border: solid #a8d3ff; border-width: 1px 0 0 1px; } 
        table td {border: 1px solid #a8d3ff !important;padding: 12px 10px !important;} 
    }
}
.bbs-panel{
    .card-wrap{
        &.search-content{
          h2{
            color: #111;
            span{
              margin:0;
              color: $menuActiveText;
            }
          }
        }
        h2{
          width: 100%;
          text-align: right;
          font-size: 15px;
          color: $menuActiveText;
          line-height: 1.2;
          padding: 15px;
          border-bottom:none;
          span{
            margin-left: 15px;
          }
        }
    }
    .ArticleCard,.WebsiteCard{
        background:#fff;
        border-radius:8px;
        .card-content{
            position: relative;
        }
        .main-content{
            border-radius: 8px;
            background-color: #ffffff;
            padding: 30px 50px 50px 40px;
        }
    }
    .ArticleFour{
        .tab-card{
            margin: 4px;
            box-shadow: none;
        }
    }
}
.mobile{
    .ArticleThree{
        .ArticleThreeDefault{
            padding:10px 15px;
        }
        .depart-ul{
            .item-depart{
                margin-bottom: 10px;
            }
        }
    }
    .ArticleSix{
        .ArticleSixFl{
            .main-article{
                border-radius:0;
            }
        }
        .ArticleSixFr{
            border-radius:0;
        }
    }
    .bbs-panel{
        .ArticleCard,.WebsiteCard{
            border-radius: 0;
            .main-content{
                border-radius: 0;
                padding: 10px 20px 20px 10px;
            }
        }
    }
}