.cn-phone-index{
  .scroll-panel{
    padding:10px;
    .fixed-table .table-mask{
      height: 10px!important;
    }
    .fixed-table .el-table__header-wrapper{
      top:109px;
    }
    .fixed-table .el-table__fixed-header-wrapper{
      top:109px;
    }
    .tipsHas.box-card .el-card__header .tipsHasItem{
      margin-bottom:0px;
    }
  }
  .sub-router{
    width:210px;
  }
  .search-wrap{
    margin: 0 -5px;
    .item-search{
      margin: 5px;
      float:left;
      input::-webkit-input-placeholder {
        color: #606266;
      }
      input::-moz-input-placeholder {
        color: #606266;
      }
      input::-ms-input-placeholder {
        color: #606266;
      }
      .el-input__inner{
        padding-left: 8px;
      }
      .date-range{
        width: 100%;
      }
    }
  }
}
.cn-phone-stat{
  .cn-phone-result.box-card{
    margin-top: 15px;
  }
  .team-list{
    display: inline-block;
    vertical-align: middle;
  }
  .cavans-wrapper{
    width: 100%;
    overflow: hidden;
  }
  .el-row+.el-row{
    margin-top: 15px;
  }
  .chart-wrapper{
    width: 100%;
    overflow: hidden;
    .chart-header{
      padding: 10px;
      position: relative;
      background: #e8f2ff;
      >span{
        display: inline-block;
        line-height: 24px;
        font-size:$fontsize17;
        font-weight: bold;
        color: $menuActiveText;
      }
    }
    .chart-body{
      border: 1px solid #e8f2ff;
      position: relative;
      .abs-canvas{
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        padding: 15px;
        .chart-canvas{
          width: 100%;
          height: 100%;
        }
      }
      .map-panel{
        padding: 30px;
        .map-chart{
            padding: 0 100px 0 0;
        }
        .chart-canvas{
            width: 740px;
            height: 480px;
        }
        .table-panel{
            position: relative;
            .table-chart{
                position: absolute;
                left:0;
                top:0;
                width: 100%;
                height: 100%;
                padding:0;
            }
        }
      }
    }
    .depsix-table{
      .cell{
        text-align: center;
      }
    }
  }
  .table-chart{
    padding: 15px;
  }
}
.Chinaphone{
  .search-wrap{
    padding-bottom:10px;
    margin: 0 -5px;
    .item-search{
      float:left;
      margin: 5px;
      input::-webkit-input-placeholder {
        color: #606266;
      }
      input::-moz-input-placeholder {
        color: #606266;
      }
      input::-ms-input-placeholder {
        color: #606266;
      }
      .el-input__inner{
        padding-left: 8px;
      }
      .date-range{
        width: 100%;
      }
    }
  }
}
.WebServerAddEditBtn.ChinaphoneTwoBtn{
  padding-left:0px;
}
.WebServerAddEditBtn{
  .el-button.exportBtn{
    background-color:#f9a500!important;
    border-color:#f9a500!important;
    font-size:$fontsize17!important;
    min-width:96px;
    box-sizing:border-box!important;
    height:35px;
    line-height:33px!important;
    padding:0px 10px!important;
    .svg-i{
      margin-right: 8px;
    }
    &.is-disabled,&.is-disabled:hover{
        background-color: #ffd27a !important;
        border-color: #ffd27a !important;
        cursor:no-drop;
    }
    &:hover{
      background-color: #fcb528 !important;
      border-color: #fcb528 !important;
    }
  }
  
}
.el-autocomplete-suggestion li{padding: 0 15px;}
.card-content.ChinaphoneTwoBox{
  background:#fff!important;
  border-radius:8px!important;
  padding:20px!important;
}
.ChinaphoneTwo{
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px dashed #d6dbe2;
  padding-bottom: 15px;
  .group-header{
    line-height: 0;
    font-size:0;
    margin-bottom:12px;
    border-bottom:1px dashed #d6dbe2;
    padding-top:4px;
    padding-bottom:6px;
    .el-checkbox{
      .el-checkbox__label{
          line-height:20px!important;
          font-size:$fontsize15!important;
          color:#1a1a1a;
      }
      &.is-bordered{
        border:0px solid #DCDFE6;
        &.el-checkbox--mini{
          height:28px;
        }
      }
    }
    .require{
      font-size:$fontsize13;
      line-height: 24px;
      display: inline-block;
      color: $red;
      margin-left: 10px;
    }
    .all-select{
      line-height: 12px;
      padding: 0px!important;
      border: 0px;
      float: left;
      height: 12px;
      margin:4px 8px 0px 0px !important;
    }
  }
  .group-body{
    width: 100%;
    .team-panel{
      margin:5px 0;
      .team-header{
        line-height: 0;
        font-size:0;
        .require{
          font-size:$fontsize15;
          line-height: 28px;
          margin-right: 10px;
          margin-top: 4px;
          margin-bottom: 4px;
          vertical-align:top;
          display: inline-block;
          width: 82px;
          text-align: right;
          &.tips{
            color: $red;
          }
        }
        .all-select{
          vertical-align: middle;
          line-height: 15px;
        }
      }
      .team-body{
        padding: 5px;
      }
      .team-header{
        clear: both;
        display: block;
        overflow: hidden;
        .team-headerItem{
            float: left;
            .el-date-editor{width:200px; margin:4px 0px 4px 5px;}
            .el-input{width:160px; margin:4px 0;}
        }
      }
      .team-list{
        .item-checkbox{
            vertical-align: middle;
            line-height: 15px;
        }
      }
    }
  }
}
.ChinaphoneNum{
  clear: both;
  display: block;
  background:#fff;
  margin-bottom:10px;
  padding:35px 35px 10px 35px;
  border-radius:8px;
  overflow: hidden;
  .card-header{
    padding:0px;
    h2{
      float: left;
      font-size:$fontsize20;
      color:#2b3848;
    }
    .ChinaphoneNumTag{
      float: right;
      .item-clues{
        float:left;
        position: relative;
        font-size:$fontsize13;
        color:$menuBg;
        cursor: pointer;
        line-height: 23px;
        background:#f5f7fa;
        border-radius: 4px;
        padding:2px 10px;
        margin-right:20px;
        margin-bottom: 5px;
        &:last-child{
          margin-right:0px;
        }
        &:hover,&.active{
          background:$menuActiveText;
          color:#fff;
        }
      }
    }
  }
  .ChinaphoneNumItem{
    .item-number{
      float: left;
      width:20.5%;
      margin-left:6%;
      padding: 25px 0px;
      &:first-child{margin-left:0;}
      &.flat{
        dl{
          dt{
            .flat-icon{
              width: 16px;
              height: 3px;
              margin-left: 6px;
              background: #fcc354;
              display: inline-block;
              vertical-align: 4px;
            }
          }
          dd{
            color: #fcc354;
          }
        }
      }
      &.rise{
        dl{
          dt{
            .svg-i{
              color: #fc5457;
            }
          }
          dd{
            color: #fc5457;
          }
        }
      }
      &.down{
        dl{
          dt{
            .svg-i{
              color: #29cc29;
            }
          }
          dd{
            color: #29cc29;
          }
        }
      }
      dl{
        border-radius:8px;
        border:1px solid #c7cbd5;
        padding:10px 20px 30px 20px;
        background:#fff;
        box-shadow:0px 9px 15px rgba(72,118,164,0.13);
      }
      dt,dd{
        clear: both;
        display: block;
        width: 100%;
        text-align:left;
      }
      dt{
        font-size:$fontsize16;
        line-height: 48px;
        height: 48px;
        .svg-i{
          width: 28px;
          height: 28px;
          font-size:$fontsize25;
          margin-left: 6px;
          vertical-align: middle;
          display: inline-block;
          .svg-icon{
            vertical-align: top;
          }
        }
      }
      dd{
        font-size:$fontsize32;
        line-height: 1;
        color: #fc5457;
      }
    }
  }
}
.ChinaphoneMap{
  clear: both;
  display: block;
  background:#fff;
  border-radius:8px;
  padding:30px 0px 30px 30px;
  .card-header{
    padding:0px 30px 0px 0px;
    h2{
      float: left;
      font-size:$fontsize20;
      color:#2b3848;
    }
    .ChinaphoneMapDate{
      float: right;
      .el-select{
        float: left;
        margin-right:10px;
        width: 120px;
      }
      .date-range{
        width: 240px;
      }
      .el-range-editor.el-input__inner{
        float: left;
      }
    }
  }
  .ChinaphoneMapChart{
    clear: both;
    display: block;
    margin-top:20px;   
    position: relative; 
    margin-right:0px;
    overflow: auto;
    .canvas-wrap{
      position: absolute;
      left:0;
      top:0;
      width: 100%;
      height: 100%;
      .chart-canvas{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.cnClues.table-input{
  .el-textarea .el-textarea__inner{
    height: 74px;
  }
}
@media (max-width:1400px){
  .ChinaphoneNum{
    .ChinaphoneNumItem{
      clear: both;
      padding-top:10px;
      overflow: hidden;
      .item-number{
        width:22%;
        margin-left:4%;
        dl{
          dt{
            font-size:$fontsize15;
          }
          dd{
            font-size:$fontsize36;
          }
        }
      }
    }   
  }
}
@media (max-width:1024px){
  .ChinaphoneNum{
    .ChinaphoneNumItem{
      clear: both;
      padding-top:10px;
      overflow: hidden;
      .item-number{
        dl{
          padding: 10px 10px 30px 10px;
          dd{
            font-size:$fontsize31;
          }
        }
      }
    }   
  }
}

.pro-uploader .el-upload {
  border: 1px solid #DCDFE6;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 120px;
  height: 120px;
  line-height: 120px;
}
.pro-uploader .avatar-uploader-icon {
  font-size: 24px;
  color: #8c939d;
  text-align: center;
}
.pro-uploader .avatar {
  width: 100%;
}

.ChinaphoneNum .chcard-header{
  margin-bottom: 10px;
}
.EnphoneCardFrDate .el-card__header{
  margin-bottom: 10px!important;
}
@media (max-width:1400px){
  .cn-phone-stat{
    .cn-phone-result{
      .el-col-lg-12{
        width: 100%;
      }
    }
  }
  .cn-phone-stat .chart-wrapper .chart-body .map-panel{
    display: block;
  }
  .cn-phone-stat .chart-wrapper .chartmap-body{
    height: auto!important;
  }
  .cn-phone-stat .chart-wrapper .chartmap-body .map-panel .table-panel{
    height: 480px;
  }
}

.ChinaphoneTwoBox .nocount{
  color: #909399;
  font-size: 14px;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.cn-phone-stat .chart-wrapper .chart-body .map-panel .enmap-chart{
  padding-right: 60px;
}
.cn-phone-stat .chart-wrapper .chart-body .map-panel .enmap-chart .chart-canvas{
  width: 780px;
}

.quality-dialog{
  .quality_content{
    border: 1px solid #ebeef5;
    height: calc(100vh - 250px);
    overflow: scroll;
    .quality_title{
      font-size: 0;
      width: 100%;
      border-bottom: 1px solid #ebeef5;
      background: #e2e9ed;
      .title_type{
        display: inline-block;
        vertical-align: middle;
        width: 80px;
        padding: 10px 0;
        text-align: center;
        font-size: 15px;
        color: #000;
      }
      .title_content{
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        padding: 10px 0;
        width: calc(100% - 80px);
        font-size: 15px;
        color: #000;
        padding-left: 20px;
        border-left: 1px solid #ebeef5;
        vertical-align: middle;
      }
    }
  }
  .content_selection{
    &:after{
      content: '';
      display: block;
      clear: both;
    }
    .quality-selection{
      width: calc(100% - 120px);
      float: left;
    }
    .quality-remark{
      width: 120px;
      border-left: 1px solid #ebeef5;
      float: left;
      .normal-div{
        height: 39px;
        text-align: center;
      }
      .normal-div + .normal-div{
        border-top: 1px solid #ebeef5;
      }
      .the-same1,.the-same2,.the-same3,.the-same4,.the-same5,.the-same6,
      .the-same7,.the-same8,.the-same9,.the-same10,.the-same11,.the-same12{
        position: relative;
        span{
          position: absolute;
          width: 100%;
          left: 0;
        }
      }
      .the-same1{
        span{
          top: 12px;
        }
      }
      .the-same2{
        span{
          top: 32px;
        }
      }
      .the-same3{
        span{
          top: 52px;
        }
      }
      .the-same4{
        span{
          top: 72px;
        }
      }
      .the-same5{
        span{
          top: 92px;
        }
      }
      .the-same6{
        span{
          top: 112px;
        }
      }
      .the-same7{
        span{
          top: 132px;
        }
      }
      .the-same8{
        span{
          top: 152px;
        }
      }
      .the-same9{
        span{
          top: 172px;
        }
      }
      .the-same10{
        span{
          top: 192px;
        }
      }
      .the-same11{
        span{
          top: 212px;
        }
      }
      .the-same12{
        span{
          top: 232px;
        }
      }

      .the-same2+.the-same2+.the-same2,
      .the-same2+.the-same2+.the-same2+.the-same2+.the-same2,
      .the-same2+.the-same2+.the-same2+.the-same2+.the-same2+.the-same2+.the-same2,
      .the-same2+.the-same2+.the-same2+.the-same2+.the-same2+.the-same2+.the-same2+.the-same2+.the-same2,
      .the-same3+.the-same3+.the-same3+.the-same3,
      .the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3,
      .the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3,
      .the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3
      .the-same4+.the-same4+.the-same4+.the-same4+.the-same4,
      .the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4,
      .the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4
      .the-same5+.the-same5+.the-same5+.the-same5+.the-same5+.the-same5,
      .the-same6+.the-same6+.the-same6+.the-same6+.the-same6+.the-same6+.the-same6
      {
        border-top: 1px solid #ebeef5;
        span{
          display: block;
        }
      }
      .the-same2+.the-same2,
      .the-same2+.the-same2+.the-same2+.the-same2,
      .the-same2+.the-same2+.the-same2+.the-same2+.the-same2+.the-same2,
      .the-same2+.the-same2+.the-same2+.the-same2+.the-same2+.the-same2+.the-same2+.the-same2,
      .the-same2+.the-same2+.the-same2+.the-same2+.the-same2+.the-same2+.the-same2+.the-same2+.the-same2+.the-same2,
      .the-same3+.the-same3,
      .the-same3+.the-same3+.the-same3,
      .the-same3+.the-same3+.the-same3+.the-same3+.the-same3,
      .the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3,
      .the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3,
      .the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3,
      .the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3.the-same3+.the-same3,
      .the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3.the-same3+.the-same3+.the-same3,
      .the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3+.the-same3.the-same3+.the-same3+.the-same3+.the-same3+.the-same3,
      .the-same4+.the-same4,
      .the-same4+.the-same4+.the-same4,
      .the-same4+.the-same4+.the-same4+.the-same4,
      .the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4,
      .the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4,
      .the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4,
      .the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4,
      .the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4,
      .the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4,
      .the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4+.the-same4,
      .the-same5+.the-same5,
      .the-same5+.the-same5+.the-same5,
      .the-same5+.the-same5+.the-same5+.the-same5,
      .the-same5+.the-same5+.the-same5+.the-same5+.the-same5,
      .the-same5+.the-same5+.the-same5+.the-same5+.the-same5+.the-same5+.the-same5,
      .the-same6+.the-same6,
      .the-same6+.the-same6+.the-same6,
      .the-same6+.the-same6+.the-same6+.the-same6,
      .the-same6+.the-same6+.the-same6+.the-same6+.the-same6,
      .the-same6+.the-same6+.the-same6+.the-same6+.the-same6+.the-same6,
      .the-same6+.the-same6+.the-same6+.the-same6+.the-same6+.the-same6+.the-same6+.the-same6,
      .the-same7+.the-same7,
      .the-same8+.the-same8,
      .the-same9+.the-same9,
      .the-same10+.the-same10,
      .the-same11+.the-same11,
      .the-same12+.the-same12{
        border-top: none;
        span{
          display: none;
        }
      }
    }
  }
  .el-checkbox{
    display: block;
    margin-right: 0;
    white-space: normal;
    height: 39px;
    .el-checkbox__input{
      vertical-align: middle;
      margin-top: 2px;
      width: 80px;
      text-align: center;
      padding: 10px;
    }
    .el-checkbox__label{
      padding-left: 0;
      vertical-align: middle;
      width: calc(100% - 80px);
      padding: 10px 20px;
      border-left: 1px solid #ebeef5;
    }
  }
  .el-checkbox + .el-checkbox{
    border-top: 1px solid #ebeef5;
  }
  .el-radio{
    display: block;
    margin-right: 0;
    white-space: normal;
    .el-radio__input{
      vertical-align: middle;
      margin-top: 2px;
      width: 80px;
      padding: 10px 0;
      text-align: center;
    }
    .el-radio__label{
      vertical-align: middle;
      width: calc(100% - 80px);
      line-height: 19px;
      padding: 10px 20px;
      border-left: 1px solid #ebeef5;
    }
  }
  .el-radio + .el-radio{
    border-top: 1px solid #ebeef5;
  }
  .el-radio-group{
    width: 100%;
  }
}

.old_has_select{
  padding: 0;
  margin: 0 0 30px 0;
  list-style: none;
  height: calc(100vh - 250px);
  overflow-y: scroll;
  .quality_title{
    background: #e2e9ed;
    padding: 12px 20px;
    font-size: 15px;
    color: #000;
    text-align: left;
  }  
  .old_item{
    padding: 12px 20px;
    border: 1px solid #ebeef5;
  }
  .old_item+.old_item{
    border-top: none;
  }
}

.el-table td.el-table__cell .table-score{
  display: inline-block; 
  color: #f73a3e; 
  font-weight: bold;
  cursor: pointer;
  span{
    padding: 5px;
  }
}
.el-popover .pop-p{
  position: relative;
  // padding-left: 25px;
  font-size: 14px;
  line-height: 22px;
  // &:before{
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   left: 10px;
  //   top: 10px;
  //   width: 7px;
  //   height: 2px;
  //   border-radius: 1px;
  //   background-color: #888;
  // }
  display: flex;
  .cont{
    flex: 1;
    max-width: 500px;
  }
  &+.pop-p{
    margin-top: 3px;
  }
}
// .el-popover .pop-time{
//   .tit{
//     color: #333;
//   }
// }
.el-popover .pop-cont{
  margin-top: 5px;
  display: flex;
  // .tit{
  //   color: #333;
  // }
  .pop-ul{
    flex: 1;
  }
}
.pop-quality-hide{
  display: none;
}
