.rowDayScore{
    background-color: #fff;
    padding: 20px 30px 30px 30px;
    .rowTitle{
        &:after{
            content: '';
            display: block;
            clear: both;
        }
        .title-left{
            float: left;
            margin-top: 5px;
            .tit-h3{
                color: #1a1a1a;
                font-size: 16px;
                font-weight: bold;
                display: inline-block;
                vertical-align: top;
            }
            .tit-span{
                color: #a1a1a1;
                font-size: 12px;
                display: inline-block;
                margin-left: 15px;
            }
        }
        .datePicker{
            float: right;
	        border: solid 1px #e1e3ea;
            .el-input{
                width: 118px;
                height: 26px;
                vertical-align: middle;
                font-size: 12px;
                color: #666;
                .el-input__inner{
                    line-height: 26px;
                    height: 26px;
                    border: none;
                    padding-left: 12px;
                    padding-right: 28px;
                }
                .el-input__prefix{
                    right: 6px;
                    text-align: right;
                    font-size: 14px;
                    left: auto;
                    .el-input__icon{
                        line-height: 26px;
                    }
                }
                .el-icon-circle-close{
                    display: none;
                }
            }
            .go-left,.go-right{
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
                line-height: 26px;
                padding: 0 10px;
                color: #9ea5af;
            }
            .go-left{
                &:before{
                    content: '';
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 9px;
                    width: 6px;
                    height: 10px;
                    background: url(../assets/left-btn.png) left center no-repeat;
                    background-size: 100% auto;
                    margin-right: 10px;
                }
            }
            .go-right{
                border-left: 1px solid #e1e3ea;
                &:after{
                    margin-left: 10px;
                    content: '';
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 9px;
                    width: 6px;
                    height: 10px;
                    background: url(../assets/right-btn.png) left center no-repeat;
                    background-size: 100% auto;
                }
            }
            .on{
                background-color: #f6f7f8;
                cursor: pointer;
                border: none;
            }
        }
    }
    .rowLineItem{
        padding-top: 10px;
        clear:both;
        display:block;
        width: 55%;
        float: left;
        li{
            clear:both;
            padding-top:20px;
            padding-bottom:20px;
            .svg-i{
                width:42px;
                height:42px;
                background:#f7e1e1;
                display:block;
                text-align:center;
                line-height:42px;
                font-size:28px;
                color:#f38080;
                margin-right:20px;
            }
            p{
                font-size:14px;
                color:#333;
                line-height:26px;
                strong{
                    float:right;
                    font-size:24px;
                    color:#3f3232;
                    font-weight:normal;
                }
                span{
                    clear:both;
                    display:block;
                    margin-top:8px;
                    height:8px;
                    border-radius:4px;
                    background:#f0f1f2;
                    line-height:1;
                    i{
                        clear:both;
                        display:inline-block;
                        border-radius:4px;
                        background:#f38080;
                        box-shadow:0px 4px 13px rgba(241,101,101,0.57);
                        height:100%;
                        vertical-align:top;
                    }
                }
            }
            &.rowOneColor{
                .svg-i{
                    background:#d8f0ec;
                    position: relative;
                    color: #59cab6;
                }
                p{
                    span{
                        i{
                            background:#59cab6;
                            box-shadow:0px 4px 13px rgba(89, 202, 182, 0.25);
                        }
                    }
                }
            }
            &+li{
                padding-top:24px;
                padding-bottom: 0;
                .svg-i{
                    background:#dce7fd;
                    position: relative;
                    color: #2259e5;
                    .svg-icon{
                        vertical-align: -0.08em;
                    }
                }
                p{
                    span{
                        i{
                            background:#2259e5;
                            box-shadow: 0px 4px 13px rgba(34, 89, 229, 0.25);
                        }
                    }
                }
            }
        }
    }
    .rowCountItem{
        width: 34%;
        float: right;
        padding-top: 26px;
        position: relative;
        &:after{
            content: '';
            display: block;
            clear: both;
        }
        &:before{
            content: '';
            display: block;
            position: absolute;
            left: -14px;
            top: 42px;
            bottom: 0;
            width: 1px;
            background-color: #f0f0f0;
        }
        li{
            position: relative;
            padding-left: 55px;
            p{
                color: #666666;
                font-size: 14px;
                line-height: 30px;
                span{
                    font-size: 24px;
                    margin-left: 18px;
                }
            }
        }
        li+li{
            border-top: solid 1px #f0f0f0;
        }
        .countMonth{
            padding-top: 20px;
            padding-bottom: 32px;
            p span{
                color: #feb946;
                display: inline-block;
                vertical-align: top;
                line-height: 26px;
            }
        } 
        .countDay{
            padding-top: 26px;
            padding-bottom: 19px;
            p span{
                color: #f16565;
                display: inline-block;
                vertical-align: top;
                line-height: 26px;
            }
        }
    }
}

.rowDealCount{
    background-color: #fff;
    padding: 20px 30px 40px 30px;
    .rowTitle{
        &:after{
            content: '';
            display: block;
            clear: both;
        }
        .title-left{
            float: left;
            margin-top: 5px;
            .tit-h3{
                color: #1a1a1a;
                font-size: 16px;
                font-weight: bold;
                display: inline-block;
                vertical-align: top;
            }
            .tit-span{
                color: #a1a1a1;
                font-size: 12px;
                display: inline-block;
                margin-left: 15px;
            }
        }
        .datePicker{
            float: right;
	        border: solid 1px #e1e3ea;
            .el-input{
                width: 98px;
                height: 26px;
                font-size: 12px;
                color: #666;
                vertical-align: middle;
                .el-input__inner{
                    line-height: 26px;
                    height: 26px;
                    border: none;
                    padding-left: 12px;
                    padding-right: 26px;
                }
                .el-input__prefix{
                    right: 6px;
                    text-align: right;
                    font-size: 14px;
                    left: auto;
                    .el-input__icon{
                        line-height: 26px;
                    }
                }
                .el-icon-circle-close{
                    display: none;
                }
            }
        }
    }
    .rowMain{
        margin-top: 20px;
        .maintit{
            text-align: right;
            padding-right: 12px;
            font-size: 14px;
            color: #faa642;
        }
        .departLineBox{
            margin-top: 20px;
            li{
                .departName{
                    font-size:12px;
                    color:#111;
                    line-height:26px;
                    width:65px;
                    text-align:left;
                }
                .departLine{
                    height:26px;
                    background:#f4f7fd;
                    position:relative;
                    span{
                        position: absolute;
                        left: 0;
                        top: 4px;
                        height: 18px;
                    }
                    .progressLine{
                        background-color: #2259e5;
                        i{
                            position: absolute;
                            left: 100%;
                            padding-left: 10px;
                            font-size: 12px;
                            height: 18px;
                            line-height: 18px;
                            color: #555;
                            font-style: normal;
                            z-index: 33;
                        }
                    }
                    .standardLine{
                        border-right:1px dashed #5fc63a;
                    }
                    .mediumLine{
                        border-right:1px dashed #ffb525;
                    }
                    .excellentLine{
                        border-right:1px dashed #ff3333;
                    }
                }
                .departLine2{
                    background: none;
                    height: 14px;
                    .step{
                        line-height: 14px;
                        font-size: 12px;
                        color: #999;
                        position: absolute;
                        left: 0;
                        top: 4px;
                    }
                    .step+.step{
                        left: 25%;
                    }
                    .step+.step+.step{
                        left: 50%;
                    }
                    .step+.step+.step+.step{
                        left: 75%;
                    }
                    .step+.step+.step+.step+.step{
                        left: auto;
                        right: 0;
                    }
                }
                .departScore{
                    font-size:16px;
                    width:80px;
                    text-align:center;
                    color: #cccccc;
                    span{
                        display: inline-block;
                        height: 26px;
                        line-height: 26px;
                        font-size: 12px;
                    }
                    span:before{
                        content: '';
                        display: inline-block;
                        vertical-align: top;
                        width: 20px;
                        height: 26px;
                        background-image: none;
                        background-size: 100% auto;
                        background-repeat: no-repeat;
                        background-position: center center;
                        margin-right: 2px;
                    }
                }
                .goodScore{
                    color: #fbac4a;
                    span:before{
                        background-image: url(../assets/no_icon.png);
                    }
                }
            }
            li+li{
                margin-top: 22px;
            }
            li+.lase_li{
                margin-top: 16px;
            }
        }
        .departMean{
            font-size:12px;
            color:#111;
            text-align:center;
            line-height:12px;
            margin-top: 28px;
            span{
                padding-left:13px;
                padding-right:13px;
                display:inline-block;
                line-height:12px;
                &:before{
                    content:'';
                    margin-right:10px;
                }
                &:first-child{
                    &:before{
                        width:10px;
                        height:10px;
                        background:#2259e5;
                        display:inline-block;
                    }
                }
                &:first-child+span{
                    &:before{
                        width:0px;
                        height:10px;
                        border-left: 1px dashed #5fc63a;
                    }
                }
                &:first-child+span+span{
                    &:before{
                        width:0px;
                        height:10px;
                        border-left: 1px dashed #ffb525;
                    }
                }
                &:first-child+span+span+span{
                    &:before{
                        width:0px;
                        height:10px;
                        border-left: 1px dashed #ff3333;
                    }
                }
            }
        }
    }
}

.rowDayCount{
    border-top: 1px solid #eaeaea;
    background-color: #fff;
    padding: 20px 30px 26px 30px;
    .rowTitle{
        margin-bottom: 30px;
        &:after{
            content: '';
            display: block;
            clear: both;
        }
        .title-left{
            float: left;
            margin-top: 5px;
            .tit-h3{
                color: #1a1a1a;
                font-size: 16px;
                font-weight: bold;
                display: inline-block;
                vertical-align: top;
            }
            .tit-span{
                color: #a1a1a1;
                font-size: 12px;
                display: inline-block;
                margin-left: 15px;
            }
        }
    }

    .legendFly{
        text-align: center;
        margin-top: 15px;
        span{
            padding-left: 27px;
            display: inline-block;
            font-size: 12px;
            line-height: 14px;
            color: #111;
            position: relative;
            margin: 0px 15px;
            &.legendItem1{
                padding-left: 20px;
                &:before{
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    background: #ffe1e0;
                    position: absolute;
                    left:0px;
                    top: 3px;
                    border-top: 1px dashed #ff7575;
                }
            }
            &.legendItem2{
                padding-left: 20px;
                &:before{
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    background: #3ebea7;
                    position: absolute;
                    left:0px;
                    top: 3px;
                }
            }
            &.legendItem4{
                padding-left: 20px;
                &:before{
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    background: #f47070;
                    box-sizing: border-box;
                    position: absolute;
                    left:0px;
                    top: 3px;
                }
            }
            &.legendItem5{
                padding-left: 20px;
                &:before{
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    background: #225ae5;
                    position: absolute;
                    left:0px;
                    top: 3px;
                }
            }
            &.legendItem6{
                padding-left: 20px;
                &:before{
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    background: #ebaa46;
                    position: absolute;
                    left:0px;
                    top: 3px;
                }
            }
        }
    }
}

.rowDayFinish{
    border-top: 1px solid #eaeaea;
    background-color: #fff;
    padding: 22px 30px 30px 30px;
    .rowTitle{
        &:after{
            content: '';
            display: block;
            clear: both;
        }
        .title-left{
            float: left;
            margin-top: 5px;
            .tit-h3{
                color: #1a1a1a;
                font-size: 16px;
                font-weight: bold;
                display: inline-block;
                vertical-align: top;
            }
            .tit-span{
                color: #a1a1a1;
                font-size: 12px;
                display: inline-block;
                margin-left: 15px;
            }
        }
        .datePicker{
            float: right;
	        border: solid 1px #e1e3ea;
            .el-input{
                width: 98px;
                height: 26px;
                font-size: 12px;
                color: #666;
                vertical-align: middle;
                .el-input__inner{
                    line-height: 26px;
                    height: 26px;
                    border: none;
                    padding-left: 12px;
                    padding-right: 26px;
                }
                .el-input__prefix{
                    right: 6px;
                    text-align: right;
                    font-size: 14px;
                    left: auto;
                    .el-input__icon{
                        line-height: 26px;
                    }
                }
                .el-icon-circle-close{
                    display: none;
                }
            }
        }
    }
    .depDayCont{
        border: solid 1px #e5ecf2;
        margin-top: 16px;
        display: flex;
        &:after{
          content: '';
          display: block;
          clear: both;
        }
        li{
          flex:1;
          text-align: center;
          .depName{
            background-color: #f4f6f9;
            line-height: 45px;
            font-size: 14px;
            color: #111;
          }
          .depRes{
            padding-top: 20px;
            padding-bottom: 20px;
            .resnum{
              color: #000000;
              font-size: 16px;
            }
            .resdet{
              margin-left: 5px;
              font-size: 13px;
              position: relative;
              color: #666;
              i{
                color: #f04c4c;
                margin-left: 2px;
                font-style: normal;
              }
            }
            .down{
                i{
                    color: #2dbb4c;
                }
            }
          }
        }
        li+li{
          border-left: 1px solid #e5ecf2;
        }
    }
}

.rowMonthDeal{
    border-top: 1px solid #eaeaea;
    background-color: #fff;
    padding: 20px 30px 30px 30px;
    .rowTitle{
        &:after{
            content: '';
            display: block;
            clear: both;
        }
        .title-left{
            float: left;
            margin-top: 5px;
            .tit-h3{
                color: #1a1a1a;
                font-size: 16px;
                font-weight: bold;
                display: inline-block;
                vertical-align: top;
            }
            .tit-span{
                color: #a1a1a1;
                font-size: 12px;
                display: inline-block;
                margin-left: 15px;
            }
        }
    }
    .depMonthCont{
        margin-top: 26px;
        &:after{
          content: '';
          display: block;
          clear: both;
        }
        thead{
            height: 44px;
            background-color: #f4f6f9;
            color: #111;
            font-size: 14px;
            font-weight: normal;
            tr,th{
                background-color: #f6f7fa;
                font-weight: normal;
            }
            th.el-table__cell.is-leaf{
                border-bottom: none;
                padding: 0;
            }
        }
        .cell{
            text-align: center;
            line-height: normal;
        }
        td.el-table__cell{
            padding: 16px 0 14px;
            .cet01{
                color: #4d4d4d;
                font-size: 16px;
                padding-left: 22px;
                background-image: url(../assets/face01.png);
                background-position: left center;
                background-repeat: no-repeat;
                background-size: auto;
            }
            .cet02{
                color: #2f9e32;
                font-size: 16px;
                padding-left: 22px;
                background-position: left center;
                background-repeat: no-repeat;
                background-size: auto;
                background-image: url(../assets/face02.png);
            }
            .cet03{
                color: #ff7e00;
                font-size: 16px;
                padding-left: 22px;
                background-position: left center;
                background-repeat: no-repeat;
                background-size: auto;
                background-image: url(../assets/face03.png);
            }
            .cet04{
                color: #ff3434;
                font-size: 16px;
                padding-left: 22px;
                background-position: left center;
                background-repeat: no-repeat;
                background-size: auto;
                background-image: url(../assets/face04.png);
            }
        }
        .el-table__row .el-table__cell:first-child{
            color: #111;
        }
    }
    .el-table--group, .el-table--border{
        border-top: 1px solid #e5ecf2;
        border-left: 1px solid #e5ecf2;
    }
    .el-table--border .el-table__cell{
        border-right: 1px solid #e5ecf2;
    }
    .el-table th.el-table__cell.is-leaf, .el-table td.el-table__cell{
        border-bottom: 1px solid #e5ecf2;
    }
}

.target_left{
    padding-right: 10px;
}

.target_right{
    padding-left: 10px;
}

.rowTitle .datePicker .el-icon-date:before{
    content: '';
    display: block;
    width: 24px;
    height: 26px;
    background: url(../assets/calender.png) center center no-repeat;
    background-size: auto;
}

.rowDealCount{
    background-color: #fff;
    padding: 20px 30px 30px 30px;
    .rowTitle{
        &:after{
            content: '';
            display: block;
            clear: both;
        }
        .title-left{
            float: left;
            margin-top: 5px;
            .tit-h3{
                color: #1a1a1a;
                font-size: 16px;
                font-weight: bold;
                display: inline-block;
                vertical-align: top;
            }
            .tit-span{
                color: #a1a1a1;
                font-size: 12px;
                display: inline-block;
                margin-left: 15px;
            }
        }
        .datePicker{
            float: right;
	        border: solid 1px #e1e3ea;
            .el-input{
                width: 98px;
                height: 26px;
                font-size: 12px;
                color: #666;
                vertical-align: middle;
                .el-input__inner{
                    line-height: 26px;
                    height: 26px;
                    border: none;
                    padding-left: 12px;
                    padding-right: 26px;
                }
                .el-input__prefix{
                    right: 6px;
                    text-align: right;
                    font-size: 14px;
                    left: auto;
                    .el-input__icon{
                        line-height: 26px;
                    }
                }
                .el-icon-circle-close{
                    display: none;
                }
            }
        }
    }
    .enrowMain{
        margin-top: 20px;
        .enTitle{
            .leftTitle{
                float: left;
                span{
                    color: #a5a5a5;
                    font-size: 12px;
                    position: relative;
                    &:before{
                        content: '';
                        display: block;
                        position: absolute;
                        left: 50%;
                        bottom: -10px;
                        margin-left: -5px;
                        width: 0;
                        height: 0;
                        border-top: 5px solid #bdd1f4;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                    }
                }
                .tit2{
                    margin-left: 40px;
                    position: relative;
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        width: 29px;
                        height: 1px;
                        background-color: #a6a0a2;
	                    opacity: 0.46;
                        left: -35px;
                        top: 7px;
                    }
                }
                .tit3{
                    margin-left: 52px;
                    position: relative;
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        width: 39px;
                        height: 1px;
                        background-color: #a6a0a2;
	                    opacity: 0.46;
                        left: -45px;
                        top: 7px;
                    }
                }
            }
            .departMean{
                float: right;
                font-size:12px;
                color:#111;
                line-height:12px;
                span{
                    padding-left:30px;
                    display:inline-block;
                    line-height:12px;
                    &:before{
                        content:'';
                        margin-right:10px;
                    }
                    &:first-child{
                        &:before{
                            width:10px;
                            height:10px;
                            background:#2259e5;
                            display:inline-block;
                        }
                    }
                    &:first-child+span{
                        &:before{
                            width:0px;
                            height:10px;
                            border-left: 1px dashed #5fc63a;
                        }
                    }
                    &:first-child+span+span{
                        &:before{
                            width:0px;
                            height:10px;
                            border-left: 1px dashed #ffb525;
                        }
                    }
                    &:first-child+span+span+span{
                        &:before{
                            width:0px;
                            height:10px;
                            border-left: 1px dashed #ff3333;
                        }
                    }
                }
            }
        }
        .departLineBox{
            margin-top: 20px;
            li{
                align-items: center;
                .departName{
                    font-size:12px;
                    color:#111;
                    line-height:26px;
                    width:95px;
                    text-align:left;
                }
                .delCircle{
                    width: 60px;
                    height: 60px;
                    position: relative;
                    .passCircle{
                        position: absolute;
                        left: -2px;
                        top: -2px;
                        right: -2px;
                        bottom: -2px;
                        width: 64px;
                        height: 64px;
                        .left{
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 32px;
                            height: 64px;
                            overflow: hidden;
                            .line{
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 64px;
                                height: 64px;
                                border: 9px solid transparent;
                                border-top-color: #d4f5ca;
                                border-left-color: #d4f5ca;
                                border-radius: 50%;
                            }
                            
                        }
                        .right{
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 32px;
                            height: 64px;
                            overflow: hidden;
                            .line{  
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 64px;
                                height: 64px;
                                border: 9px solid transparent;
                                border-bottom-color: #d4f5ca;
                                border-right-color: #d4f5ca;
                                border-radius: 50%;
                            }
                        }
                    }
                    .numCircle{position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        .left{
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 30px;
                            height: 60px;
                            overflow: hidden;
                            .line{
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 60px;
                                height: 60px;
                                border: 5px solid transparent;
                                border-top-color: #2259e5;
                                border-left-color: #2259e5;
                                border-radius: 50%;
                            }
                            
                        }
                        .right{
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 30px;
                            height: 60px;
                            overflow: hidden;
                            .line{  
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 60px;
                                height: 60px;
                                border: 5px solid transparent;
                                border-bottom-color: #2259e5;
                                border-right-color: #2259e5;
                                border-radius: 50%;
                            }
                        }
                    }
                    .numShow{
                        text-align: center;
                        padding-top: 14px;
                        .nowNum{
                            display: block;
                            color: #2259e5;
                            font-size: 12px;
                            padding-bottom: 4px;
                            position: relative;
                            &:before{
                                content: '';
                                display: block;
                                position: absolute;
                                width: 27px;
                                height: 1px;
                                left: 50%;
                                bottom: 0;
                                margin-left: -13px;
                                background-color: #d5d5d5;
                            }
                        }
                        .aimNum{
                            display: block;
                            font-size: 12px;
                            color: #7f7f7f;
                            margin-top: 3px;
                        }
                    }
                }
                .delText{
                    color: #a2a2a2;
                    font-size: 12px;
                    width: 84px;
                    text-align: center;
                }
                .departLine{
                    height:26px;
                    background:#f4f7fd;
                    position:relative;
                    z-index: 1;
                    span{
                        position: absolute;
                        left: 0;
                        top: 4px;
                        height: 18px;
                    }
                    .progressLine{
                        background-color: #2259e5;
                        i{
                            position: absolute;
                            left: 100%;
                            padding-left: 10px;
                            font-size: 12px;
                            height: 18px;
                            line-height: 18px;
                            color: #555;
                            font-style: normal;
                        }
                    }
                    .standardLine{
                        border-right:1px dashed #5fc63a;
                    }
                    .mediumLine{
                        border-right:1px dashed #ffb525;
                    }
                    .excellentLine{
                        border-right:1px dashed #ff3333;
                    }
                }
                .departLine2{
                    background: none;
                    padding-top: 10px;
                    border-top: 1px solid #e6e6e6;
                    z-index: 0;
                    .step{
                        line-height: 14px;
                        font-size: 12px;
                        color: #999;
                        position: absolute;
                        left: 0;
                        top: 4px;
                        &:before{
                            content: '';
                            display: block;
                            position: absolute;
                            left: 0;
                            top: -192px;
                            width: 1px;
                            height: 188px;
                            border-left: 1px dashed #ebebeb;
                        }
                    }
                }
                .departScore{
                    font-size:16px;
                    width:80px;
                    text-align:center;
                    color: #cccccc;
                    span:before{
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        width: 22px;
                        height: 26px;
                        background-image: url(../assets/departIcon01.png);
                        background-size: 100% auto;
                        background-repeat: no-repeat;
                        background-position: center center;
                        margin-right: 2px;
                    }
                }
                .goodScore{
                    color: #fbac4a;
                    span:before{
                        background-image: url(../assets/departIcon02.png);
                    }
                }
            }
            .last_li{
                .delCircle{
                    height: 0;
                }

            }
            li+li{
                margin-top: 18px;
            }
            li+.last_li{
                margin-top: -12px;
            }
        }
        
    }
}

@media screen and(max-width:1600px){
    .target-part{
        .target_left{
            width: 100%;
            padding-right: 0;
        }
        .target_right{
            width: 100%;
            padding-left: 0;
            border-top: 1px solid #eaeaea;
        }
    }
}