.dict-page{
    .main-content{
        background-color: #fff;
        border-radius: 8px;
        padding: 30px;
    }
    .item-form{
        width: 100%;
        .item-title{
            height: 42px;
            line-height: 32px;
            padding: 5px;
            font-size:$fontsize15;
        }
        .item-input{
            padding: 5px;
        }
        .tips-font{
            padding: 5px;
            height: 42px;
            line-height: 32px;
            font-size:$fontsize15;
        }
        &.btn-panel{
            padding: 20px;
        }
    }
}