.EnphoneCard{
    .sub-router{
        width:220px;
        .Sales-list{
          width: 100%;
          padding-top:23px;
          dt{
            color: #2e88ff;
            background: #f6f7fb;
            border-color: #f6f7fb;
            line-height: 24px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-bottom: 8px;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 14px;
            span{
              vertical-align: top;
              line-height: 20px;
            }
            i{
              font-style: normal;
            }
          }
        }
    }
    .EnphoneCardFr{
        position: relative;
        .EnStatistical{
          .el-card__header{padding:0px;}
          .EnStatisticalTop{
            margin-bottom:15px;
            .EnStatisticalTopTit{  
              clear: both;
              display: block;
              overflow: hidden;            
              background: -webkit-linear-gradient(#ffffff, #edf2f3);
              background: -o-linear-gradient(#ffffff, #edf2f3);
              background: -moz-linear-gradient(#ffffff, #edf2f3);
              background: linear-gradient(#ffffff, #edf2f3); 
              li{
                float: left;
                padding:0px 20px;
                span{
                  clear: both;
                  display: block;
                  font-size: 14px;
                  font-weight: bold;
                  color:#000;
                  padding:15px 0px;
                  line-height:20px;
                  position: relative;
                  cursor: pointer;
                  &:after{
                    content: '';
                    position: absolute;
                    left:0px;
                    bottom:0px;
                    height:4px;
                    width:0;
                    background:#2e88ff;
                    transition: all 0.5s;
                  }
                  &:hover,&.active{
                    &:after{
                      width:100%;
                    }
                  }
                }
              }
            }
            .EnStatisticalTopBox{
              clear: both;
              display: block;
              background:#fff;
              padding-bottom: 2%;
              dl{
                float: left;
                margin-left:20px;
                margin-top: 2%;
                width:322px;
                border:1px solid #f0f0f0;
                background:#ffffff;
                box-shadow:0px 5px 13px rgba(120,136,158,0.07);
                border-radius:4px;
                dt{
                  clear: both;
                  display: block;
                  font-size:14px;
                  padding:7px 15px;
                  line-height:24px;
                  text-align: left;
                  color:#263445;
                  border-bottom:1px solid #f0f0f0;
                }
                dd{
                  clear: both;
                  display:block;
                  overflow: hidden;
                  padding-top: 40px;
                  padding-bottom: 40px;
                  p{
                    float: left;
                    width:33.3333%;
                    text-align: center;
                    font-size: 14px;
                    line-height: 20px;
                    span{
                      clear: both;
                      display:block;
                      font-size: 30px;
                      line-height: 45px;
                      color:#5ca0f9;
                    }
                  }
                }
                &.dep{
                  dd{
                    p{
                      span{
                        color:#f73a3e;
                      }
                    }
                  }
                }
              }
            }
          }
          .EnStatisticalBom{
            background:#fff;
            border-radius: 8px;
            .EnStatisticalBomBox{
              padding-bottom: 2%;
              &:first-child{padding-top: 2%;}
              h2{
                clear: both;
                display: block;
                font-size:15px;
                padding:7px 0px 7px 30px;
                line-height:24px;
                text-align: left;
                color:#263445;
              }
              .item{
                clear: both;
                display: block;
                .itemPane{
                  float: left;
                  margin-left:30px;
                  margin-top: 10px;
                  width: 400px;
                  border:1px solid #f0f0f0;
                  background:#ffffff;
                  box-shadow:0px 5px 13px rgba(120,136,158,0.07);
                  border-radius:8px;
                  padding: 5px 15px 20px;
                  h3{
                    clear: both;
                    display: block;
                    font-size: 14px;
                    padding:10px 10px 10px 10px;
                    margin-bottom: 5px;
                    font-weight:normal;
                  }
                  .itemPaneTable{
                    .el-table__footer-wrapper{
                      margin-top: 12px;
                      td{
                        border-top: none;
                      }
                    } 
                    .el-table__header-wrapper tbody td, .el-table__footer-wrapper tbody td{
                      background-color: #ffe5c7;
                      color: #c04611;
                      &:first-child{
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                      }
                      &:last-child{
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                      }
                    }
                    .el-table{
                      &::before{
                        display: none;
                      }
                      th.is-leaf, td{
                        border-bottom:none;
                        &:first-child{
                          border-top-left-radius: 8px;
                          border-bottom-left-radius: 8px;
                        }
                        &:nth-child(4){
                          border-top-right-radius: 8px;
                          border-bottom-right-radius: 8px;
                        }
                      }
                      .el-table__header{
                        th{font-weight: normal;}
                      }
                      thead{
                        overflow: hidden;
                        tr{
                          th.is-leaf{
                            border:0px; 
                            background:#edf2f2;
                            color:#999;
                            font-size: 12px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
    }
    .tips-list{
      width: 100%;
      overflow: hidden;
      background:#e4f1f7;
      border:1px solid #47a5cf;
      border-radius:4px;
      padding-top:20px;
      padding-bottom:10px;
      margin-bottom:15px;
      .item-tips{
        float: left;
        width:47%;
        margin-left:2%;
        line-height:16px;
        text-align:left;
        margin-bottom: 10px;
        color:#333333;
        font-size: 13px;
        padding:11px 15px;
        border-radius:20px;
        background-color: #fff;
        background-image: linear-gradient(90deg, #fff 10%, #e4f1f7 50%,#fff);
        background-position: 10% center;
        background-size: 200% 100%;
        background-repeat: no-repeat;
        transition: background-position 1s ease;
        cursor: pointer;
        &:hover{background-position:-50% center}
        i{
          font-size: 13px;
          font-weight: bold;
          padding-left:3px;
          padding-right:3px;
          min-width: 22px;
          height:16px;
          text-align: center;
          line-height: 16px;
          display: inline-block;
          border-radius: 4px;
          color:#fff;
          font-style: normal;
        }
        strong{
          display: inline-block;
          border-right: 1px solid #fdac32;
          padding-right: 10px;
          margin-right: 10px;
          padding-left: 10px;
          width:100px;
        }
        span{}
        &.type-1{
          i{background:#e42c35;}
        }
        &.type-2{
          i{background:#2e88ff;}
        }
      }
    }
}
.box-card.EnphoneCardFrDate{
     .el-card__header{
         .search-wrap{
             padding-bottom:10px;
         }
     }
     .table-button{
       .edit-times{
         display: inline-block;
         color: $menuActiveText;
         cursor: pointer;
         &:hover{
           text-decoration: underline;
         }
       }
     }
}
.EnphoneAddEdit{
  background:#fff;
  padding: 20px 30px;
  .EnphoneAddEditMain{
    .en-phone-tips{
      border: 1px solid #ffd7a0;
      background-color: #fffae9;
      padding: 10px;
      font-size:0;
      line-height:0;
      margin-bottom: 15px;
      .item-input{
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        .tips-title{
          height: 32px;
          line-height: 32px;
          font-size: 14px;
        }
      }
    }
    .tips-list{
      width: 100%;
      overflow: hidden;
      .item-tips{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        line-height:0;
        font-size:0;
        padding: 6px;
        .tips,b,em{
          font-style: normal;
          vertical-align: top;
          font-size: 12px;
          height: 28px;
          line-height: 28px;
        }
        .el-button{
          margin: 0 10px;
        }
        .tips{
          color: #d51d1d;
          font-weight: bold;
        }
        b{
          color: #379bff;
        }
        em{
          color: #a06d14;
        }
        &.type-1{
          border: 1px solid #97b2ff;
          background: #e9ffea;
          
        }
        &.type-2{
          border: 1px solid #ffd8a4;
          background: #fffae9;
        }
      }
    }
    .EnphoneAddEditMainItem{
        position: relative;
        padding:5px 0;
        &.CnphoneAdd{
          padding-top:20px;
          padding-bottom:15px;
        }
        dl{
          float: left;
          dt{
            line-height: 24px;
            font-size: 14px;
            height: 24px;
            span{
              color:red;
              font-size: 12px;
              font-weight: normal;
            }
          }
          dd{
            .clues-list{
              &.price-list{
                .item-clues{
                  width: 160px;
                }
              }
              &.level-list{
                .item-clues{
                  width: 120px;
                }
              }
            }
            p{
              line-height: 32px;
              font-size: 12px;
            }
          }
        }
        &.phone-list{
          dl{
            dd{
              .clues-list{
                .item-clues{
                  width: 160px;
                }
              }
            }
          }
        }
        &.customer-info{
          margin: 0 -5px;
          dl{
            float: left;
            margin: 5px;
            dd{
              margin-top: 5px;
            }
          }
          .date-time{
            width: 100%;
          }
        }
        &.specifications{
          margin: 0 -5px;
          dl{
            margin: 5px;
            dd{
              margin-top: 5px;
            }
            dd+dd{
              margin-top: 10px;
            }
            .spectextarea{
              .el-textarea__inner{
                padding: 10px 15px;
                line-height: 24px;
                height:158px;
              }
            }
            .upload{
              .el-upload{
                float: left;
                margin-bottom: 10px;
              }
              .el-upload__tip{
                float: left;
                margin-bottom: 10px;
                margin-left: 10px;
                margin-top:0;
                width: 410px;
                border-radius: 4px;
                height: 32px;
                line-height: 32px;
                clear:right;
              }
              .el-upload-list{
                width: 100%;
                clear:both;
                border: 1px solid #dcdfe6;
                border-radius: 4px;
                height: 32px;
                .el-upload-list__item{
                  line-height:30px;
                  margin-top:0;
                  .el-icon-close{
                    top: 9px;
                  }                
                }
              }
            }
          }
        }
        &.IntentionEquipment{
          dl{
            dt{
              font-weight: bold;
              padding:10px 0;
              height: 44px;
              position: relative;
              &:before,&:after{
                content:'';
                display: block;
                bottom: 5px;
                position: absolute;
                left:0;
              }
              &:before{
                width: 100%;
                border-bottom: 2px dashed #edf0f4;
              }
              &:after{
                width: 56px;
                border-bottom: 2px solid $menuActiveText;
              }
            }
            dd{
              strong{
                clear: both;
                display: block;
                font-size:14px;
                text-align: left;
                height: 24px;
                line-height: 24px;
                margin-top: 15px;
              }
              .clues-list{
                margin: 0 -5px;
                .item-checkbox{
                  margin: 5px;
                }
              }
              p{
                line-height: 32px;
                font-size: 12px;
                color: #fa4d4d;
                margin-top: 10px;
              }
            }
          }
        }
        &.CnIntentionEquipment{
          dl{
            padding-top: 10px;
            dd{
              .clues-list{
                margin: 10px -5px 0;
                .item-clues{
                  float:left;
                  width:160px;
                  position: relative;
                  font-size: 12px;
                  color: #606266;
                  cursor: pointer;
                  line-height:20px;
                  margin: 5px;
                  border:1px solid #DCDFE6;
                  border-radius:4px;
                  padding:5px 10px 5px 10px;
                  i{
                    float:left;      
                    width: 14px;
                    height: 14px;
                    box-sizing: border-box;
                    border:1px solid #dcdfe6;
                    border-radius: 2px;
                    background:#fff;
                    border:1px solid #DCDFE6;
                    background:#fff;
                    margin-top:3px;
                    margin-right:6px;
                    position: relative;
                  }
                  &.active{
                    color:$menuActiveText;
                    border-color:$menuActiveText;
                    i{
                      border-color:$menuActiveText;
                      background:$menuActiveText;
                      &:after{
                        content: "";
                        transform: rotate(45deg) scaleY(1);
                        box-sizing: content-box;
                        border: 1px solid #fff;
                        border-left: 0;
                        border-top: 0;
                        height: 7px;
                        left: 4px;
                        position: absolute;
                        top: 1px;
                        width: 3px;
                        transition: transform 0.15s ease-in 0.05s;
                        transform-origin: center;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &.material{
          margin: 0 -5px;
          dl{
            float: left;
            margin: 5px;
            dd{
              margin-top:10px;
              span{
                font-size:14px;
                line-height:32px;
              }
              &.CustomerNote{
                position: relative;
                padding-bottom:25px;
                i{
                  position: absolute;
                  left:0px;
                  bottom:0px;
                  font-size:12px;
                  color:#333;
                  line-height: 20px;
                  font-style: normal;
                }
              }
            }
          }
        }
        &.author{
          margin: 0 -5px;
          dl{
            float: left;
            margin: 5px;
            dd{
              margin-top: 5px;
              & > span{
                font-size:14px;
                line-height:32px;
              }
            }
          }
        }
        &.btn-item{
          margin: 0 -5px;
          dl{
            margin: 5px;
          }
        }
        .planeWhite{
          margin-right: 10px;
        }
      }
  }
  .WebServerAddEditBtn.EnphoneAddEditBtn{    
    padding:20px 0px 20px 0px;
  }
}
.en-phone{
  .box-card{
    .search-wrap{
      .item-search{
        float:left;
        .el-radio{
          margin: 5px!important;
        }
      }
    }
  }
}
.en-phone-history{
  .table-text{
    h3{
      color: #666;
      font-weight: normal;
      font-size: 14px;
      padding: 0 5px;
    }
    .line{
      border-top: 1px solid #ddd;
      margin: 10px 0 15px;
    }
    p{
      color: #666;
      span{
        margin:0 5px;
      }
    }
  }
}
.en-phone-search{
  .search-wrap{
    .item-search{
      width: 100%;
      padding: 4px 0;
      &.EnphoneSearchOne{
        .item{
          clear: both;
          padding-top: 5px;
          strong{
            font-size: 14px;
            line-height: 24px;
            margin-right: 10px;
            margin-top: 4px;
            margin-bottom: 4px;
            vertical-align:top;
            display: inline-block;
            width: 72px;
            text-align: right;
          }
          .all-select{
            vertical-align: middle;
            margin-top:4px;
            margin-bottom:4px;            
            .el-checkbox__input.is-indeterminate{
              .el-checkbox__inner{
                background-color:#2e84f6 !important;
                border-color:#2e84f6 !important;
              }
            }            
            &.is-checked,&:hover,&:focus{
                border-color:#2e84f6 !important;
                .el-checkbox__label{
                    color:#2e84f6;
                }
                .el-checkbox__input{
                    .el-checkbox__inner{
                        background-color:#2e84f6;
                        border-color:#2e84f6;
                        &::after{display: none;}
                        &::before{
                            box-sizing:content-box;
                            content:"";
                            background: none;
                            border:1px solid #FFFFFF;
                            border-left:0;
                            border-top:0;
                            height:7px;
                            width:3px;
                            left:3px;
                            top:0px;
                            transform:rotate(45deg) scaleY(1);
                        }
                    }
                }
            }
          }
          .team-list{            
            display: inline-block;
            vertical-align: middle;
            padding-left: 10px;
            .el-checkbox{
              margin-top:4px;
              margin-bottom:4px;
              margin-right: 10px;
              margin-left: 0px;
            }
          }
        }
      }
      &.EnphoneSearchTwo{
        .team-list{     
          margin:0;  
          .item-clues{
            float:none;
            display: inline-block;
          }
        }
        .search-panelThree{
          padding-left:15px;
          margin: 5px;
          .el-radio{margin-right:0px;}
        }
        .el-checkbox.is-bordered.el-checkbox--mini{
          margin:5px 5px 5px 0px;
        }
      }
      &.EnphoneSearchThree{
        .el-input--suffix .el-input__inner{padding:0px 10px;}
        .el-checkbox{margin-right:10px;margin-left: 0px;}
      }
    }
  }
}
.card-header.EnphoneCardHeader{  
  .search-wrap{
      input::-webkit-input-placeholder {
        color: #606266;
      }
      input::-moz-input-placeholder {
        color: #606266;
      }
      input::-ms-input-placeholder {
        color: #606266;
      }
  }
  .clues-info.flex-wrap{
    margin-top: 10px;
  }
}
.EntableColor{
  &.el-table.SiteTable td{
    color:#666;
  }
  .EnColor02{color:#468847;}
  .EnColor05{color:#999797!important;}
  .EnColor06{color:$Rougecolor;font-weight: bold;}
  .EnColor07{color:$red;}
}
.tipsHas{
  &.box-card .el-card__header{    
    padding:0px;
    background:none;
    margin-bottom:0;
    border-radius:0;
    border: none;
    .tipsHasItem{
      padding: 15px;
      background: #fff;
      margin-bottom: 15px;
      border-radius: 8px;
      border: none;
    }
  }
}