.EnphoneCard{
    .sub-router{
        width:200px;
        .sub-wrapper{
          padding: 30px 10px;
          .side-button{
            width: 100%;
            overflow: hidden;
            .el-button{
              display: block;
              width: 100%;
              margin:0px 0px 10px 0px;
              &.el-button--primary.is-plain{
                  color: #808080;
                  background: #ffffff;
                  border-color: #ffffff;
                  line-height:24px;
                  padding-top:2px;
                  padding-bottom:2px;
                  span{
                      display: inline-block;
                      line-height:24px;
                      font-size: 14px;
                      i{
                         display: inline-block;
                         margin-right: 10px;
                         font-size: 15px;
                         .svg-icon{
                              width:20px;
                              height:20px;
                              vertical-align: middle;
                             &.add_en{
                                  width:16px;
                                  height:16px;
                             }
                         }
                      }
                  }
                  &:hover{
                      background: #dae6ec;
                      border-color: #dae6ec;
                      color: #333333;
                  }
              }
            }
          }
          .phone-list{
            width: 100%;
            padding-top:23px;
            dt{
              width: 100%;
              font-size:0;
              line-height:0;
              padding-bottom:7px;
              position: relative;
              padding-left:21px;
              &:after{
                  content:'';
                  position: absolute;
                  left:0px;
                  top:6px;
                  width:11px;
                  height:11px;
                  border:2px solid $menuActiveText;
                  box-sizing: border-box;
                  border-radius:50%;
              }
              span{
                vertical-align: top;
                line-height: 24px;
                font-size: 16px;
                color: $menuActiveText;
              }
            }
            dd{
              width: 100%;
              line-height:0;
              font-size:0;
              padding-left:21px;
              padding-top:3px;
              padding-bottom:3px;
              cursor: pointer;
              &:hover{
                span,i,b,em{
                  text-decoration: underline;
                }
              }
              span,i,b,em{
                font-style: normal;
                font-size: 12px;
                line-height:24px;
                font-weight: normal;
                color:#52575c;
              }
              i{
                margin-left: 5px;
                font-weight: bold;
                color: $red;
              }
              em{
                color: $green;
              }
              b{
                color:$menuActiveText;
              }
            }
            span,i,b,em{
              font-style: normal;
              font-size: 12px;
              line-height:24px;
              font-weight: normal;
              color:#52575c;
            }
            i{
              margin-left: 5px;
              font-weight: bold;
              color: $red;
            }
            em{
              color: $green;
            }
            b{
              color:$menuActiveText;
            }
          }
        }
        .Sales-list{
          width: 100%;
          padding-top:23px;
          dt{
            color: #2e88ff;
            background: #f6f7fb;
            border-color: #f6f7fb;
            line-height: 24px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-bottom: 8px;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 14px;
            span{
              vertical-align: top;
              line-height: 20px;
            }
            i{
              font-style: normal;
            }
          }
        }
    }
    .EnphoneCardFr{
        position: relative;
        .phone-index{
          height: 100%;
          .card-header{
            padding: 5px;
          }
        }
    }
    .tips-list{
      width: 100%;
      overflow: hidden;
      .item-tips{
        width: 100%;
        line-height: 32px;
        text-align: center;
        margin-bottom: 10px;
        cursor: pointer;
        &.type-1{
          border: 1px solid #97b2ff;
          background: #e9ffea;
          color: #d51d1d;
        }
        &.type-2{
          border: 1px solid #ffd8a4;
          background: #fffae9;
          color: #379bff;
        }
      }
    }
}
.box-card.EnphoneCardFrDate{
    background:#fff!important;
    border-radius:8px!important;
    padding:20px;
     .el-card__header{
         background: none;
         border-radius:0px;
         padding:0px;
         .search-wrap{
             padding-bottom:14px;
         }
         .clues-info{
             margin-bottom:30px;
         }
     }
     .table-button{
       .edit-times{
         display: inline-block;
         color: $menuActiveText;
         cursor: pointer;
         &:hover{
           text-decoration: underline;
         }
       }
     }
}
.EnphoneAddEdit{
  background:#fff;
  padding: 20px 30px;
  .EnphoneAddEditMain{
    .en-phone-tips{
      border: 1px solid #ffd7a0;
      background-color: #fffae9;
      padding: 10px;
      font-size:0;
      line-height:0;
      margin-bottom: 15px;
      .item-input{
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        .tips-title{
          height: 32px;
          line-height: 32px;
          font-size: 14px;
        }
      }
    }
    .tips-list{
      width: 100%;
      overflow: hidden;
      .item-tips{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        line-height:0;
        font-size:0;
        padding: 6px;
        .tips,b,em{
          font-style: normal;
          vertical-align: top;
          font-size: 12px;
          height: 28px;
          line-height: 28px;
        }
        .el-button{
          margin: 0 10px;
        }
        .tips{
          color: #d51d1d;
          font-weight: bold;
        }
        b{
          color: #379bff;
        }
        em{
          color: #a06d14;
        }
        &.type-1{
          border: 1px solid #97b2ff;
          background: #e9ffea;
          
        }
        &.type-2{
          border: 1px solid #ffd8a4;
          background: #fffae9;
        }
      }
    }
    .EnphoneAddEditMainItem{
        position: relative;
        padding-top:10px;
        padding-bottom:5px;
        &.CnphoneAdd{
          padding-top:20px;
          padding-bottom:15px;
        }
        dl{
          float: left;
          dt{
            line-height: 24px;
            font-size: 14px;
            span{
              color:red;
            }
          }
          dd{
            margin-top: 5px;
            .clues-list{
              &.price-list{
                .item-clues{
                  width: 147px;
                }
              }
              &.level-list{
                .item-clues{
                  width: 104px;
                }
              }
            }
            p{
              line-height: 32px;
              font-size: 12px;
            }
          }
        }
        &.phone-list{
          dl{
            dd{
              .clues-list{
                .item-clues{
                  float:left;
                  position: relative;
                  font-size: 14px;
                  color:$menuBg;
                  cursor: pointer;
                  padding-left: 20px;
                  line-height: 24px;
                  margin-right: 20px;
                  margin-bottom: 5px;
                  i{
                    position: absolute;
                    left:0px;
                    top:6px;        
                    width: 12px;
                    height: 12px;
                    box-sizing: border-box;
                    border-radius:50%;
                    border:1px solid #939393;
                    background:#fff;
                  }
                  &:hover,&.active{
                    color:$menuActiveText;
                    i{
                      border-color:$menuActiveText;
                      &:after{
                        content:'';
                        position: absolute;
                        width:4px;
                        height:4px;
                        border-radius:50%;
                        left:3px;
                        top:3px;
                        background:$menuActiveText;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &.customer-info{
          dl{
            float: left;
            width:18.4%;
            margin-left: 2%;
            padding-bottom:5px;
            &:first-child{margin-left:0;}
          }
        }
        &.specifications{
          dl{
            float: left;
            width:47.5%;
            margin-left:5%;
            padding-bottom:5px;
            &:first-child{margin-left:0;}
            .spectextarea{
              .el-textarea__inner{
                padding: 10px 15px;
                line-height: 24px;
              }
            }
            .prompt{
              span{font-size:14px;line-height:32px;display: inline-block; padding-right:5px;}
            }
            .remind{
              padding-bottom:5px;
            }
            .upload{
              .el-upload{
                float: left;
              }
              .el-upload__tip{
                float: left;
                padding-left: 30px;
              }
              .el-upload-list{
                float: right;
                .el-upload-list__item{
                  line-height:32px;
                  .el-icon-close{
                    top: 9px;
                  }
                  &:first-child{
                    margin-top:0px;
                  }                  
                }
              }
            }
          }
        }
        &.IntentionEquipment{
          dl{
            dd{
              strong{
                clear: both;
                display: block;
                font-weight:normal;
                font-size:14px;
                text-align: left;
                padding-bottom:10px;
              }
              .clues-list{
                padding-bottom:20px;
                .el-checkbox{margin-bottom:5px;}
              }
            }
          }
        }
        &.CnIntentionEquipment{
          dl{
            dd{
              .clues-list{
                .item-clues{
                  float:left;
                  position: relative;
                  font-size: 14px;
                  color:$menuBg;
                  cursor: pointer;
                  padding-left: 20px;
                  line-height: 24px;
                  margin-right: 20px;
                  margin-bottom: 5px;
                  i{
                    position: absolute;
                    left:0px;
                    top:6px;        
                    width: 12px;
                    height: 12px;
                    box-sizing: border-box;
                    border-radius:2px;
                    border:1px solid #939393;
                    background:#fff;
                  }
                  &:hover,&.active{
                    color:$menuActiveText;
                    i{
                      border-color:$menuActiveText;
                      background:$menuActiveText;
                      &:after{
                        content: "";
                        transform: rotate(45deg) scaleY(1);
                        box-sizing: content-box;
                        border: 1px solid #fff;
                        border-left: 0;
                        border-top: 0;
                        height: 7px;
                        left: 3px;
                        position: absolute;
                        top: 0px;
                        width: 3px;
                        transition: transform 0.15s ease-in 0.05s;
                        transform-origin: center;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &.material{
          dl{
            float: left;
            width:30%;
            margin-left:5%;
            padding-bottom:5px;
            &:first-child{margin-left:0;}
            dd{
              clear: both;
              padding-bottom: 10px;
              span{
                font-size:14px;
                line-height:32px;
              }
              &.CustomerNote{
                position: relative;
                padding-bottom:25px;
                i{
                  position: absolute;
                  left:0px;
                  bottom:0px;
                  font-size:12px;
                  color:#333;
                  line-height: 20px;
                  font-style: normal;
                }
              }
            }
          }
        }
        &.author{
          padding-top:20px;
          padding-bottom:20px;
          dl{
            float: left;
            width:30%;
            margin-left:5%;
            padding-bottom:5px;
            &:first-child{margin-left:0;}
            dd{
              clear: both;
              padding-bottom: 10px;
              & > span{
                font-size:14px;
                line-height:32px;
              }
            }
          }
        }
      }
  }
  .WebServerAddEditBtn.EnphoneAddEditBtn{    
    padding:20px 0px 20px 0px;
  }
}
.en-phone{
  .box-card{
    background: #fff!important;
    padding: 15px!important;
    border-radius: 8px!important;
    .el-card__header{
      margin-bottom:0!important;
    }
    .search-wrap{
      .item-search{
        float:left;
      }
    }
  }
  .el-table--border.table-border{
    border-bottom: 1px solid #dfe6ec!important;
    th > .cell{
      line-height: 1.4;
    }
  }
}
.en-phone-history{
  .table-text{
    h3{
      color: #666;
      font-weight: normal;
      font-size: 14px;
      padding: 0 5px;
    }
    .line{
      border-top: 1px solid #ddd;
      margin: 10px 0 15px;
    }
    p{
      color: #666;
      span{
        margin:0 5px;
      }
    }
  }
}
.en-phone-search{
  .search-wrap{
    margin-bottom: 15px;
    .item-search{
      width: 100%;
      padding: 4px 0;
      &.group-search{
        margin: 20px 0;
        .unit-search{
          .item-checkbox{
            margin: 4px 0 4px 4px;
          }
          .unit-title{
            span{
              height: 36px;
              line-height: 36px;
            }
          }
        }
      }
      &.button-search{
        .updateBtn{
          margin-left: 9px;
        }
        .svg-i{
          margin-right: 5px;
        }
      }
      .item-title{
        margin-bottom: 8px;
        padding: 0 5px;
        margin-top: 10px;
        .all-select{
          margin-left: 4px;
        }
      }
      .unit-search{
        float:left;
        display: flex;
        padding: 0 5px;
        .unit-title{
          padding: 0 5px;
          span{
            display: block;
            height: 28px;
            line-height: 28px;
            font-size: 12px;
          }
        }
        .unit-content{
          flex:1;
        }
      }
      .team-list{
        .item-checkbox,.item-radio{
          margin: 4px;
        }
      }
    }
  }
}