.EnphoneCard{
    .sub-router{
        width:230px;
        .Sales-list{
          width: 100%;
          padding-top:23px;
          dt{
            color: #2e88ff;
            background: #f6f7fb;
            border-color: #f6f7fb;
            line-height: 24px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-bottom: 8px;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 14px;
            span{
              vertical-align: top;
              line-height: 20px;
            }
            i{
              font-style: normal;
            }
          }
        }
    }
    .EnphoneCardFr{
        position: relative;
        .EnStatistical{
          .el-card__header{padding:0px;}
          .EnStatisticalTop{
            margin-bottom:15px;
            .EnStatisticalTopTit{              
              background: -webkit-linear-gradient(#ffffff, #edf2f3);
              background: -o-linear-gradient(#ffffff, #edf2f3);
              background: -moz-linear-gradient(#ffffff, #edf2f3);
              background: linear-gradient(#ffffff, #edf2f3); 
              li{
                float: left;
                padding:0px 20px;
                span{
                  clear: both;
                  display: block;
                  font-size: 14px;
                  font-weight: bold;
                  color:#000;
                  padding:15px 0px;
                  line-height:20px;
                  position: relative;
                  cursor: pointer;
                  &:after{
                    content: '';
                    position: absolute;
                    left:0px;
                    bottom:0px;
                    height:4px;
                    width:0;
                    background:#2e88ff;
                    transition: all 0.5s;
                  }
                  &:hover,&.active{
                    &:after{
                      width:100%;
                    }
                  }
                }
              }
            }
            .EnStatisticalTopBox{
              clear: both;
              display: block;
              background:#fff;
              padding-bottom: 2%;
              dl{
                float: left;
                margin-left:2%;
                margin-top: 2%;
                width: 22.5%;
                border:1px solid #f0f0f0;
                background:#ffffff;
                box-shadow:0px 5px 13px rgba(120,136,158,0.07);
                border-radius:4px;
                dt{
                  clear: both;
                  display: block;
                  font-size:14px;
                  padding:7px 15px;
                  line-height:24px;
                  text-align: left;
                  color:#263445;
                  border-bottom:1px solid #f0f0f0;
                }
                dd{
                  clear: both;
                  display:block;
                  overflow: hidden;
                  padding-top: 40px;
                  padding-bottom: 40px;
                  p{
                    float: left;
                    width:33.3333%;
                    text-align: center;
                    font-size: 14px;
                    line-height: 20px;
                    span{
                      clear: both;
                      display:block;
                      font-size: 30px;
                      line-height: 45px;
                      color:#5ca0f9;
                    }
                  }
                }
                &.dep{
                  dd{
                    p{
                      span{
                        color:#f73a3e;
                      }
                    }
                  }
                }
              }
            }
          }
          .EnStatisticalBom{
            background:#fff;
            border-radius: 8px;
            .EnStatisticalBomBox{
              padding-bottom: 2%;
              &:first-child{padding-top: 2%;}
              h2{
                clear: both;
                display: block;
                font-size:15px;
                padding:7px 0px 7px 2%;
                line-height:24px;
                text-align: left;
                color:#263445;
              }
              .item{
                clear: both;
                display: block;
                .itemPane{
                  float: left;
                  margin-left:2%;
                  margin-top: 10px;
                  width: 22.5%;
                  border:1px solid #f0f0f0;
                  background:#ffffff;
                  box-shadow:0px 5px 13px rgba(120,136,158,0.07);
                  border-radius:4px;
                  h3{
                    clear: both;
                    display: block;
                    font-size: 14px;
                    padding:10px 10px 10px 10px;
                    font-weight:normal;
                  }
                  .itemPaneTable{
                    .el-table{
                      .el-table__header{
                        th{font-weight: normal;}
                      }
                      thead{
                        overflow: hidden;
                        border-radius: 8px;
                        tr{
                          border-radius: 8px;
                          th.is-leaf{
                            border:0px; 
                            background:#edf2f2;
                            color:#999;
                            font-size: 12px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
    }
    .tips-list{
      width: 100%;
      overflow: hidden;
      .item-tips{
        width: 100%;
        line-height: 32px;
        text-align: center;
        margin-bottom: 10px;
        cursor: pointer;
        &.type-1{
          border: 1px solid #97b2ff;
          background: #e9ffea;
          color: #d51d1d;
        }
        &.type-2{
          border: 1px solid #ffd8a4;
          background: #fffae9;
          color: #379bff;
        }
      }
    }
}
.box-card.EnphoneCardFrDate{
     .el-card__header{
         .search-wrap{
             padding-bottom:14px;
         }
     }
     .table-button{
       .edit-times{
         display: inline-block;
         color: $menuActiveText;
         cursor: pointer;
         &:hover{
           text-decoration: underline;
         }
       }
     }
}
.EnphoneAddEdit{
  background:#fff;
  padding: 20px 30px;
  .EnphoneAddEditMain{
    .en-phone-tips{
      border: 1px solid #ffd7a0;
      background-color: #fffae9;
      padding: 10px;
      font-size:0;
      line-height:0;
      margin-bottom: 15px;
      .item-input{
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        .tips-title{
          height: 32px;
          line-height: 32px;
          font-size: 14px;
        }
      }
    }
    .tips-list{
      width: 100%;
      overflow: hidden;
      .item-tips{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        line-height:0;
        font-size:0;
        padding: 6px;
        .tips,b,em{
          font-style: normal;
          vertical-align: top;
          font-size: 12px;
          height: 28px;
          line-height: 28px;
        }
        .el-button{
          margin: 0 10px;
        }
        .tips{
          color: #d51d1d;
          font-weight: bold;
        }
        b{
          color: #379bff;
        }
        em{
          color: #a06d14;
        }
        &.type-1{
          border: 1px solid #97b2ff;
          background: #e9ffea;
          
        }
        &.type-2{
          border: 1px solid #ffd8a4;
          background: #fffae9;
        }
      }
    }
    .EnphoneAddEditMainItem{
        position: relative;
        padding-top:10px;
        padding-bottom:5px;
        &.CnphoneAdd{
          padding-top:20px;
          padding-bottom:15px;
        }
        dl{
          float: left;
          dt{
            line-height: 24px;
            font-size: 14px;
            span{
              color:red;
            }
          }
          dd{
            margin-top: 5px;
            .clues-list{
              &.price-list{
                .item-clues{
                  width: 147px;
                }
              }
              &.level-list{
                .item-clues{
                  width: 104px;
                }
              }
            }
            p{
              line-height: 32px;
              font-size: 12px;
            }
          }
        }
        &.phone-list{
          dl{
            dd{
              .clues-list{
                .item-clues{
                  float:left;
                  position: relative;
                  font-size: 14px;
                  color:$menuBg;
                  cursor: pointer;
                  padding-left: 20px;
                  line-height: 24px;
                  margin-right: 20px;
                  margin-bottom: 5px;
                  i{
                    position: absolute;
                    left:0px;
                    top:6px;        
                    width: 12px;
                    height: 12px;
                    box-sizing: border-box;
                    border-radius:50%;
                    border:1px solid #939393;
                    background:#fff;
                  }
                  &:hover,&.active{
                    color:$menuActiveText;
                    i{
                      border-color:$menuActiveText;
                      &:after{
                        content:'';
                        position: absolute;
                        width:4px;
                        height:4px;
                        border-radius:50%;
                        left:3px;
                        top:3px;
                        background:$menuActiveText;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &.customer-info{
          dl{
            float: left;
            width:18.4%;
            margin-left: 2%;
            padding-bottom:5px;
            &:first-child{margin-left:0;}
          }
        }
        &.specifications{
          dl{
            float: left;
            width:47.5%;
            margin-left:5%;
            padding-bottom:5px;
            &:first-child{margin-left:0;}
            .spectextarea{
              .el-textarea__inner{
                padding: 10px 15px;
                line-height: 24px;
              }
            }
            .prompt{
              span{font-size:14px;line-height:32px;display: inline-block; padding-right:5px;}
            }
            .remind{
              padding-bottom:5px;
            }
            .upload{
              .el-upload{
                float: left;
              }
              .el-upload__tip{
                float: left;
                padding-left: 30px;
              }
              .el-upload-list{
                float: right;
                .el-upload-list__item{
                  line-height:32px;
                  .el-icon-close{
                    top: 9px;
                  }
                  &:first-child{
                    margin-top:0px;
                  }                  
                }
              }
            }
          }
        }
        &.IntentionEquipment{
          dl{
            dd{
              strong{
                clear: both;
                display: block;
                font-weight:normal;
                font-size:14px;
                text-align: left;
                padding-bottom:10px;
              }
              .clues-list{
                padding-bottom:20px;
                .el-checkbox{margin-bottom:5px;}
              }
            }
          }
        }
        &.CnIntentionEquipment{
          dl{
            dd{
              .clues-list{
                .item-clues{
                  float:left;
                  position: relative;
                  font-size: 14px;
                  color:$menuBg;
                  cursor: pointer;
                  padding-left: 20px;
                  line-height: 24px;
                  margin-right: 20px;
                  margin-bottom: 5px;
                  i{
                    position: absolute;
                    left:0px;
                    top:6px;        
                    width: 12px;
                    height: 12px;
                    box-sizing: border-box;
                    border-radius:2px;
                    border:1px solid #939393;
                    background:#fff;
                  }
                  &:hover,&.active{
                    color:$menuActiveText;
                    i{
                      border-color:$menuActiveText;
                      background:$menuActiveText;
                      &:after{
                        content: "";
                        transform: rotate(45deg) scaleY(1);
                        box-sizing: content-box;
                        border: 1px solid #fff;
                        border-left: 0;
                        border-top: 0;
                        height: 7px;
                        left: 3px;
                        position: absolute;
                        top: 0px;
                        width: 3px;
                        transition: transform 0.15s ease-in 0.05s;
                        transform-origin: center;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &.material{
          dl{
            float: left;
            width:30%;
            margin-left:5%;
            padding-bottom:5px;
            &:first-child{margin-left:0;}
            dd{
              clear: both;
              padding-bottom: 10px;
              span{
                font-size:14px;
                line-height:32px;
              }
              &.CustomerNote{
                position: relative;
                padding-bottom:25px;
                i{
                  position: absolute;
                  left:0px;
                  bottom:0px;
                  font-size:12px;
                  color:#333;
                  line-height: 20px;
                  font-style: normal;
                }
              }
            }
          }
        }
        &.author{
          padding-top:20px;
          padding-bottom:20px;
          dl{
            float: left;
            width:30%;
            margin-left:5%;
            padding-bottom:5px;
            &:first-child{margin-left:0;}
            dd{
              clear: both;
              padding-bottom: 10px;
              & > span{
                font-size:14px;
                line-height:32px;
              }
            }
          }
        }
      }
  }
  .WebServerAddEditBtn.EnphoneAddEditBtn{    
    padding:20px 0px 20px 0px;
  }
}
.en-phone{
  .box-card{
    .search-wrap{
      .item-search{
        float:left;
      }
    }
  }
}
.en-phone-history{
  .table-text{
    h3{
      color: #666;
      font-weight: normal;
      font-size: 14px;
      padding: 0 5px;
    }
    .line{
      border-top: 1px solid #ddd;
      margin: 10px 0 15px;
    }
    p{
      color: #666;
      span{
        margin:0 5px;
      }
    }
  }
}
.en-phone-search{
  .search-wrap{
    .item-search{
      width: 100%;
      padding: 4px 0;
      &.EnphoneSearchOne{
        .all-select{
          margin: 4px;
        }
        .team-list{
          .el-checkbox{
            margin-top:4px;
            margin-bottom:4px;
            margin-right: 0px;
          }
        }
      }
      &.EnphoneSearchTwo{
        .team-list{       
          .item-clues{
            float:left;
            position: relative;
            font-size: 14px;
            color:$menuBg;
            cursor: pointer;
            padding-left: 20px;
            line-height: 24px;
            margin-left: 20px;
            margin-top: 2px;
            i{
              position: absolute;
              left:0px;
              top:6px;        
              width: 12px;
              height: 12px;
              box-sizing: border-box;
              border-radius:50%;
              border:1px solid #939393;
              background:#fff;
            }
            &:hover,&.active{
              color:$menuActiveText;
              i{
                border-color:$menuActiveText;
                &:after{
                  content:'';
                  position: absolute;
                  width:4px;
                  height:4px;
                  border-radius:50%;
                  left:3px;
                  top:3px;
                  background:$menuActiveText;
                }
              }
            }
          }
        }
      }
      &.EnphoneSearchThree{
        .el-input--suffix .el-input__inner{padding:0px 10px;}
        .el-checkbox{margin-right:10px;margin-left: 0px;}
        .search-panelThree{
          display: inline-block;
          margin-right:10px;
          margin-bottom:10px;
          .el-radio{margin-right:0px;}
        }
      }
    }
  }
}
.mobile{
  .card-header.EnphoneCardHeader{
    .clues-info.flex-wrap{
      display: block;
      .clues-title-btn{
        padding-left:0px;
        padding-top:15px;
      }
    }
  }
  .en-phone-search{
    .search-wrap{
      .item-search{
        &.EnphoneSearchOne{
          &.flex-wrap{
            display: block;
            .all-select{
              clear: both;
              display: block;
              border: 0px;
              padding: 0px 0px 0px 0px;
              margin: 0px;
            }
            .el-checkbox{margin-right: 0px;}
          }
        }
        &.EnphoneSearchTwo{
          padding-top:10px;
          padding-bottom:10px;
          &.flex-wrap{
            display: block;
            .el-checkbox{
              clear: both;
              display: block;
              border: 0px;
              padding: 0px 0px 0px 0px;
              margin: 0px;
            }
            .team-list{
              .item-clues{
                margin-left:0px;
                margin-right:10px;
                margin-bottom:5px;
              }
            }
          }
        }
      }
    }
  }
}