.home-index{
    .box-card {overflow: initial;}
    .box-card .el-card__body .card-content{overflow: initial;}
    .el-table__expand-icon,.el-table__placeholder{
        display: none!important;
    }
    .item-row{
        &.Module_bbs{position: relative; z-index: 2;}
        h3{
            font-size:16px;
            color:#1a1a1a;
            margin-top:10px;
            margin-bottom:10px;
            line-height:30px;
            height:30px;
        }
    }
    .item-row+.item-row{
        &.stat-row{
            .btn-panel{
                margin-top:-20px;
                .el-radio-group{
                    .el-radio-button--small{
                        .el-radio-button__inner{
                            padding-top:20px;
                            padding-bottom: 0px;
                            border-radius:0 0 8px 8px;
                        }
                    } 
                }
                &+.flex-box{
                    h3{
                        margin-top:0px;
                    }
                }
            }
        }
    }
    .news-list{
        padding: 5px 20px 15px;
        border-radius: 8px;
        overflow: hidden;
        background-color: #fff;
        .news-dl{
            width: 100%;
            margin-top: 10px;
            .news-dt{
                font-size: 14px;
                height: 32px;
                line-height: 32px;
                font-weight: bold;
                color:#f3992d;
                padding-right: 10px;
            }
            .news-dd{
                .item-news{
                    float: left;
                    width:45%;
                    margin-right:5%;
                }
            }
        }
        .item-news{
            height: 33px;
            width: 100%;
            position: relative;
            cursor: pointer;
            transition: all .3s;
            &:hover{
                padding-left: 5px;
            }
            .txt-font{
                height: 33px;
                @extend %ellipsis-basic;
                color: #1a1a1a;
                font-size: 13px;
                line-height: 33px;
                .txt-icon{
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    line-height: 13px;
                    font-size: 12px;
                    text-align: center;
                    border-radius: 1px;
                    b{
                        display: block;
                        font-weight: normal;
                        transform: scale(.75);
                    }
                    &.new{
                        border: 1px solid #ff840b;
                        color: #ff840b;
                    }
                    &.update{
                        border: 1px solid #2e88ff;
                        color: #2e88ff;
                    }
                }
            }
            .txt-time{
                font-size: 13px;
                color: #999999;
                padding: 0 15px;
                height: 33px;
                line-height: 33px;
            }
        }
    }
    .stat-panel{
        padding: 30px;
        .depart-result{
            width: 310px;
            .depart-total,.history-high-light{
                position: relative;
            }
            .depart-total{
                &:before,&:after{
                    position: absolute;
                    content:'';
                    display: block;
                    width: 6px;
                    height: 18px;
                    background: #fff;
                    border-radius: 3px;
                    border: 1px solid #d3d3da;
                    bottom: -11px;
                    z-index: 2;
                }
                &:before{
                    left: 52px;
                }
                &:after{
                    right: 52px;
                }
            }
            .result-panel,.list-panel{
                border: 1px solid #d5dde7;
                border-radius: 8px;
                box-shadow: 0 5px 8px rgba(136,161,194,.14);
                overflow: hidden;
                position: relative;
                &:before,&:after{
                    content:'';
                    display: block;
                    width: 8px;
                    height: 10px;
                    border-radius: 4px;
                    position: absolute;
                    background: #b0b6b6;
                }
            }
            .result-panel{
                &:before,&:after{
                    bottom: -3px;
                }
                &:before{
                    left:50px;
                }
                &:after{
                    right: 50px;
                }
            }
            .list-panel{
                margin-top: 4px;
                padding: 30px;
                &:before,&:after{
                    top: -3px;
                }
                &:before{
                    left:50px;
                }
                &:after{
                    right: 50px;
                }
                p{
                    padding: 9px 0;
                    position: relative;
                    .txt-title,.txt-num{
                        height: 30px;
                        line-height: 30px;
                        position: relative;
                        color: #6d7d91;
                    }
                    .txt-title{
                        padding-left: 25px;
                        &:before{
                            content:'';
                            display: block;
                            width: 6px;
                            height: 6px;
                            border-radius: 100%;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            margin-top: -3px;
                            background: #6d7d91;
                        }
                    }
                    .txt-num{
                        font-weight: bold;
                        text-align: right;
                        font-size: 20px;
                    }
                }
                p+p{
                    margin-top: 20px;
                }
            }
            .result-list{
                p{
                    width: 33.333333%;
                    float:left;
                    padding: 32px 0;
                    span,strong{
                        display: block;
                        text-align: center;
                    }
                    span{
                        height: 24px;
                        line-height: 24px;
                        font-size: 14px;
                        color: #333333;
                    }
                    strong{
                        margin-top: 4px;
                        font-size: 24px;
                        color: #ff840b;
                        line-height: 28px;
                        height: 28px;
                        font-weight: 500;
                    }
                }
            }
        }
        .depart-chart{
            position: relative;
            .canvas-wrap{
                position: absolute;
                left: 0;
                top:0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                padding-left: 30px;
                .chart-title{
                    height: 40px;
                    margin-bottom: 30px;
                    h2{
                        line-height: 40px;
                        float:left;
                        font-size: 20px;
                        color: #1a1a1a;
                        font-weight: bold;
                    }
                    .line-list{
                        float:right;
                        li{
                            float:left;
                            height: 40px;
                            line-height: 40px;
                            color: #878787;
                            font-size: 14px;
                            margin-left: 20px;
                            padding-left: 60px;
                            position: relative;
                            &:before{
                                content:'';
                                display: block;
                                position: absolute;
                                left: 0;
                                width: 52px;
                            }
                            &.line1{
                                &:before{
                                    height: 2px;
                                    border-radius: 2px;
                                    background-color: $menuActiveText;
                                    top: 19px;
                                }
                            }
                            &.line2{
                                &:before{
                                    height: 21px;
                                    border-bottom: 2px dotted #f16b6b;
                                    top: 0;
                                }
                            }
                            &.line3{
                                &:before{
                                    height: 2px;
                                    border-radius: 2px;
                                    background-color: #6aa343;
                                    top: 19px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .stat-row{
        .btn-panel{
            text-align: left;
            padding-bottom:20px;
            .el-radio-group{
                .el-radio-button--small{
                    margin-right:20px;
                    .el-radio-button__inner{
                        padding:3px 26px 3px 26px;
                        font-size: 13px;
                        border:0;
                        border-radius:8px 8px 8px 8px;
                        line-height:30px;
                        color:#fff;
                        background: #aed1ff;
                    }
                    .el-radio-button__orig-radio:checked + .el-radio-button__inner{                            
                        background-color: #2e88ff;
                        box-shadow:0px 8px 10px rgba(6,100,224,0.4) !important;
                    }
                } 
            }
        }
        .custorm-tooltip{
            .box{
                padding: 10px 0;
                .title{
                    margin-bottom: 10px;
                    margin-top: 5px;
                }
                .tooltip-item{
                    height: 20px;
                    line-height:20px;
                    span{
                        float:left;
                    }
                    span+span{
                        float: right;
                        margin-left: 30px;
                    }
                }
            }
        }
    }
    .target-chart{
        margin-right:15px;
        .target-chartItem{
            padding:0px 45px 0px 0px;
            background:#fff;
            border-radius:8px;
            position: relative;
            height: 275px;
            width:550px;
            .deptData{
                position: absolute;
                right:45px;
                top:50%;
                transform: translateY(-50%);
                width:200px;
                li{
                    clear: both;
                    display: block;
                    border-bottom:1px solid #dee0e4;
                    line-height:30px;
                    padding-top:8px;
                    padding-bottom:8px;
                    text-align: right;
                    cursor: pointer;
                    span{
                        float: left;
                        font-size: 14px;
                        color:#7b7f87;
                        line-height:30px;
                        position: relative;
                        &:before{
                            content:'';
                            width: 10px;
                            height: 10px;
                            border-radius:50%;
                            margin-right:8px;
                            display: inline-block;
                            transition:margin-right 0.5s;
                        }
                    }
                    &:hover{
                        span{
                            &:before{
                                margin-right:15px;
                            }
                        }
                    }
                    em{
                        display: inline-block;
                        font-style: normal;
                        border-radius:8px;
                        line-height:16px;
                        font-size:12px;
                        width:28px;
                        text-align: center;
                    }
                    strong{
                        display: inline-block;
                        font-size:18px;
                        line-height:30px;
                        width:30px;
                        text-align: center;
                    }
                    &:first-child{
                        span{ 
                            &:before{background:#ee876d;}
                        }
                        em{color:#ee876d; background:rgba(238,135,109,0.15);}
                        strong{color:#ee876d;}
                    }
                    &:first-child+li{
                        span{ 
                            &:before{background:#f7b05b;}
                        }
                        em{color:#f7b05b; background:rgba(247,176,91,0.15);}
                        strong{color:#f7b05b;}
                    }
                    &:first-child+li+li{
                        span{ 
                            &:before{background:#1ad0b2;}
                        }
                        em{color:#1ad0b2; background:rgba(26,208,178,0.15);}
                        strong{color:#1ad0b2;}
                    }
                    &:first-child+li+li+li{
                        span{ 
                            &:before{background:#6294f9;}
                        }
                        em{color:#6294f9; background:rgba(98,148,249,0.15);}
                        strong{color:#6294f9;}
                    }
                    &:first-child+li+li+li+li{
                        span{ 
                            &:before{background:#3dd195;}
                        }
                        em{color:#3dd195; background:rgba(61,209,149,0.15);}
                        strong{color:#3dd195;}
                    }
                }
            }
                
        }

    }
    .clues-chart{
        .clues-chartItem{
            background:#fff;
            border-radius:8px;
            position: relative;
            height: 275px;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
        }
    }
    .Clinch-chart{
        width:270px;
        margin-left:15px;
        h3{
            span{
                display: inline-block;
                margin-left:10px;
                color:#666;
                font-size:14px;
                font-weight:normal;
            }
        }
        .table-chart{
            background:#fff;
            height:490px;
            border-radius:8px;
            position: relative;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            .item-tr{
                width: 100%;
                padding-top:27px;
                padding-bottom:27px;
                .item-td{
                    width: 100%;
                    padding: 5px 10px;
                    line-height: 24px;
                    text-align: center;
                    font-size:14px;
                    color:#999999;
                    &:first-child{
                        position: relative;
                        font-size:42px;
                        color:#1a1a1a;
                        line-height:50px;
                        &:after{
                            content:'';
                            position: absolute;
                            left:50%;
                            bottom:0px;
                            width:50px;
                            height:3px;
                            background:#f7b05b;
                            margin-left:-25px;
                        }
                    }
                }
            }
        }
    }
    .map-Top-chart{
        .map-Top-chartTit{
          margin-top:10px;
          margin-bottom:10px;
          h3{
              margin-top:0px!important;
              margin-bottom:0px!important;
              padding-right:20px;
          }
          .item-search{
            .el-input__inner{
                background-color:#f6f7fa;
                .el-range-input{background: none;}
            }
          }
        }
        .map-Top-chartItem{
            background:#fff;
            height:490px;
            border-radius:8px;
            position: relative;
            padding:20px 100px 0px 20px;
            &.mapCNpad{
            }
            &.mapENpad{
                .map-chart{
                    padding-top:30px;
                }
            }
            .map-chart{
                .chart-canvas{
                    width: 760px;
                    height: 480px;
                }
                .table-panel{
                    position: relative;
                    .table-chart{
                        position: absolute;
                        left:0;
                        top:0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .top-ten{
                width:260px;
            }
        }
    }
    .trend-chart{
        background:#fff;
        border-radius:8px;
        position: relative;
    }
    .salesman{
        h3{
            font-size:16px;
            color:#1a1a1a;
            margin-top:10px;
            margin-bottom:10px;
            line-height:30px;
            height:30px;
        }
        .num-list{
            background:#fff;
            border-radius:8px;
            position: relative;
            flex-direction: row;
            justify-content:space-around;
            align-items: center;
            &:after,&:before{display:none;}
            p{
                padding: 66px 0;
                span,strong{
                    display: block;
                    text-align: center;
                }
                span{
                    height: 24px;
                    line-height: 24px;
                    font-size: 16px;
                    color: #333333;
                }
                strong{
                    margin-top: 14px;
                    font-size: 42px;
                    color: #f93838;
                    line-height: 48px;
                    height: 48px;
                    font-weight: normal;
                }
            }
        }
    }    
}
@media (max-width:1600px){
    .home-index{
        .flex-wrap.mapFlex{            
           flex-direction:column;
           .Clinch-chart{               
              width:100%;
              margin-left:0px;
              .table-chart{    
                flex-direction:row;
                height:auto;
              }
           }
        }
    }
}
@media (max-width:1200px){
    .home-index{
        .flex-wrap.tarFlex{
            flex-direction:column;
            .target-chart{
                margin-right:0px;
                .target-chartItem{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .deptData{
                        flex:1;
                        position:relative;
                        right:auto;
                        top:auto;
                        transform:none;
                        width:auto;
                        padding-left: 50px;
                    }
                }
            }
        }
        .flex-wrap.mapFlex{            
           flex-direction:column;
           .Clinch-chart{               
              width:100%;
              margin-left:0px;
              .table-chart{    
                flex-direction:row;
                height:auto;
              }
           }
           .map-Top-chart{
               .map-Top-chartItem {
                  height:auto;
                  padding-right:20px;
                  padding-bottom:20px;
                  flex-direction:column;
                  align-items: center;
               }
           }
        }
        .news-list{
            .news-dl{
                .news-dd{
                    .item-news{
                        float: none;
                        width:100%;
                        margin-right: 0%;
                    }
                }
            }
        }
    }
}