.home-index{
    &.scroll-panel{padding:20px 20px 20px 20px;}
    .infoBox{
        position:relative;
        &:after{
            content:'';
            display:block;
            clear:both;
        }
        &.fixed{
            display:block;
            .infoBoxCard{
                position:absolute;
                left:0px;
            }
            .infoBoxRight{
                float:right;
            }
        }
        .infoBoxCard{
            float:left;
            width:25%;
            padding:40px 30px 80px;
            border:1px solid #ececec;
            position:relative;
            z-index:1;
            height:100%;
            &:after{
                content:'';
                display:block;
                position:absolute;
                left:0;
                top:0;
                width:100%;
                height:100%;
                background:url(../assets/personal_bg.png) left top no-repeat;
                background-size:100% auto;
                z-index:-1;
            }
            &:before{
                content:'';
                display:block;
                position:absolute;
                left:0;
                top:0;
                width:100%;
                height:100%;
                background:#fff;
                z-index:-1;
            }
            .personMsg{
                .personAvatar{
                    position:relative;
                    z-index:1;
                    text-align:center;
                    &:before{
                        content:'';
                        display:block;
                        position:absolute;
                        left:50%;
                        margin-left:-169px;
                        top:-62px;
                        width:338px;
                        height:225px;
                        background:url(../assets/person_shadow.png) center center no-repeat;
                        background-size:100% auto;
                        z-index:-1;
                    }
                    p{
                        width:80px;
                        height:80px;
                        position:relative;
                        display:block;
                        margin:0 auto;
                        border-radius: 50%;
                        border:solid 2px #fae6ba;
                        overflow: hidden;
                        span{
                            clear: both;
                            width:100%;
                            height:100%;
                            position:relative;
                            display:block;
                            img{
                                position:absolute;
                                left:0px;
                                width:100%;
                                top:0%;
                                object-fit:cover;
                                transition:all 0.5s;
                            }
                        }
                        i{
                            position:absolute;
                            width:30px;
                            height:30px;
                            background:url(../assets/flag_red.png) no-repeat center center #fff;
                            border-radius:50%;
                            background-size:12px 13px;
                            border:1px solid #fdde9d;
                            box-shadow:0px 0px 24px rgba(254,174,40,0.31);
                            right:-2px;
                            bottom:-2px;
                            cursor:pointer;
                            overflow:hidden;
                            &:after{
                                content:'';
                                width:10px;
                                height:40px;
                                position:absolute;
                                top:0;
                                left:-50px;
                                background-color:white;
                                opacity:0.6;
                                transform:skewX(-30deg);
                                transition:left 0.5s;
                                -webkit-animation:sgt 5s infinite linear;
                                animation:sgt 5s infinite linear;
                                -webkit-animation-fill-mode:both;
                                animation-fill-mode:both;
                            }
                        }
                    }
                }
                .personName{
                    color:#333333;
                    font-size:22px;
                    margin-top:15px;
                    text-align:center;
                    font-weight:normal;
                    position:relative;
                    z-index:1;
                }
                .workTime{
                    color:#999999;
                    font-size:12px;
                    margin-top:8px;
                    text-align:center;
                    position:relative;
                    z-index:1;
                    line-height:18px;
                }
                .rate_num{
                    margin-top:16px;
                    margin-left:auto;
                    margin-right:auto;
                    width:126px;
                    height:34px;
                    background:url(../assets/stage_icon.png) center center no-repeat;
                    background-size:100% 100%;
                    position:relative;
                    z-index:1;
                    text-align:center;
                    .num01,.num02{
                        font-size:16px;
                        line-height:34px;
                        text-align:center;
                    }
                    .num01{
                        color:#ce7927;
                        width:62px;
                        display:inline-block;
                        vertical-align:middle;
                    }
                    .num02{
                        color:#cc7622;
                        display:inline-block;
                        vertical-align:middle;
                    }
                }
            }
            .personDepart{
                margin-top:40px;
                padding-top:30px;
                border-top:dashed 1px #ececec;
                p{
                    color:#494949;
                    font-size:13px;
                    span{
                        color:#919191;
                    }
                }
                .pdsub{
                    margin-top:25px;
                    p{
                        display:inline-block;
                        vertical-align:middle;
                    }
                    p+p{
                        margin-left:36px;
                    }
                }
            }
            .monthResult{
                margin-top:30px;
                padding-top:30px;
                border-top:dashed 1px #ececec;
                .mtit{
                    color:#919191;
                    font-size:13px;
                    display:inline-block;
                    padding-right:13px;
                    background:url(../assets/tips_icon.png) right center no-repeat;
                    background-size:13px auto;
                }
                .monthUl{
                    margin-top:28px;
                    &:after{
                        content:'';
                        display:block;
                        clear:both;
                    }
                    li{
                        width:50%;
                        float:left;
                        div{
                            color:#808080;
                            font-size:13px;
                            line-height:18px;
                            padding-left:22px;
                            background-size:16px auto;
                            background-position:left center;
                            background-repeat:no-repeat;
                        }
                        .mon01{
                            background-image:url(../assets/person_intro01.png);
                        }
                        .mon02{
                            background-image:url(../assets/person_intro02.png);
                        }
                        .mon03{
                            background-image:url(../assets/person_intro03.png);
                        }
                        .mon04{
                            background-image:url(../assets/person_intro04.png);
                        }
                        .res{
                            color:#151515;
                            font-size:22px;
                            display:block;
                            margin-top:15px;
                            padding-left:22px;
                        }
                    }
                    li+li+li{
                        margin-top:48px;
                    }
                }
            }
        }
        .infoBoxRight{
            float:right;
            width:calc(75% - 20px);
            display:flex;
            flex-direction:column;
            height:100%;
            &.no-left{
                width: 100%;
                .infoBoxRightBom .infoBoxRightBominfo dl dd .item-news{
                    .txt-font{
                        flex:none;
                        .txt-time{
                            padding: 0 15px 0 50px;
                        }
                    }
                }
            }
            .infoBoxRightTop{
                clear:both;
                display:block;
                background:#fdf8e4;
                border:1px solid #faebcc;
                color:#705321;
                font-size:14px;
                padding:5px 36px;
                line-height:24px;
                b{
                    display:inline-block;
                    padding-left:5px;
                    padding-right:5px;
                }
            }
            .infoBoxRightBom{
                flex-direction:column;
                &.BomPadBom{
                    padding-bottom:20px;
                }
                .infoBoxRightBominfo{
                    display:flex;
                    flex-direction:column;
                    dl{
                        width:100%;
                        background:#fff;
                        margin-top:16px;
                        dt{
                            clear:both;
                            display:block;
                            padding:10px 40px;
                            font-size:15px;
                            color:#171717;
                            height:46px;
                            line-height:26px;
                            font-weight:bold;
                            span{
                                font-size:13px;
                                color:#666666;
                                font-weight:normal;
                                padding-left: 10px;
                            }
                            .scrollIcon{
                                display: block;
                                width: 30px;
                                height: 30px;
                                background: url(../assets/right-btn.png) center center no-repeat;
                                background-size: 6px auto;
                                transform: rotate(90deg);
                                float: right;
                                cursor: pointer;
                                transition: all 0.3s ease;
                            }
                            .scrollTop{
                                transform: rotate(270deg);
                            }
                        }
                        &:first-child{
                            dt{background:#e4eefd;}
                        }
                        &:first-child+dl{
                            dt{background:#e3ffee;}
                        }
                        &:first-child+dl+dl{
                            dt{background:#fdf7e2;}
                        }
                        dd{
                            .item-news{
                                border-bottom:1px solid #f5f5f5;
                                padding:18px 27px;
                                line-height:30px;
                                position:relative;
                                &:last-child{border-bottom:0px;}
                                .txt-font{
                                    height:30px;
                                    @extend %ellipsis-basic;
                                    color:#1a1a1a;
                                    font-size:15px;
                                    line-height:30px;
                                    cursor:pointer;
                                    transition:all .3s;
                                    padding-left:15px;
                                    &:visited{
                                        .txt-type,.txt-title{
                                            color: #999!important;
                                        }
                                    }
                                    span{
                                        vertical-align:top;
                                    }
                                    .txt-icon{
                                        display:inline-block;
                                        width:16px;
                                        height:16px;
                                        line-height:15px;
                                        font-size:12px;
                                        text-align:center;
                                        border-radius:1px;
                                        margin-top:8px;
                                        b{
                                            display:block;
                                            font-weight:normal;
                                            transform:scale(.75);
                                        }
                                    }
                                    .update{
                                        border:1px solid #2e88ff;
                                        color:#2e88ff;
                                    }
                                    .new{
                                        border:1px solid #ff840b;
                                        color:#ff840b;
                                    }
                                    &:hover{
                                        margin-left:-5px;
                                    }
                                    .txt-time{
                                        font-size:14px;
                                        color:#999999;
                                        padding:0 15px;
                                        height:30px;
                                        line-height:30px;
                                    }
                                }
                                .txt-time{
                                    font-size:14px;
                                    color:#999999;
                                    padding:0 15px;
                                    height:30px;
                                    line-height:30px;
                                }
                                &.isRead{
                                    .txt-font{
                                        span{
                                            &.txt-type{color:#999!important;}
                                            &.txt-title{color:#999!important;}
                                        }
                                    }
                                    .txt-time{color:#999!important;}
                                }
                            }
                        }
                    }
                }
                .infoBoxRightBomNoinfo{
                    clear:both;
                    background:#fff;
                    position:relative;
                    border:1px solid #f2f2f2;
                    margin-top:20px;
                    &:after{
                        content:'';
                        position:absolute;
                        left:50%;
                        top:50%;
                        width:100px;
                        height:110px;
                        margin-top:-55px;
                        margin-left:-50px;
                        background:url(../assets/noInfo.jpg) no-repeat center center;
                        background-size:100%;
                    }
                }
            }
        }
    }  
}
@keyframes sgt{
    0%{left:-50px;}
    20%,100%{left:50px;}
}
@media (max-width:1600px){
    .home-index{
        .infoBox{
            .infoBoxRight{
                .infoBoxRightTop{
                    font-size:14px;
                }
                .infoBoxRightBom{
                    .infoBoxRightBominfo{
                        dl{
                            margin-top:16px;
                            dt{
                                font-size:15px;
                                span{
                                    font-size:13px;
                                }
                            }
                            dd{
                                .item-news{
                                    .txt-font{
                                        font-size:14px;
                                        .txt-icon{
                                            margin-top:7px;
                                        }
                                    }
                                    .txt-time{
                                        font-size:13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }  
    }
}