.header-layout{
    height: auto!important;
    position: relative;
    background: #1d212a;
    padding:0!important;
    .header-panel{
        width:100%;
        position: relative;
        height: 60px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        .header-right{
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            height: 100%;
            padding: 0 20px;
            position: relative;
            .notice-button{
                margin-right: 20px;
                position: relative;
                z-index: 2;
                cursor: pointer;
                .svg-i{
                    display: inline-block;
                    height: 32px;
                    line-height: 32px;
                    font-size: 16px;
                    color: #d8d8d8;
                }
                .el-badge__content{
                    line-height: 15px;
                }
                .el-badge__content.is-fixed{
                    transform: translateY(-40%) translateX(100%);
                }
            }
            .el-dropdown-link{
                font-size:0;
                line-height:0;
                cursor: pointer;
            }
            .feedback-icon{
                display: inline-block;
                width: 32px;
                height: 32px;
                font-size: 32px;
                text-align: center;
                line-height: 32px;
                vertical-align: middle;
                color: #d8d8d8;
                margin-right: 16px;
                cursor: pointer;
            }
            .cache-icon{
                display: inline-block;
                width: 32px;
                height: 32px;
                font-size: 24px;
                text-align: center;
                line-height: 32px;
                vertical-align: middle;
                color: #d8d8d8;
                margin-right: 16px;
                cursor: pointer;
            }
            .user-icon{
                display: inline-block;
                width: 32px;
                height: 32px;
                font-size: 16px;
                text-align: center;
                line-height: 32px;
                border-radius: 100%;
                background: #63666c;
                vertical-align: middle;
                color: #d8d8d8;
            }
            .user-name{
                display: inline-block;
                line-height: 32px;
                color: #fff;
                font-size: 14px;
                font-weight: 500;
                margin-left: 12px;
                vertical-align: middle;
            }
        }
        .header-center{
            flex: 1;
            height: 100%;
            padding: 14px 20px;
            .header-search{
                width: 300px;
                float:left;
                line-height:0;
                font-size:0;
                position: relative;
                &:after{
                    content:'';
                    display: block;
                    position: absolute;
                    left: -20px;
                    top: -14px;
                    bottom: -14px;
                    width: 1px;
                    background: linear-gradient(#1d212a 15%,#feffff 50%,#1d212a 85%);
                }
                .article-search{
                    width: 100%;
                    .el-input__inner{
                        background: #343840;
                        border: 1px solid #343840;
                        color: #fff;
                        font-size: 14px;
                    }
                    .el-input-group__append{
                        background-color: #32588c;
                        border: 1px solid #32588c;
                        color: #fff;
                        font-size:0;
                        line-height:0;
                        .el-button.el-button--medium{
                            font-size:0;
                            line-height:0;
                            padding: 0 12px;
                            vertical-align: top;
                            >span{
                                font-size:0;
                                line-height:0;
                                vertical-align: top;
                                .search-icon{
                                    display: inline-block;
                                    vertical-align: top;
                                    height: 32px;
                                    line-height: 32px;
                                    font-size: 16px;
                                    color: #fff;
                                }
                                .search-font{
                                    display: inline-block;
                                    height: 32px;
                                    line-height: 32px;
                                    color: #fff;
                                    font-size: 14px;
                                    font-weight: 500;
                                    margin-left: 10px;
                                    vertical-align: top;
                                }
                            }
                        }
                    }
                }
            }
            .header-button{
                float:right;
                line-height:0;
                font-size:0;
                text-align: right;
                position: relative;
                &:before{
                    content:'';
                    display: block;
                    position: absolute;
                    right: -20px;
                    top: -14px;
                    bottom: -14px;
                    width: 1px;
                    background: linear-gradient(#1d212a 15%,#feffff 50%,#1d212a 85%);
                }
                .item-button{
                    display: inline-block;
                    height: 32px;
                    border-radius: 4px;
                    background: #f9a500;
                    text-align: center;
                    line-height:0;
                    font-size:0;
                    padding: 0 12px;
                    margin-left: 10px;
                    cursor: pointer;
                    box-shadow: 0 5px 20px rgba(247,142,66,.57);
                    transition: all .3s;
                    &:hover{
                        box-shadow: 0 0 0 rgba(247,142,66,.57);
                    }
                    .button-icon{
                        display: inline-block;
                        height: 32px;
                        font-size: 14px;
                        line-height: 32px;
                        vertical-align: top;
                        color: #ffffff;
                    }
                    .button-font{
                        display: inline-block;
                        line-height: 32px;
                        color: #fff;
                        font-size: 14px;
                        margin-left: 10px;
                        vertical-align: top;
                    }
                }
            }
        }
        .logo {
            position: relative;
            height: 100%;
            z-index: 1;
            .logo-link {
                display: block;
                height: 100%;
                padding: 14px 28px;
                font-size:0;
                line-height:0;
                position: relative;
                img{
                    float:left;
                }
                .logo-img {
                    height: 32px;
                }
                .logo-title {
                    height: 22px;
                    margin-left: 10px;
                    margin-top: 5px;
                }
            }
        }
    }
}
.drawer-bg {
    background: #000;
    opacity: 0.3;
    width: 100%;
    top: 0;
    height: 100%;
    position: absolute;
    z-index: 999;
}
.main-layout{
    overflow: hidden!important;
    padding:0!important;
}