.header-layout{
    height: auto!important;
    position: relative;
    background: #ffffff;
    padding:0!important;
    box-shadow: 0 0 7px rgba(203,203,203,.21);
    z-index: 1012;
    .header-panel{
        width:100%;
        position: relative;
        height: 54px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        .header-right{
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            height: 100%;
            padding: 0 20px;
            position: relative;
            .notice-button{
                margin-right: 20px;
                position: relative;
                z-index: 2;
                cursor: pointer;
                .svg-i{
                    display: inline-block;
                    height: 30px;
                    line-height: 30px;
                    font-size:$fontsize17;
                    color: #d8d8d8;
                }
                .el-badge__content{
                    line-height: 15px;
                }
                .el-badge__content.is-fixed{
                    transform: translateY(-40%) translateX(100%);
                }
            }
            .el-dropdown-link{
                font-size:0;
                line-height:0;
                cursor: pointer;
            }
            .feedback-icon{
                display: inline-block;
                width: 30px;
                height: 30px;
                font-size:$fontsize27;
                text-align: center;
                line-height: 30px;
                vertical-align: middle;
                color: #292929;
                margin-right: 20px;
                cursor: pointer;
                .svg-icon{
                    margin: 4px 2px 0;
                    vertical-align: top;
                }
            }
            .cache-icon{
                display: inline-block;
                width: 30px;
                height: 30px;
                font-size:$fontsize21;
                text-align: center;
                line-height: 30px;
                vertical-align: middle;
                color: #292929;
                margin-right: 10px;
                cursor: pointer;
                .svg-icon{
                    margin: 5px;
                    vertical-align: top;
                }
            }
            .user-icon{
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                background: #fff5ed;
                overflow: hidden;
                vertical-align: middle;
                img{
                    width: 100%;
                    border-radius: 50%;
                }
            }
            .user-name{
                display: inline-block;
                line-height: 30px;
                color: #1b1b1b;
                font-size:$fontsize15;
                font-weight: 500;
                margin-left: 12px;
                vertical-align: middle;
            }
        }
        .header-center{
            flex: 1;
            height: 100%;
            padding: 11px 20px;
            .header-search{
                width: 230px;
                float:right;
                line-height:0;
                font-size:0;
                position: relative;
                margin-right: 10px;
                .article-search{
                    width: 100%;
                    .el-input__inner{
                        background: #fff;
                        border: 1px solid #0048ff;
                        color: #1b1b1b;
                        font-size:$fontsize15;
                        border-radius:0;
                        border-right:none;
                    }
                    .el-input-group__append{
                        background-color: #0048ff;
                        border: 1px solid #0048ff;
                        border-radius:0;
                        color: #fff;
                        font-size:0;
                        line-height:0;
                        .el-button.el-button--medium{
                            font-size:0;
                            line-height:0;
                            padding: 0 12px;
                            vertical-align: top;
                            >span{
                                font-size:0;
                                line-height:0;
                                vertical-align: top;
                                .search-icon{
                                    display: inline-block;
                                    vertical-align: top;
                                    height: 32px;
                                    line-height: 32px;
                                    font-size:$fontsize17;
                                    color: #fff;
                                }
                                .search-font{
                                    display: inline-block;
                                    height: 32px;
                                    line-height: 32px;
                                    color: #fff;
                                    font-size:$fontsize15;
                                    font-weight: 500;
                                    margin-left: 10px;
                                    vertical-align: top;
                                }
                            }
                        }
                    }
                }
            }
            .header-button{
                float:right;
                line-height:0;
                font-size:0;
                text-align: right;
                position: relative;
                &:before{
                    content:'';
                    display: block;
                    position: absolute;
                    right: -20px;
                    top: 5px;
                    bottom: 5px;
                    width: 1px;
                    background: #8e8e8e;
                }
                .item-button{
                    display: inline-block;
                    height: 32px;
                    background: #f9a500;
                    text-align: center;
                    line-height:0;
                    font-size:0;
                    padding: 0 12px;
                    margin-left: 10px;
                    cursor: pointer;
                    transition: all .3s;
                    &:hover{
                        box-shadow: 0 0 0 rgba(247,142,66,.57);
                    }
                    .button-icon{
                        display: inline-block;
                        height: 32px;
                        font-size:$fontsize15;
                        line-height: 32px;
                        vertical-align: top;
                        color: #ffffff;
                    }
                    .button-font{
                        display: inline-block;
                        line-height: 32px;
                        color: #fff;
                        font-size:$fontsize15;
                        margin-left: 10px;
                        vertical-align: top;
                    }
                }
            }
        }
        .logo {
            position: relative;
            height: 100%;
            z-index: 1;
            .logo-link {
                display: block;
                height: 100%;
                padding: 9px 20px;
                font-size:0;
                line-height:0;
                position: relative;
                img{
                    float:left;
                }
                .logo-img {
                    height: 35px;
                }
                .logo-title {
                    display: inline-block;
                    height: 30px;
                    margin-left: 15px;
                    font-size:$fontsize18;
                    color: #0e0e0e;
                    line-height: 35px;
                    font-weight: bold;
                    padding-left: 13px;
                    margin-top:4px;
                    position: relative;
                    &::before{
                        content:'';
                        display: block;
                        width: 1px;
                        height: 17px;
                        background: #ababab;
                        position: absolute;
                        left: 1px;
                        top:9px;
                    }
                }
            }
        }
    }
}
.drawer-bg {
    background: #000;
    opacity: 0.3;
    width: 100%;
    top: 0;
    height: 100%;
    position: absolute;
    z-index: 999;
}
.main-layout{
    overflow: hidden!important;
    padding:0!important;
}