.logs-index{
    .search-wrap{
        .item-search{
            float:left;
            padding: 10px 10px 10px 0;
        }
        .date-picker{
            vertical-align: top;
        }
        .input-panel{
            width: 190px;
        }
        .select-panel{
            width: 150px;
        }
    }
}
.website-log{
    .box-card{
        .el-card__header{
            padding:0;
            margin-bottom: 15px;
            background: none;
            border-radius:0;
        }
        .clues-title{
            padding-bottom: 0;
        }
    }
}