@font-face{
    font-family: 'numberfont'; 
    src:url('../fonts/number.woff') format('woff'),
        url('../fonts/number.ttf') format('truetype');
    font-display: swap;
}
.memberTit{
    padding:19px 22px 0px 22px;
    position: relative;
    &:after{
        position: absolute;
        right:0px;
        top:0px;
        bottom:0px;
        width:120px;
    }
    h3{
        clear: both;
        display: block;
        vertical-align: top;
        color: #1a1a1a;
        font-size:$fontsize17;
        padding-bottom:12px;
        line-height:1;
        span{
            display: inline-block;
            margin-left:10px;
            font-size: $fontsize14;
            color: #a1a1a1;
            font-weight: normal;
        }
    }
    p{
        clear: both;
        display: block;
        vertical-align: top;
        color:#a1a1a1;
        font-size:$fontsize14;
        line-height:1;
        span{
            display: inline-block;
            color: #1a1a1a;
            margin-right:10px;
        }
    }
}
.memberInquiry{
    background-color: #fff;
    border:1px solid #f0f0f0;
    .memberTit{
        height:80px; 
        background: -moz-linear-gradient(right,#f9fbff 0%, #edf4ff 100%);
        background: -webkit-linear-gradient(right,#f9fbff 0%,#edf4ff 100%);
        background: -o-linear-gradient(right,#f9fbff 0%,#edf4ff 100%);
        background: -ms-linear-gradient(right,#f9fbff 0%,#edf4ff 100%);
        background: linear-gradient(to left,#f9fbff 0%,#edf4ff 100%);
        &:after{
            background: url(../assets/personal_bg01.png) no-repeat top right;
            background-size:100%;
        }
        h3{color:#0749f3;}
    }
    .inquiryRank{
        position: relative;
        .inul{
            overflow: hidden;
            .nodata{
                padding: 30px 20px;
                text-align: center;
                font-size: 14px;
                color: #a1a1a1;
            }
        }
        li{
            a{
                flex:1;
                padding:12px 35px 12px 12px;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-top: 1px solid rgba(245, 243, 228, 0.8);
                cursor: pointer;
            }
            .rankNum{
                width: 50px;
                height: 38px;
                position: relative;
                .numTop{
                    width: 50px;
                    height: 38px;
                    color: #888888;
                    font-size:$fontsize14;
                    text-align: center;
                    line-height:38px;
                    &.numTop01{
                        position: absolute;
                        left:0px;
                        top:0px;
                        height: 47px;
                        background: url(../assets/personal_InquiryIcon01.png) center center no-repeat;
                        background-size: 50px 47px;
                    }
                    &.numTop02{
                        position: absolute;
                        left:0px;
                        top:0px;
                        height: 47px;
                        background: url(../assets/personal_InquiryIcon02.png) center center no-repeat;
                        background-size: 50px 47px;
                    }
                    &.numTop03{
                        position: absolute;
                        left:0px;
                        top:0px;
                        height: 47px;
                        background: url(../assets/personal_InquiryIcon03.png) center center no-repeat;
                        background-size: 50px 47px;
                    }
                }
            }
            .userImg{
                width: 100px;
                padding-left: 38px;
                .headImg{
                    width: 38px;
                    height: 38px;
                    overflow: hidden;
                    border-radius: 50%;
                    position: relative;
                    span{
                        clear: both;
                        display: block;
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        position: relative;
                        margin: 0 auto;
                        img{
                            width: 100%;
                            position: absolute;
                            left: 0px;
                            width: 100%;
                            top: 0%;
                            -o-object-fit: cover;
                            object-fit: cover;
                            transition: all 0.5s;
                        }
                    }
                    &.headImgBorder{
                        background: -moz-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -webkit-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -o-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -ms-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: linear-gradient(to bottom,#fbbf44 0%,#e85524 100%);
                        padding: 1px;
                    }
                }
                .nopic{
                    width: 38px;
                    height: 38px;
                    overflow: hidden;
                    border-radius: 50%;
                    &.headImgBorder{
                        background: -moz-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -webkit-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -o-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -ms-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: linear-gradient(to bottom,#fbbf44 0%,#e85524 100%);
                        padding: 1px;
                    }
                    span{
                        clear: both;
                        display: block;
                        overflow: hidden;
                        width:100%;
                        height:100%;
                        border-radius: 50%;
                        background: url(../assets/default_pic.jpg) center center no-repeat;
                        background-size:100%;
                    }
                }
            }
            .userName{
                color: #111111;
                font-size:$fontsize15;
                .dept{
                    color:#666;
                }
            }
            .userInquiry{
                color: #333333;
                font-size:$fontsize14;
                text-align: right;
                .num01{
                    background-image: linear-gradient(90deg,#f9c020 ,#f83801);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: bold;
                }
                .num02{
                    background-image: linear-gradient(90deg,#92acc7 ,#315c88);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: bold;
                }
                .num03{
                    background-image: linear-gradient(90deg,#ad6d2d ,#f5c166);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: bold;
                }
            }
        }
    }
    .inMore{
        width: 60px;
        height:0px;
        position: absolute;
        cursor: pointer;
        left: 50%;
        margin-left: -30px;
        bottom: -15px;
        border-top: 15px solid #e2e3e8;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom:0px;
        transition: all 0.3s ease;
        &:before{
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -6px;
            top: -10px;
            width: 0;
            height: 0;
            border-left:5px solid transparent;
            border-right:5px solid transparent;
            border-top:5px solid #fff;
            border-bottom:0px;
            transition: all 0.3s ease;
        }
        &:hover{
            border-top-color:#0749f3;
        }
    }
    .rowRotate{
        border-top-color: #ad6d2d;
        &:before{
            top: -11px;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
    .inRankSome{
        height: 856px;
        overflow: hidden;
    }
}
.memberDeal{
    background-color: #fff;
    border:1px solid #f0f0f0;
    .memberTit{
        height:80px; 
        background: -moz-linear-gradient(right,#f5fef8 0%, #e6fdee 100%);
        background: -webkit-linear-gradient(right,#f5fef8 0%,#e6fdee 100%);
        background: -o-linear-gradient(right,#f5fef8 0%,#e6fdee 100%);
        background: -ms-linear-gradient(right,#f5fef8 0%,#e6fdee 100%);
        background: linear-gradient(to left,#f5fef8 0%,#e6fdee 100%);
        &:after{
            background: url(../assets/personal_bg02.png) no-repeat top right;
            background-size:100%;
        }
        h3{color:#09a742;}
    }
    .dealRank{
        position: relative;
        .deul{
            overflow: hidden;
            .nodata{
                padding: 30px 20px;
                text-align: center;
                font-size: 14px;
                color: #a1a1a1;
            }
        }
        li{
            a{
                flex:1;
                padding:12px 35px 12px 22px;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-top: 1px solid rgba(245, 243, 228, 0.8);
                cursor: pointer;
            }
            .rankNum{
                width: 27px;
                height: 32px;
                position: relative;
                .numTop{
                    width: 27px;
                    height: 32px;
                    color: #888888;
                    font-size:$fontsize14;
                    text-align: center;
                    line-height:32px;
                    &.numTop01{
                        background: url(../assets/personal_ScoreIcon01.png) center center no-repeat;
                        background-size:27px 32px;
                    }
                    &.numTop02{
                        background: url(../assets/personal_ScoreIcon02.png) center center no-repeat;
                        background-size: 27px 32px;
                    }
                    &.numTop03{
                        background: url(../assets/personal_ScoreIcon03.png) center center no-repeat;
                        background-size: 27px 32px;
                    }
                }
            }
            .userImg{
                width: 100px;
                padding-left: 38px;
                .headImg{
                    width: 38px;
                    height: 38px;
                    overflow: hidden;
                    border-radius: 50%;
                    position: relative;
                    span{
                        clear: both;
                        display: block;
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        position: relative;
                        margin: 0 auto;
                        img{
                            width: 100%;
                            position: absolute;
                            left: 0px;
                            width: 100%;
                            top: 0%;
                            -o-object-fit: cover;
                            object-fit: cover;
                            transition: all 0.5s;
                        }
                    }
                    &.headImgBorder{
                        background: -moz-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -webkit-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -o-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -ms-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: linear-gradient(to bottom,#fbbf44 0%,#e85524 100%);
                        padding: 1px;
                    }
                }
                .nopic{
                    width: 38px;
                    height: 38px;
                    overflow: hidden;
                    border-radius: 50%;
                    &.headImgBorder{
                        background: -moz-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -webkit-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -o-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -ms-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: linear-gradient(to bottom,#fbbf44 0%,#e85524 100%);
                        padding: 1px;
                    }
                    span{
                        clear: both;
                        display: block;
                        overflow: hidden;
                        width:100%;
                        height:100%;
                        border-radius: 50%;
                        background: url(../assets/default_pic.jpg) center center no-repeat;
                        background-size:100%;
                    }
                }
            }
            .userName{
                color: #111111;
                font-size:$fontsize15;
                .dept{
                    color:#666;
                }
            }
            .userInquiry{
                color: #333333;
                font-size:$fontsize14;
                text-align: right;
                .num01{
                    background-image: linear-gradient(90deg,#f9c020 ,#f83801);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: bold;
                }
                .num02{
                    background-image: linear-gradient(90deg,#92acc7 ,#315c88);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: bold;
                }
                .num03{
                    background-image: linear-gradient(90deg,#ad6d2d ,#f5c166);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: bold;
                }
            }
        }
    }
    .deMore{
        width: 60px;
        height:0px;
        position: absolute;
        cursor: pointer;
        left: 50%;
        margin-left: -30px;
        bottom: -15px;
        border-top: 15px solid #e2e3e8;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom:0px;
        transition: all 0.3s ease;
        &:before{
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -6px;
            top: -10px;
            width: 0;
            height: 0;
            border-left:5px solid transparent;
            border-right:5px solid transparent;
            border-top:5px solid #fff;
            border-bottom:0px;
        }
        &:hover{
            border-top-color:#09a742;
        }
    }
    .rowRotate{
        border-top-color: #315c88;
        &:before{
            top: -11px;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}
.millionDeal{
    background-color: #fff;
    border:1px solid #f0f0f0;
    .memberTit{
        height:80px; 
        background: -moz-linear-gradient(right,#fefbf4 0%, #fff9e9 100%);
        background: -webkit-linear-gradient(right,#fefbf4 0%,#fff9e9 100%);
        background: -o-linear-gradient(right,#fefbf4 0%,#fff9e9 100%);
        background: -ms-linear-gradient(right,#fefbf4 0%,#fff9e9 100%);
        background: linear-gradient(to left,#fefbf4 0%,#fff9e9 100%);
        &:after{
            background: url(../assets/personal_bg03.png) no-repeat top right;
            background-size:100%;
        }
        h3{color:#efb407;}
    }
    .milRank{
        position: relative;
        .milul{
            overflow: hidden;
            .nodata{
                padding: 30px 20px;
                text-align: center;
                font-size: 14px;
                color: #a1a1a1;
            }
        }
        li{
            a{
                flex:1;
                padding:12px 35px 12px 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-top: 1px solid rgba(245, 243, 228, 0.8);
                cursor: pointer;
            }
            .rankNum{
                width:26px;
                height:38px;
                position: relative;
                .rankstyle{
                    width: 26px;
                    height: 38px;
                    color: #888888;
                    font-size:$fontsize14;
                    text-align: center;
                    line-height:38px;
                    &.rank01{
                        position: absolute;
                        left:0px;
                        top:0px;
                        height: 45px;
                        background: url(../assets/personal_MoneryIcon01.png) center center no-repeat;
                        background-size: 26px 45px;
                    }
                    &.rank02{
                        position: absolute;
                        left:0px;
                        top:0px;
                        height: 45px;
                        background: url(../assets/personal_MoneryIcon02.png) center center no-repeat;
                        background-size: 26px 45px;
                    }
                    &.rank03{
                        position: absolute;
                        left:0px;
                        top:0px;
                        height: 45px;
                        background: url(../assets/personal_MoneryIcon03.png) center center no-repeat;
                        background-size: 26px 45px;
                    }
                }
                .numNormal{
                    width: 26px;
                    height: 38px;
                    color: #888888;
                    font-size:$fontsize14;
                    text-align: center;
                    line-height:38px;
                }
            }
            .userImg{
                width:96px;
                padding-left:35px;
                .headImg{
                    width: 38px;
                    height: 38px;
                    overflow: hidden;
                    border-radius: 50%;
                    position: relative;
                    span{
                        clear: both;
                        display: block;
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        position: relative;
                        margin: 0 auto;
                        img{
                            width: 100%;
                            position: absolute;
                            left: 0px;
                            width: 100%;
                            top: 0%;
                            -o-object-fit: cover;
                            object-fit: cover;
                            transition: all 0.5s;
                        }
                    }
                    &.headImgBorder{
                        background: -moz-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -webkit-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -o-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -ms-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: linear-gradient(to bottom,#fbbf44 0%,#e85524 100%);
                        padding: 1px;
                    }
                }
                .nopic{
                    width: 38px;
                    height: 38px;
                    overflow: hidden;
                    border-radius: 50%;
                    &.headImgBorder{
                        background: -moz-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -webkit-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -o-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -ms-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: linear-gradient(to bottom,#fbbf44 0%,#e85524 100%);
                        padding: 1px;
                    }
                    span{
                        clear: both;
                        display: block;
                        overflow: hidden;
                        width:100%;
                        height:100%;
                        border-radius: 50%;
                        background: url(../assets/default_pic.jpg) center center no-repeat;
                        background-size:100%;
                    }
                }
            }
            .userName{
                color: #111111;
                font-size:$fontsize15;
                .dept{
                    color:#666;
                }
            }
            .milNum{
                text-align: right;
                p{
                    color: #333333;
                    font-size:$fontsize14;
                    padding-left: 30px;
                    line-height: 38px;
                    position: relative;
                    display: inline-block;
                    &:before{
                        content: '';
                        display: block;
                        width:30px;
                        height:28px;
                        background: url(../assets/mildeal.png) center center no-repeat;
                        background-size: 100% auto;
                        position: absolute;
                        left: 0;
                        top: 9px;
                    }
                }
            }
        }
    }
    .milMore{
        width: 60px;
        height:0px;
        position: absolute;
        cursor: pointer;
        left: 50%;
        margin-left: -30px;
        bottom: -15px;
        border-top: 15px solid #e2e3e8;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom:0px;
        transition: all 0.3s ease;
        &:before{
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -6px;
            top: -10px;
            width: 0;
            height: 0;
            border-left:5px solid transparent;
            border-right:5px solid transparent;
            border-top:5px solid #fff;
            border-bottom:0px;
        }
        &:hover{
            border-top-color:#efb407;
        }
    }
    .rowRotate{
        border-top-color: #57657a;
        &:before{
            top: -11px;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}
.payMemberTit{
    h3{
        display:block;
        vertical-align: top;
        color: #1a1a1a;
        font-size:$fontsize17;
        padding:10px 30px;
        line-height:36px;
        background: -moz-linear-gradient(right,#fffdfa 0%, #fff9e8 100%);
        background: -webkit-linear-gradient(right,#fffdfa 0%,#fff9e8 100%);
        background: -o-linear-gradient(right,#fffdfa 0%,#fff9e8 100%);
        background: -ms-linear-gradient(right,#fffdfa 0%,#fff9e8 100%);
        background: linear-gradient(to left,#fffdfa 0%,#fff9e8 100%);
        span{
            color: #d62815;
            font-size:$fontsize19;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}
.payMember{
    background-color: #fff;
    border:1px solid #f0f0f0;
    border-bottom: 0px;
    .yearRank{
        text-align: center;
        thead{
            height:48px;
            color: #1a1a1a;
            font-size:$fontsize14;
            font-weight: normal;
            tr,th{
                background-color: #fffcf5;
                font-weight: normal;
                color:#1a1a1a;
            }
            th.el-table__cell.is-leaf{
                border-top: 1px solid #f0f0f0;
                border-bottom:0px solid #f0f0f0;
                padding: 0;
            }
        }
        .cell{
            text-align: center;
            line-height: normal;
            .urank{
                color: #888888;
                font-size:$fontsize14;
                width: 18px;
                height: 18px;
                border-radius: 2px;
                background: #dcdcdc;
                display:inline-block;
                &.urank01{
                    background: -moz-linear-gradient(135deg,#f9bc1f 0%, #f9511b 100%);
                    background: -webkit-linear-gradient(135deg,#f9bc1f 0%,#f9511b 100%);
                    background: -o-linear-gradient(135deg,#f9bc1f 0%,#f9511b 100%);
                    background: -ms-linear-gradient(135deg,#f9bc1f 0%,#f9511b 100%);
                    background: linear-gradient(135deg,#f9bc1f 0%,#f9511b 100%);
                    color:#fff;
                }
                &.urank02{
                    background:#a7c2ca;
                    color:#fff;
                }
                &.urank03{
                    background: -moz-linear-gradient(top,#e5ca99 0%, #d0b583 100%);
                    background: -webkit-linear-gradient(top,#e5ca99 0%,#d0b583 100%);
                    background: -o-linear-gradient(top,#e5ca99 0%,#d0b583 100%);
                    background: -ms-linear-gradient(top,#e5ca99 0%,#d0b583 100%);
                    background: linear-gradient(to bottom,#e5ca99 0%,#d0b583 100%);
                    color:#fff;
                }
            }
            .headImg{
                width: 36px;
                height: 36px;
                border-radius: 4px;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                img{
                    width: 100%;
                }
                &.headImgBorder{
                    background: -moz-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                    background: -webkit-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                    background: -o-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                    background: -ms-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                    background: linear-gradient(to left,#fbbf44 0%,#e85524 100%);
                    padding: 1px;
                    img{
                        border-radius:50%;
                    }
                }
            }
            .nopic{
                width: 36px;
                height: 36px;
                border-radius: 4px;
                background: url(../assets/default_pic.jpg) center center no-repeat;
                background-size:100%;
                margin-left: auto;
                margin-right: auto;
                &.headImgBorder{
                    background: -moz-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                    background: -webkit-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                    background: -o-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                    background: -ms-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                    background: linear-gradient(to left,#fbbf44 0%,#e85524 100%);
                    padding: 1px;
                    img{
                        border-radius:50%;
                    }
                }
            }
            .uname{
                font-size:$fontsize14;
                color: #111111;
                cursor: pointer;
            }
            .innum{
                color: #333333;
                font-size:$fontsize14;
            }
            .dealnum{
                color: #333333;
                font-size:$fontsize14;
            }
            .milnum{
                color: #333333;
                font-size:$fontsize14;
                padding-left:30px;
                display: inline-block;
                line-height:38px;
                position: relative;
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 8px;
                    width:30px;
                    height:28px;
                    background: url(../assets/mildeal.png) center center no-repeat;
                    background-size: 100% auto;
                }
            }
        }
        td.el-table__cell{
            border-top: 1px solid #f0f0f0;
            border-bottom:0px solid #f0f0f0;
            padding:12px 0px;
        }
        .sort-caret.ascending{
            border-bottom-color:#93adc7;
            border-left-width: 4px;
            border-right-width: 4px;
        }
        .sort-caret.descending{
            border-top-color:#93adc7;
            border-left-width: 4px;
            border-right-width: 4px;
        }
        .ascending .sort-caret.ascending {
            border-bottom-color:#315c88;
        }
        .descending .sort-caret.descending {
            border-top-color:#315c88;
        }
    }
}
.memberAward{
    background-color: #fff;
    border:1px solid #f0f0f0;
    position: relative;
    margin-bottom: 15px;
    .memberTit{
        position: relative;
        height:80px; 
        background: -moz-linear-gradient(right,#fffbfa 0%, #ffeeee 100%);
        background: -webkit-linear-gradient(right,#fffbfa 0%,#ffeeee 100%);
        background: -o-linear-gradient(right,#fffbfa 0%,#ffeeee 100%);
        background: -ms-linear-gradient(right,#fffbfa 0%,#ffeeee 100%);
        background: linear-gradient(to left,#fffbfa 0%,#ffeeee 100%);
        &:after{
            background: url(../assets/personal_bg04.png) no-repeat top right;
            background-size:100%;
            width:120px;
            height:80px;
            position: absolute;
            right:0px;
            top:0px;
            z-index: 3;
        }
        &:before{
            background: url(../assets/personal_bg05.gif) no-repeat top right;
            background-size:100%;
            width:120px;
            height:80px;
            position: absolute;
            right:0px;
            top:0px;
            z-index: 2;
        }
        h3{color:#d62815;}
    }
    .awardRank{
        .inul{
            overflow: hidden;
            .nodata{
                padding: 30px 20px;
                text-align: center;
                font-size: 14px;
                color: #a1a1a1;
            }
        }
        li{
            a{
                flex:1;
                padding: 13px 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-top: 1px solid rgba(245, 231, 231, 0.6);
                cursor: pointer;
            }
            .rankNum{
                width:30px;
                height:36px;
                color: #888888;
                font-size:$fontsize14;
                text-align: center;
                line-height:36px;
                .numTop{
                    width:30px;
                    height:25px;
                }
                .numTop01{
                    background: url(../assets/personal_AwardIcon01.png) center center no-repeat;
                    background-size:20px 25px;
                    margin-top: 5px;
                }
                .numTop02{
                    background: url(../assets/personal_AwardIcon02.png) center center no-repeat;
                    background-size:20px 25px;
                    margin-top: 5px;
                }
                .numTop03{
                    background: url(../assets/personal_AwardIcon03.png) center center no-repeat;
                    background-size:20px 25px;
                    margin-top: 5px;
                }
            }
            .userImg{
                padding-left:38px;
                width:95px;
                .headImg{
                    width: 36px;
                    height: 36px;
                    overflow: hidden;
                    position: relative;
                    span{
                        clear: both;
                        display: block;
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                        position: relative;
                        margin: 0 auto;
                        img{
                            width: 100%;
                            position: absolute;
                            left: 0px;
                            width: 100%;
                            top: 0%;
                            -o-object-fit: cover;
                            object-fit: cover;
                            transition: all 0.5s;
                        }
                    }
                }
                .nopic{
                    width: 36px;
                    height: 36px;
                    overflow: hidden;
                    border-radius: 4px;
                    position: relative;
                    cursor: pointer;
                    background: url(../assets/default_pic.jpg) center center no-repeat;
                    background-size:100%;
                }    
            }
            .userName{
                color: #111111;
                font-size:$fontsize15;
                .dept{
                    color:#666;
                }
            }
            .userAward{
                color: #333333;
                font-size:$fontsize14;
                text-align: right;
                .num01{
                    background-image: linear-gradient(90deg,#f9c020 ,#f83801);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: bold;
                }
                .num02{
                    background-image: linear-gradient(90deg,#92acc7 ,#315c88);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: bold;
                }
                .num03{
                    background-image: linear-gradient(90deg,#ad6d2d ,#f5c166);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: bold;
                }
            }
        }
    }
    .awardMore{
        width: 60px;
        height:0px;
        position: absolute;
        cursor: pointer;
        left: 50%;
        margin-left: -30px;
        bottom: -15px;
        border-top: 15px solid #e2e3e8;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom:0px;
        transition: all 0.3s ease;
        &:before{
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -6px;
            top: -10px;
            width: 0;
            height: 0;
            border-left:5px solid transparent;
            border-right:5px solid transparent;
            border-top:5px solid #fff;
            border-bottom:0px;
        }
        &:hover{
            border-top-color:#d62815;
        }
    }
    .rowRotate{
        border-top-color: #ad6d2d;
        &:before{
            top: -11px;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}
.dealRankMain{
    margin:0px -10px;
    .dealRankMainItem{
        float: left;
        width:calc(50% - 20px);
        margin:0px 10px;
        background-color: #fff;
        border:1px solid #f0f0f0;
        .memberTit{
            height:80px; 
            background: -moz-linear-gradient(right,#f9fbff 0%, #edf4ff 100%);
            background: -webkit-linear-gradient(right,#f9fbff 0%,#edf4ff 100%);
            background: -o-linear-gradient(right,#f9fbff 0%,#edf4ff 100%);
            background: -ms-linear-gradient(right,#f9fbff 0%,#edf4ff 100%);
            background: linear-gradient(to left,#f9fbff 0%,#edf4ff 100%);
            &:after{
                background: url(../assets/personal_bg01.png) no-repeat top right;
                background-size:100%;
            }
            h3{color:#0749f3;}
        }
        .dealRankMainBox{
            text-align: center;
            thead{
                height:48px;
                color: #1a1a1a;
                font-size:$fontsize14;
                font-weight: normal;
                tr,th{
                    background-color: #fffcf5;
                    font-weight: normal;
                    color:#1a1a1a;
                }
                th.el-table__cell.is-leaf{
                    border-top: 1px solid #f0f0f0;
                    border-bottom:0px solid #f0f0f0;
                    padding: 0;
                }
            }
            .cell{
                text-align: center;
                line-height: normal;
                .urank{
                    color: #888888;
                    font-size:$fontsize14;
                    width: 18px;
                    height: 18px;
                    border-radius: 2px;
                    background: #dcdcdc;
                    display:inline-block;
                    &.urank01{
                        background: -moz-linear-gradient(135deg,#f9bc1f 0%, #f9511b 100%);
                        background: -webkit-linear-gradient(135deg,#f9bc1f 0%,#f9511b 100%);
                        background: -o-linear-gradient(135deg,#f9bc1f 0%,#f9511b 100%);
                        background: -ms-linear-gradient(135deg,#f9bc1f 0%,#f9511b 100%);
                        background: linear-gradient(135deg,#f9bc1f 0%,#f9511b 100%);
                        color:#fff;
                    }
                    &.urank02{
                        background:#a7c2ca;
                        color:#fff;
                    }
                    &.urank03{
                        background: -moz-linear-gradient(top,#e5ca99 0%, #d0b583 100%);
                        background: -webkit-linear-gradient(top,#e5ca99 0%,#d0b583 100%);
                        background: -o-linear-gradient(top,#e5ca99 0%,#d0b583 100%);
                        background: -ms-linear-gradient(top,#e5ca99 0%,#d0b583 100%);
                        background: linear-gradient(to bottom,#e5ca99 0%,#d0b583 100%);
                        color:#fff;
                    }
                }
                .headImg{
                    width: 36px;
                    height: 36px;
                    border-radius: 4px;
                    margin-left: auto;
                    margin-right: auto;
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    img{
                        width: 100%;
                    }
                    &.headImgBorder{
                        background: -moz-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -webkit-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -o-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -ms-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: linear-gradient(to left,#fbbf44 0%,#e85524 100%);
                        padding: 1px;
                        img{
                            border-radius:50%;
                        }
                    }
                }
                .nopic{
                    width: 36px;
                    height: 36px;
                    border-radius: 4px;
                    background: url(../assets/default_pic.jpg) center center no-repeat;
                    background-size:100%;
                    margin-left: auto;
                    margin-right: auto;
                    &.headImgBorder{
                        background: -moz-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -webkit-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -o-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -ms-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: linear-gradient(to left,#fbbf44 0%,#e85524 100%);
                        padding: 1px;
                        img{
                            border-radius:50%;
                        }
                    }
                }
                .uname{
                    font-size:$fontsize14;
                    color: #111111;
                    cursor: pointer;
                }
                .innum{
                    color: #333333;
                    font-size:$fontsize14;
                }
                .dealnum{
                    color: #333333;
                    font-size:$fontsize14;
                }
                .milnum{
                    color: #333333;
                    font-size:$fontsize14;
                    padding-left:30px;
                    display: inline-block;
                    line-height:38px;
                    position: relative;
                    &:before{
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 8px;
                        width:30px;
                        height:28px;
                        background: url(../assets/mildeal.png) center center no-repeat;
                        background-size: 100% auto;
                    }
                }
            }
            td.el-table__cell{
                border-top: 1px solid #f0f0f0;
                border-bottom:0px solid #f0f0f0;
                padding:12px 0px;
            }
            .sort-caret.ascending{
                border-bottom-color:#93adc7;
                border-left-width: 4px;
                border-right-width: 4px;
            }
            .sort-caret.descending{
                border-top-color:#93adc7;
                border-left-width: 4px;
                border-right-width: 4px;
            }
            .ascending .sort-caret.ascending {
                border-bottom-color:#315c88;
            }
            .descending .sort-caret.descending {
                border-top-color:#315c88;
            }
        }
    }
    &:after{
        content: '';
        display: block;
        clear: both;
    }
    .dealRankLeft{
        float: left;
        width:75.5%;
        padding-right: 10px;
        .memberInquiry{
            float: left;
            margin-left:20px;
            width:calc(33.3333% - 20px);
        }
        .memberDeal{
            float: left;
            margin-left:20px;
            width:calc(33.3333% - 20px);
        }
        .millionDeal{
            float: left;
            margin-left:20px;
            width:calc(33.3333% - 20px);
        }
        .dealRankTop{
            margin-left:-20px;
            margin-bottom:37px;
            &:after{
                content: '';
                display: block;
                clear: both;
            }
        }
    }
    .dealRankRight{
        float: left;
        width:24.5%;
        padding-left: 10px;
    }
    &.active{
        .dealRankLeft{
            float:none;
            width:100%;
            padding-right: 0px;
            .dealRankTop{
            }
            .memberInquiry{
                width:calc(25% - 20px);
            }
            .memberDeal{
                width:calc(25% - 20px);
            }
            .millionDeal{
                width:calc(25% - 20px);
            }
            .dealRankRight{
                width:calc(25% - 20px);
                margin-left:20px;
                padding-right:0px;
                padding-left:0px;
            }
        }
    }
}
@media screen and(max-width:1600px){
    .dealRankMain{
        .dealRankLeft{
            width: 100%;
            padding-right: 0;
        }
        .dealRankRight{
            width: 100%;
            margin-top: 20px;
            padding-left: 0;
            .memberAward{
                width:100%;
                .awardRank{
                    .inul{
                        padding-right: 20px;
                        height: auto!important;
                        li{
                            float: left;
                            padding:0px;
                            margin-left: 20px;
                            width: calc(33.3333% - 20px);
                            .userImg{
                                padding-left: 15px;
                                width: 75px;
                            }
                            &:first-child,&:first-child+li,&:first-child+li+li{
                                a{
                                    border-top:0px;
                                }
                            }
                        }
                    }
                }
                .awardMore{display:none!important;}
            }
            &:after{
                content: '';
                display: block;
                clear: both;
            }
        }
    }
}