@font-face{
    font-family: 'numberfont'; 
    src:url('../fonts/number.woff') format('woff'),
        url('../fonts/number.ttf') format('truetype');
    font-display: swap;
}
.memberTopTab{
    background-color: #fff;
    padding: 20px 30px;
    margin-bottom:20px;
    .chooseDepart{
        position: relative;
        z-index: 9;
        .choosetit{
            font-size:$fontsize14;
            color: #666;
            display: inline-block;
            vertical-align: middle;
            line-height:34px;
        }
        .departList{
            line-height:30px;
            span{
                color: #333333;
                font-size:$fontsize13;
                padding: 6px 16px;
                line-height: 20px;
                cursor: pointer;
                border: 1px solid #d8dce5;
                background: #fff;
                margin-left: -1px;
                display: inline-block;
                &:first-child{
                    border-top-left-radius:4px;
                    border-bottom-left-radius:4px;
                }
                &:last-child{
                    border-top-right-radius:4px;
                    border-bottom-right-radius:4px;
                }
                &:hover,&.active{
                    border: 1px solid #0048ff;
                    color: #0048ff;
                    position: relative;
                    z-index: 2;
                }
                &:hover{
                    background-color: #fff;
                }
                &.active{
                    background-color: #e5ecff;
                }
            }
        }
        .departchoose{
            line-height:30px;
            label{
                color: #333333;
                padding: 6px 16px;
                cursor: pointer;
                line-height: 20px;
                border: 1px solid #d8dce5;
                background: #fff;
                margin-left: -1px;
                display: inline-block;
                margin-right: 0px;
                &:first-child{
                    border-top-left-radius:4px;
                    border-bottom-left-radius:4px;
                }
                &.is-checked{
                    position: relative;
                    z-index: 5;
                    border: 1px solid #0048ff;
                    background-color: #e5ecff;
                    .el-checkbox__input.is-checked + .el-checkbox__label {
                        color: #0048ff;
                    }
                }
                .el-checkbox__label{
                    font-size:$fontsize13;
                    line-height: 20px;
                }
                &:hover{
                    position: relative;
                    z-index: 5;
                    border-color: #0970ff;
                    background-color: #fff;
                    .el-checkbox__input .el-checkbox__inner {
                        background-color: #fff;
                        border-color: #0970ff;
                    }
                    .el-checkbox__input + .el-checkbox__label {
                        color: #0970ff;
                    }
                }
            }
            .el-checkbox-group{
                display: inline-block;
                label{
                    border-radius:0px;
                    &:last-child{
                        border-top-right-radius:4px;
                        border-bottom-right-radius:4px;
                    }
                }
            }
        }
        .departItems{
            line-height:30px;
            span{
                color: #4c4c4c;
                font-size:$fontsize14;
                border: none;
                padding: 6px 16px;
                line-height: 25px;
                background-color: #eff4f8;
                margin-left:10px;
                cursor: pointer;
                &.active,&:hover{
                    //background-color:  #2f88ff;
                    background-color: #0048ff;
                    color: #fff;
                }
                &.active{
                    position: relative;
                    &:after{
                        content:'';
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        border-left: 1px solid #f3f3f3;
                        border-top: 1px solid #f3f3f3;
                        background: #f6f7f8;
                        transform: rotate(55deg) skew(20deg);
                        left: 35px;
                        top:37px;
                        margin-left:-7px;
                    }
                }
            }
            .date-range{
                width:200px;
                border-radius:0;
                position:relative;
                height:34px;
                padding:3px 25px 3px 8px;
                border:1px solid #e1e3ea;
                background: none;
                vertical-align: top;
                span.el-range-separator{
                    background: none;
                    padding: 6px 6px;
                    width: auto;
                    margin: 0px;
                    line-height: 23px;
                }
                &.el-range-editor--mini .el-range-input{background: none;}
                &.el-date-editor .el-range__icon{
                    float:right;
                    margin-left:0;
                    position:absolute;
                    right:0;
                    top:0;
                    &:before{
                    vertical-align:middle;
                    }
                }
            }
        }
        .departItemBtn{
            display: inline-block;
            font-style: normal;
            color: #2f88ff;
            font-size:$fontsize12;
            line-height:34px;
            margin-left:15px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .choosePerson{
            &.active{
                margin-top: 16px;
                margin-left:90px;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 12px;
                max-width: 1400px;
                border: solid 1px #f0f0f0;
                position: relative;
                background: #f6f7f8;
            }
            .departItems{
                .item-checkbox{
                    float: left;
                    border: none;
                    padding-right:18px;
                    cursor: pointer;
                    line-height: 24px;
                    position: relative;
                    padding-left:21px;
                    i{
                        position: absolute;
                        left:0px;
                        top:50%;
                        margin-top:-6px;
                        display: inline-block;
                        width: 11px;
                        height: 11px;
                        border: 1px solid #848484;
                        box-sizing: border-box;
                        border-radius:50%;
                        vertical-align: middle;
                    }
                    span{
                        font-size:$fontsize13;
                        display: inline-block;
                        color: #313131;
                    }
                    &.active,&:hover{
                        i{
                            border: 1px solid #0048ff;
                            &:before{
                                content:'';
                                width: 7px;
                                height: 7px;
                                background:#0048ff;
                                border-radius:50%;
                                position: absolute;
                                left:1px;
                                top:1px;
                            }
                        }
                    }
                }
            }
    }
    .multiSelect{
            margin-top: 16px;
            margin-left:90px;
            padding-top:5px;
            padding-bottom:5px;
            padding-left: 12px;
            max-width: 1400px;
            border: solid 1px #f0f0f0;
            position: relative;
            background: #f6f7f8;
            .departItems{
                .item-checkbox{
                    float: left;
                    border: none;
                    padding-right:18px;
                    cursor: pointer;
                    line-height: 24px;
                    position: relative;
                    padding-left:21px;
                    i{
                        position: absolute;
                        left:0px;
                        top:50%;
                        margin-top:-6px;
                        display: inline-block;
                        width: 11px;
                        height: 11px;
                        border: 1px solid #848484;
                        box-sizing: border-box;
                        vertical-align: middle;
                    }
                    span{
                        font-size:$fontsize13;
                        display: inline-block;
                        color: #313131;
                    }
                    &.active,&:hover{
                        i{
                            border: 1px solid #2f88ff;
                            background:#2f88ff;
                            &:before {
                                content: '';
                                width: 7px;
                                height: 4px;
                                transform: rotate(-45deg);
                                border-left: 1px solid #fff;
                                border-bottom: 1px solid #fff;
                                position: absolute;
                                left: 1px;
                                top: 1px;
                            }
                        }
                    }
                }
            }
    }
}
.memberTit{
    padding:19px 22px 0px 22px;
    position: relative;
    &:after{
        position: absolute;
        right:0px;
        top:0px;
        bottom:0px;
        width:120px;
    }
    h3{
        clear: both;
        display: block;
        vertical-align: top;
        color: #1a1a1a;
        font-size:$fontsize17;
        padding-bottom:12px;
        line-height:1;
        span{
            display: inline-block;
            margin-left:10px;
            font-size: $fontsize14;
            color: #a1a1a1;
            font-weight: normal;
        }
    }
    p{
        clear: both;
        display: block;
        vertical-align: top;
        color:#a1a1a1;
        font-size:$fontsize14;
        line-height:1;
        span{
            display: inline-block;
            color: #1a1a1a;
            margin-right:10px;
        }
    }
}
.memberInquiry{
    background-color: #fff;
    border:1px solid #f0f0f0;
    .memberTit{
        height:80px; 
        background: -moz-linear-gradient(right,#f9fbff 0%, #edf4ff 100%);
        background: -webkit-linear-gradient(right,#f9fbff 0%,#edf4ff 100%);
        background: -o-linear-gradient(right,#f9fbff 0%,#edf4ff 100%);
        background: -ms-linear-gradient(right,#f9fbff 0%,#edf4ff 100%);
        background: linear-gradient(to left,#f9fbff 0%,#edf4ff 100%);
        &:after{
            background: url(../assets/personal_bg01.png) no-repeat top right;
            background-size:100%;
        }
        h3{color:#0749f3;}
    }
    .inquiryRank{
        position: relative;
        .inul{
            overflow: hidden;
            .nodata{
                padding: 30px 20px;
                text-align: center;
                font-size: 14px;
                color: #a1a1a1;
            }
        }
        li{
            a{
                flex:1;
                padding:12px 35px 12px 12px;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-top: 1px solid rgba(245, 243, 228, 0.8);
                cursor: pointer;
            }
            .rankNum{
                width: 50px;
                height: 38px;
                position: relative;
                .numTop{
                    width: 50px;
                    height: 38px;
                    color: #888888;
                    font-size:$fontsize14;
                    text-align: center;
                    line-height:38px;
                    &.numTop01{
                        position: absolute;
                        left:0px;
                        top:0px;
                        height: 47px;
                        background: url(../assets/personal_InquiryIcon01.png) center center no-repeat;
                        background-size: 50px 47px;
                    }
                    &.numTop02{
                        position: absolute;
                        left:0px;
                        top:0px;
                        height: 47px;
                        background: url(../assets/personal_InquiryIcon02.png) center center no-repeat;
                        background-size: 50px 47px;
                    }
                    &.numTop03{
                        position: absolute;
                        left:0px;
                        top:0px;
                        height: 47px;
                        background: url(../assets/personal_InquiryIcon03.png) center center no-repeat;
                        background-size: 50px 47px;
                    }
                }
            }
            .userImg{
                width: 100px;
                padding-left: 38px;
                .headImg{
                    width: 38px;
                    height: 38px;
                    overflow: hidden;
                    border-radius: 50%;
                    position: relative;
                    span{
                        clear: both;
                        display: block;
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        position: relative;
                        margin: 0 auto;
                        img{
                            width: 100%;
                            position: absolute;
                            left: 0px;
                            width: 100%;
                            top: 0%;
                            -o-object-fit: cover;
                            object-fit: cover;
                            transition: all 0.5s;
                        }
                    }
                    &.headImgBorder{
                        background: -moz-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -webkit-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -o-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -ms-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: linear-gradient(to bottom,#fbbf44 0%,#e85524 100%);
                        padding: 1px;
                    }
                }
                .nopic{
                    width: 38px;
                    height: 38px;
                    overflow: hidden;
                    border-radius: 50%;
                    &.headImgBorder{
                        background: -moz-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -webkit-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -o-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -ms-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: linear-gradient(to bottom,#fbbf44 0%,#e85524 100%);
                        padding: 1px;
                    }
                    span{
                        clear: both;
                        display: block;
                        overflow: hidden;
                        width:100%;
                        height:100%;
                        border-radius: 50%;
                        background: url(../assets/default_pic.jpg) center center no-repeat;
                        background-size:100%;
                    }
                }
            }
            .userName{
                color: #111111;
                font-size:$fontsize15;
                .dept{
                    color:#666;
                }
            }
            .userInquiry{
                color: #333333;
                font-size:$fontsize14;
                text-align: right;
                .num01{
                    background-image: linear-gradient(90deg,#f9c020 ,#f83801);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: bold;
                }
                .num02{
                    background-image: linear-gradient(90deg,#92acc7 ,#315c88);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: bold;
                }
                .num03{
                    background-image: linear-gradient(90deg,#ad6d2d ,#f5c166);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: bold;
                }
            }
        }
    }
    .inMore{
        width: 60px;
        height:0px;
        position: absolute;
        cursor: pointer;
        left: 50%;
        margin-left: -30px;
        bottom: -15px;
        border-top: 15px solid #e2e3e8;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom:0px;
        transition: all 0.3s ease;
        &:before{
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -6px;
            top: -10px;
            width: 0;
            height: 0;
            border-left:5px solid transparent;
            border-right:5px solid transparent;
            border-top:5px solid #fff;
            border-bottom:0px;
            transition: all 0.3s ease;
        }
        &:hover{
            border-top-color:#0749f3;
        }
    }
    .rowRotate{
        border-top-color: #ad6d2d;
        &:before{
            top: -11px;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
    .inRankSome{
        height: 856px;
        overflow: hidden;
    }
}
.memberDeal{
    background-color: #fff;
    border:1px solid #f0f0f0;
    .memberTit{
        height:80px; 
        background: -moz-linear-gradient(right,#f5fef8 0%, #e6fdee 100%);
        background: -webkit-linear-gradient(right,#f5fef8 0%,#e6fdee 100%);
        background: -o-linear-gradient(right,#f5fef8 0%,#e6fdee 100%);
        background: -ms-linear-gradient(right,#f5fef8 0%,#e6fdee 100%);
        background: linear-gradient(to left,#f5fef8 0%,#e6fdee 100%);
        &:after{
            background: url(../assets/personal_bg02.png) no-repeat top right;
            background-size:100%;
        }
        h3{color:#09a742;}
    }
    .dealRank{
        position: relative;
        .deul{
            overflow: hidden;
            .nodata{
                padding: 30px 20px;
                text-align: center;
                font-size: 14px;
                color: #a1a1a1;
            }
        }
        li{
            a{
                flex:1;
                padding:12px 35px 12px 22px;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-top: 1px solid rgba(245, 243, 228, 0.8);
                cursor: pointer;
            }
            .rankNum{
                width: 27px;
                height: 32px;
                position: relative;
                .numTop{
                    width: 27px;
                    height: 32px;
                    color: #888888;
                    font-size:$fontsize14;
                    text-align: center;
                    line-height:32px;
                    &.numTop01{
                        background: url(../assets/personal_ScoreIcon01.png) center center no-repeat;
                        background-size:27px 32px;
                    }
                    &.numTop02{
                        background: url(../assets/personal_ScoreIcon02.png) center center no-repeat;
                        background-size: 27px 32px;
                    }
                    &.numTop03{
                        background: url(../assets/personal_ScoreIcon03.png) center center no-repeat;
                        background-size: 27px 32px;
                    }
                }
            }
            .userImg{
                width: 100px;
                padding-left: 38px;
                .headImg{
                    width: 38px;
                    height: 38px;
                    overflow: hidden;
                    border-radius: 50%;
                    position: relative;
                    span{
                        clear: both;
                        display: block;
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        position: relative;
                        margin: 0 auto;
                        img{
                            width: 100%;
                            position: absolute;
                            left: 0px;
                            width: 100%;
                            top: 0%;
                            -o-object-fit: cover;
                            object-fit: cover;
                            transition: all 0.5s;
                        }
                    }
                    &.headImgBorder{
                        background: -moz-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -webkit-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -o-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -ms-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: linear-gradient(to bottom,#fbbf44 0%,#e85524 100%);
                        padding: 1px;
                    }
                }
                .nopic{
                    width: 38px;
                    height: 38px;
                    overflow: hidden;
                    border-radius: 50%;
                    &.headImgBorder{
                        background: -moz-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -webkit-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -o-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -ms-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: linear-gradient(to bottom,#fbbf44 0%,#e85524 100%);
                        padding: 1px;
                    }
                    span{
                        clear: both;
                        display: block;
                        overflow: hidden;
                        width:100%;
                        height:100%;
                        border-radius: 50%;
                        background: url(../assets/default_pic.jpg) center center no-repeat;
                        background-size:100%;
                    }
                }
            }
            .userName{
                color: #111111;
                font-size:$fontsize15;
                .dept{
                    color:#666;
                }
            }
            .userInquiry{
                color: #333333;
                font-size:$fontsize14;
                text-align: right;
                .num01{
                    background-image: linear-gradient(90deg,#f9c020 ,#f83801);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: bold;
                }
                .num02{
                    background-image: linear-gradient(90deg,#92acc7 ,#315c88);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: bold;
                }
                .num03{
                    background-image: linear-gradient(90deg,#ad6d2d ,#f5c166);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: bold;
                }
            }
        }
    }
    .deMore{
        width: 60px;
        height:0px;
        position: absolute;
        cursor: pointer;
        left: 50%;
        margin-left: -30px;
        bottom: -15px;
        border-top: 15px solid #e2e3e8;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom:0px;
        transition: all 0.3s ease;
        &:before{
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -6px;
            top: -10px;
            width: 0;
            height: 0;
            border-left:5px solid transparent;
            border-right:5px solid transparent;
            border-top:5px solid #fff;
            border-bottom:0px;
        }
        &:hover{
            border-top-color:#09a742;
        }
    }
    .rowRotate{
        border-top-color: #315c88;
        &:before{
            top: -11px;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}
.millionDeal{
    background-color: #fff;
    border:1px solid #f0f0f0;
    .memberTit{
        height:80px; 
        background: -moz-linear-gradient(right,#fefbf4 0%, #fff9e9 100%);
        background: -webkit-linear-gradient(right,#fefbf4 0%,#fff9e9 100%);
        background: -o-linear-gradient(right,#fefbf4 0%,#fff9e9 100%);
        background: -ms-linear-gradient(right,#fefbf4 0%,#fff9e9 100%);
        background: linear-gradient(to left,#fefbf4 0%,#fff9e9 100%);
        &:after{
            background: url(../assets/personal_bg03.png) no-repeat top right;
            background-size:100%;
        }
        h3{color:#efb407;}
    }
    .milRank{
        position: relative;
        .milul{
            overflow: hidden;
            .nodata{
                padding: 30px 20px;
                text-align: center;
                font-size: 14px;
                color: #a1a1a1;
            }
        }
        li{
            a{
                flex:1;
                padding:12px 35px 12px 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-top: 1px solid rgba(245, 243, 228, 0.8);
                cursor: pointer;
            }
            .rankNum{
                width:26px;
                height:38px;
                position: relative;
                .rankstyle{
                    width: 26px;
                    height: 38px;
                    color: #888888;
                    font-size:$fontsize14;
                    text-align: center;
                    line-height:38px;
                    &.rank01{
                        position: absolute;
                        left:0px;
                        top:0px;
                        height: 45px;
                        background: url(../assets/personal_MoneryIcon01.png) center center no-repeat;
                        background-size: 26px 45px;
                    }
                    &.rank02{
                        position: absolute;
                        left:0px;
                        top:0px;
                        height: 45px;
                        background: url(../assets/personal_MoneryIcon02.png) center center no-repeat;
                        background-size: 26px 45px;
                    }
                    &.rank03{
                        position: absolute;
                        left:0px;
                        top:0px;
                        height: 45px;
                        background: url(../assets/personal_MoneryIcon03.png) center center no-repeat;
                        background-size: 26px 45px;
                    }
                }
                .numNormal{
                    width: 26px;
                    height: 38px;
                    color: #888888;
                    font-size:$fontsize14;
                    text-align: center;
                    line-height:38px;
                }
            }
            .userImg{
                width:96px;
                padding-left:35px;
                .headImg{
                    width: 38px;
                    height: 38px;
                    overflow: hidden;
                    border-radius: 50%;
                    position: relative;
                    span{
                        clear: both;
                        display: block;
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        position: relative;
                        margin: 0 auto;
                        img{
                            width: 100%;
                            position: absolute;
                            left: 0px;
                            width: 100%;
                            top: 0%;
                            -o-object-fit: cover;
                            object-fit: cover;
                            transition: all 0.5s;
                        }
                    }
                    &.headImgBorder{
                        background: -moz-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -webkit-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -o-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -ms-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: linear-gradient(to bottom,#fbbf44 0%,#e85524 100%);
                        padding: 1px;
                    }
                }
                .nopic{
                    width: 38px;
                    height: 38px;
                    overflow: hidden;
                    border-radius: 50%;
                    &.headImgBorder{
                        background: -moz-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -webkit-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -o-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: -ms-linear-gradient(top,#fbbf44 0%, #e85524 100%);
                        background: linear-gradient(to bottom,#fbbf44 0%,#e85524 100%);
                        padding: 1px;
                    }
                    span{
                        clear: both;
                        display: block;
                        overflow: hidden;
                        width:100%;
                        height:100%;
                        border-radius: 50%;
                        background: url(../assets/default_pic.jpg) center center no-repeat;
                        background-size:100%;
                    }
                }
            }
            .userName{
                color: #111111;
                font-size:$fontsize15;
                .dept{
                    color:#666;
                }
            }
            .milNum{
                text-align: right;
                p{
                    color: #333333;
                    font-size:$fontsize14;
                    padding-left: 30px;
                    line-height: 38px;
                    position: relative;
                    display: inline-block;
                    &:before{
                        content: '';
                        display: block;
                        width:30px;
                        height:28px;
                        background: url(../assets/mildeal.png) center center no-repeat;
                        background-size: 100% auto;
                        position: absolute;
                        left: 0;
                        top: 9px;
                    }
                }
            }
        }
    }
    .milMore{
        width: 60px;
        height:0px;
        position: absolute;
        cursor: pointer;
        left: 50%;
        margin-left: -30px;
        bottom: -15px;
        border-top: 15px solid #e2e3e8;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom:0px;
        transition: all 0.3s ease;
        &:before{
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -6px;
            top: -10px;
            width: 0;
            height: 0;
            border-left:5px solid transparent;
            border-right:5px solid transparent;
            border-top:5px solid #fff;
            border-bottom:0px;
        }
        &:hover{
            border-top-color:#efb407;
        }
    }
    .rowRotate{
        border-top-color: #57657a;
        &:before{
            top: -11px;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}
.payMemberTit{
    h3{
        display:block;
        vertical-align: top;
        color: #1a1a1a;
        font-size:$fontsize17;
        padding:10px 30px;
        line-height:36px;
        background: -moz-linear-gradient(right,#fffdfa 0%, #fff9e8 100%);
        background: -webkit-linear-gradient(right,#fffdfa 0%,#fff9e8 100%);
        background: -o-linear-gradient(right,#fffdfa 0%,#fff9e8 100%);
        background: -ms-linear-gradient(right,#fffdfa 0%,#fff9e8 100%);
        background: linear-gradient(to left,#fffdfa 0%,#fff9e8 100%);
        span{
            color: #999;
            font-size:$fontsize12;
            margin-left: 5px;
            margin-right: 5px;
            font-weight: normal;
        }
    }
}
.dealRankMain{
    .dealRankMainItem{
        width:100%;
        background-color: #fff;
        .dealRankMainBox{
            text-align: center;
            .el-table{
                border: 1px solid #b7b7b7;
                border-bottom:0px solid #b7b7b7;
                &.SiteTable{border-radius:0px;}
                &.SiteTable th.is-leaf{line-height: 38px!important;font-size: $fontsize13;}
                thead.is-group th.el-table__cell{border-bottom:0px;}
                thead{
                    height:48px;
                    color: #333333;
                    font-size:$fontsize13;
                    font-weight: normal;
                    tr,th{
                        background-color: #2d71b5;
                        font-weight: normal;
                        color:#fff;
                    }
                    th.el-table__cell.is-leaf{
                        border-top: 1px solid #b7b7b7;
                        padding: 0;
                        border-bottom: 1px solid #b7b7b7 !important;
                        border-right: 1px solid #b7b7b7 !important;
                    }
                    th.el-table__cell{
                        border-top: 1px solid #b7b7b7;
                        border-right: 1px solid #b7b7b7 !important;
                    }
                }
                .cell{
                    text-align: center;
                    line-height: normal;
                    .uname{
                        font-size:$fontsize13;
                        color: #333333;
                        cursor: pointer;
                        &:hover{
                            color:#d62815;
                        }
                    }
                }
                td.el-table__cell{
                    border-bottom: 1px solid #b7b7b7 !important;
                    border-right: 1px solid #b7b7b7 !important;
                    padding:15px 0px;
                    &.dayStyle{
                        background:#fbe5d6;
                    }
                    &.monthStyle{
                        background:#fff4d1;
                    }
                    &.yearStyle{
                        background:#e2f0d9;
                    }
                    position: relative;
                    span.inTime{
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background: #ebebeb;
                        display: table-cell;
                        padding: 15px 0px;
                    }
                }
                .ascending .sort-caret.ascending{border-bottom-color:#fff;}
                .descending .sort-caret.descending{border-top-color:#fff;}
            }             
            .el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
                background-color: #deebf7;
                &.dayStyle,&.monthStyle,&.yearStyle,span.inTime{
                    background: #deebf7;
                }
            }
        }
    }
}

@media (max-width:1500px){
    .memberTopTab{
        .chooseDepart{            
            .departchoose{
                label{
                    padding: 6px 10px;
                }
            }
            .departList{
                span{
                    padding: 6px 10px;
                }
            }
            .departItems{
                line-height:30px;
                span{
                    padding: 6px 10px;
                }
            }
        }
    }
  }