.process-index{
    .search-wrap{
        .item-search{
            float:left;
            padding: 10px 10px 10px 0;
        }
        .select-panel{
            width: 150px;
        }
    }
    .clues-title{
        margin-top: 10px;
        padding-top: 20px;
        border-top: 1px solid #eaeef0;
    }
}