
.flex-wrap{
    display: flex;
    flex-direction: row;
}
.flex-box{
    display: flex;
}
.flex-panel,.flex-content{
    flex:1;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.abs-panel{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.sub-router{
    width:180px;
    background-color: #fafafa;
    border-left: 1px solid #e8e8e8;
    .el-scrollbar{
        height: 100%;
        .el-scrollbar__wrap{
            overflow-x: hidden;
        }
        .el-scrollbar__bar.is-horizontal{
            display: none;
        }
    }
}
.no-padding{
    padding:0!important;
}
.relative{
    position: relative;
}