.redTip{
  color: #f60;
}
.redsale{
  color:$red!important;
}
.flex-wrap{
    display: flex;
    flex-direction: row;
}
.flex-box{
    display: flex;
}
.flex-content{
    flex:1;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.abs-panel{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
/** 留言系统，中英文询盘系统、业务员询盘系统对应子导航列样式 **/ 
.sub-router{
    width:190px;
    background-color: #fafafa;
    border-left: 1px solid #e8e8e8;
    .sub-wrapper{
      padding: 20px 10px;
      .side-button{
        width: 100%;
        overflow: hidden;
        .el-button{
          display: block;
          width: 100%;
          margin:0px 0px 10px 0px;
          &.el-button--primary.is-plain{
              color: #808080;
              background: #ffffff;
              border-color: #ffffff;
              line-height:24px;
              padding-top:2px;
              padding-bottom:2px;
              span{
                  display: inline-block;
                  line-height:24px;
                  font-size:$fontsize15;
                  i{
                     display: inline-block;
                     margin-right: 10px;
                     font-size:$fontsize16;
                     .svg-icon{
                          width:20px;
                          height:20px;
                          vertical-align: middle;
                         &.add_en{
                              width:16px;
                              height:16px;
                         }
                     }
                  }
              }
              &:hover{
                  background: #dae6ec;
                  border-color: #dae6ec;
                  color: #333333;
              }
          }
        }
      }
    }
    .el-scrollbar{
        height: 100%;
        .el-scrollbar__wrap{
            overflow-x: hidden;
        }
        .el-scrollbar__bar.is-horizontal{
            display: none;
        }
    }
    .phone-list{
        width: 100%;
        margin-top: 10px;
        dt{
          width: 100%;
          font-size:0;
          line-height:0;
          padding: 2px 10px;
          position: relative;
          span{
            vertical-align: top;
            line-height: 24px;
            font-size:$fontsize16;
            color: $menuActiveText;
          }
        }
        dd{
          width: 100%;
          line-height:0;
          font-size:0;
          margin: 2px 0;
          border: 1px solid #fafafa;
          border-radius: 4px;
          padding: 4px 10px;
          cursor: pointer;
          position: relative;
          &.tipphone{
            padding:0px;
            .el-button.el-tooltip{
              background: none;
              border: 0px;
              font-size: 0px;
              padding: 0;
              clear: both;
              display: block;
              width: 100%;
              text-align:left;
              >span{
                display: block;
                height: auto;
              }
              a{
                padding: 4px 10px;
                display: block;
              }
            }
          }
          &.active,&:hover{
              border: 1px solid #BDDEFF;
              background-color: #F6FBFF;
          }
          span,i,b,em{
            display: inline-block;
            height: 20px;
            font-style: normal;
            font-size:$fontsize12;
            line-height:20px;
            font-weight: normal;
            color:#52575c;
          }
          i{
            margin-left: 5px;
            font-weight: bold;
            color: $red;
          }
          em{
            color: $green;
          }
          b{
            color:$menuActiveText;
          }
          a{
            display: block;
          }
        }
        span,i,b,em{
          font-style: normal;
          font-size:$fontsize13;
          line-height:24px;
          font-weight: normal;
          color:#52575c;
        }
        i{
          margin-left: 5px;
          font-weight: bold;
          color: $red;
        }
        em{
          color: $green;
        }
        b{
          color:$menuActiveText;
        }
    }
}
.el-tooltip__popper.is-light {
    border: 1px solid #e8e6e6!important;
    color: #929292!important;
    .popper__arrow {
        border-right-color: #e8e6e6!important;
    }
}
.no-padding{
    padding:0!important;
}
.relative{
    position: relative;
}
.chart-font{
    position: relative;
    left: -40px;
    top: -20px;
    .txt-font{
        padding: 6px 10px;
        color: #fff;
        font-size:$fontsize13;
        font-weight: bold;
    }
    i{
        display: block;
        border-right: 12px dashed transparent;
        border-left:none;
        border-bottom:none;
        position: absolute;
        left: 0;
        bottom: -12px;
    }
    &.avg{
        .txt-font{
            background-color: #f16b6b;
        }
        i{
            border-top: 12px solid #f16b6b;
        }
    }
    &.target{   left: -90px;
        .txt-font{
            background-color: #6aa343;
        }
        i{
            border-top: 12px solid #6aa343;
        }
    }
}
/** 表单选中状态 **/
.el-xzstate{
  border-color: #2e88ff !important;
  .el-input__inner{
    border-color: #2e88ff !important;
    color: #2e88ff !important;
  }
  .el-select__caret,.el-range-input,.el-input__icon,.el-range-separator{
    color: #2e88ff !important;
  }
}
@media (max-width:1024px) {
  html, body, #app, #app > .el-container{
    width: 1000px;
    overflow-x: initial;
  }
}