.SaleCard{
    .SaleCardFl{
        &.sub-router .sub-wrapper{padding:0px;}
        .side-button{
          width: 100%;
          overflow: hidden;
          dl{
            width: 100%;
            padding-top:23px;
            padding-left: 15px;
            padding-right: 15px;
            dt{
              color:$menuActiveText;
              width: 100%;
              margin: 2px 0;
              border: 1px solid #fafafa;
              border-radius: 4px;
              padding: 0 10px;
              line-height: 28px;
              cursor: pointer;
              font-size: 12px;
              &:hover,&.active{
                border: 1px solid #BDDEFF;
                background-color: #F6FBFF;
              }
              span,i{
                font-style: normal;
                font-weight: normal;
              }
              i{
                margin-left: 5px;
                font-weight: bold;
                color: $red;
                font-size: 12px;
              }
            }
          }
        }
        .Salelist{
          width: 100%;
          padding:25px 15px 0px 15px;
          dt{
            color:$menuActiveText;
            width: 100%;
            margin: 2px 0;
            border: 1px solid #fafafa;
            border-radius: 4px;
            padding: 0 10px;
            line-height: 28px;
            cursor: pointer;
            font-size: 12px;
            &:hover,&.active{
              border: 1px solid #BDDEFF;
              background-color: #F6FBFF;
            }
            span,i{
              font-style: normal;
              font-weight: normal;
            }
            i{
              margin-left: 5px;
              font-weight: bold;
              color: $red;
              font-size: 12px;
            }
          }
        }
        .el-card__body{
          padding:0px;
          height: 100%;
          overflow: hidden;
          .el-scrollbar{
            height: 100%;
            .el-scrollbar__wrap{
              overflow-x: hidden;
              padding:30px 15px;
            }
            .el-scrollbar__view{
              padding-bottom: 15px;
            }
          }
        }
    }
    .SaleCardFr{
        position: relative;
        .phone-index{
          height: 100%;
          .card-header{
            padding: 5px;
          }
        }
        .tips-list{
          width: 100%;
          overflow: hidden;
          background:#e4f1f7;
          border:1px solid #47a5cf;
          border-radius:4px;
          padding-top:20px;
          padding-bottom:10px;
          margin-bottom:15px;
          .item-tips{
            float: left;
            width:47%;
            margin-left:2%;
            line-height:16px;
            text-align:left;
            margin-bottom: 10px;
            color:#333333;
            font-size: 13px;
            padding:11px 15px;
            border-radius:20px;
            background-color: #fff;
            background-image: linear-gradient(90deg, #fff 10%, #e4f1f7 50%,#fff);
            background-position: 10% center;
            background-size: 200% 100%;
            background-repeat: no-repeat;
            transition: background-position 1s ease;
            cursor: pointer;
            &:hover{background-position:-50% center}
            i{
              font-size: 13px;
              font-weight: bold;
              padding-left:3px;
              padding-right:3px;
              min-width: 22px;
              height:16px;
              text-align: center;
              line-height: 16px;
              display: inline-block;
              border-radius: 4px;
              color:#fff;
              font-style: normal;
              background:#e42c35;
            }
            strong{
              display: inline-block;
              border-right: 1px solid #fdac32;
              padding-right: 10px;
              margin-right: 10px;
              padding-left: 10px;
              width:100px;
            }
          }
        }
    }
    .search-wrap{
      padding-bottom:10px;
      .item-search{
        float:left;
        margin: 5px;
        input::-webkit-input-placeholder {
          color: #606266;
        }
        input::-moz-input-placeholder {
          color: #606266;
        }
        input::-ms-input-placeholder {
          color: #606266;
        }
        .date-range{
          width: 100%;
        }
        .checkbox-group{
          .el-checkbox{
            margin:0;
          }
          .el-checkbox+.el-checkbox{
            margin-left: 10px;
          }
        }
      }
    }
}
.box-card.SaleCardFlFrTable{
     .SiteTable{
      .SiteColor-01{color: $red;}
      .SiteColor-02{color: $Rougecolor;}
      .SiteColor-03{
        color: $apricot;
        &:hover{
          color: $Rougecolor;
        }
      }      
     }
}
.SaleTips{
   clear: both;
   li{
     clear: both;
     text-align: center;
     line-height:0;
     font-size:0;
     padding:7px;
     margin-top: 10px;
     border-radius:4px;
     border: 1px solid #47a5cf;
     background: #ecf2fa;
     width: 100%;
     margin-bottom: 10px;
     color: #333333;
     &.SaleTipRed{
      border: 1px solid #ff5c5c;
      background: #f3e9e9;
      .tips{
        color: #ff5c5c;
      }
      b{
        color: #ff5c5c;
      }
     }
     .tips,b,em{
       font-style: normal;
       vertical-align: top;
       font-size: 12px;
       height: 28px;
       line-height: 28px;
     }
     .el-button.el-button--primary{
       margin: 0 10px;
       background-color: #999999;
       border-color: #999999;
       &:hover{
        background-color: #666;
        border-color: #666;
       }
     }
     .tips{
       color: #ff840b;
       display: inline-block;
       margin-right: 5px;
     }
     b{
       color: #ff840b;
       text-decoration: underline;
     }
   }
}
.SaleMassDistribution{
  display: inline-block;
  padding-left: 10px;
  .el-select.el-select--small{
    float:left; width:150px; margin-right:10px;
  }
}
.card-content.SaleCardDataTop{
  background:#fff!important;
  border-radius:8px!important;
  padding:20px!important;
  .SaleCardDate{
    padding-bottom: 20px;
    width: 100%;
    .group-header{
      line-height: 0;
      font-size: 0;
      margin-bottom: 12px;
      border-bottom: 1px dashed #d6dbe2;
      padding-bottom: 10px;
      span{
        clear: both;
        display: inline-block;
        font-size: 14px;
        line-height:20px;
      }
    }
    .group-body{
      width: 100%;
      .team-panel{
        margin-top:9px;
        .require{
          font-size: 14px;
          line-height: 24px;
          margin-right: 10px;
          vertical-align:top;
          display: inline-block;
          width: 72px;
          text-align: right;
        }
        .all-select{
          vertical-align: middle;
          line-height: 15px;
          float: left;
        }
      }
    }
  }
}
.card-content.SaleCardDataBom{
  margin-top:15px;
}
.SaleAddEdit{
  background:#fff;
  padding: 20px 30px;
  .SaleAddEditMain{
    .SaleAddEditMainItem{
        position: relative;
        padding-top: 5px;
        padding-bottom: 0px;
        &.CnphoneAdd{
          padding-top:20px;
          padding-bottom:15px;
        }
        dl{
          dt{
            line-height: 24px;
            font-size: 13px;
            i{
              font-style: normal;
              color:$red;
            }
          }
          dd{
            margin-top: 5px;
            p{
              line-height: 32px;
              font-size: 12px;
            }
          }
        }
        &.timeArr{
          dl{
            float:none;
            clear: both;
            width:100%;
            padding-bottom:5px;
            display: flex;
            dt{
              flex: 1;
              display: flex;
              line-height:32px;
              strong{
                flex: 1;
                color:$menuActiveText;
                color:#060606;
              }
              span{
                display: inline-block;
                color:#333;
                width: 100px;
              }
            }
          }
        }
        &.needCustomers{
          dl{
            padding-top:20px;
            padding-bottom:15px;
            dt{
              span{
                color:$red;
                i{
                  display: inline-block;
                  margin-right:5px;
                }
              }
            }
            dd{
              .needCustomersBox{
                clear: both;
                display: block;
                width:100%;
                box-sizing: border-box;
                min-height:128px;
                border:1px solid #e4e8ee;
                font-size:14px;
                line-height:24px;
                padding:15px 20px;
                color:$subMenuBg;
                margin-top:10px;
                margin-bottom:6px;
                background:#fff;
                border-radius:5px;
                &+p{
                  padding-left:10px;
                  span{
                    display: inline-block;
                  }
                  a{
                    font-size: 12px;
                    font-weight: bold;
                    color:$red;
                    &:hover{
                      color:$Rougecolor;
                    }
                  }
                }
              }
            }
          }
        }
        &.divider{
          background:#eff7fa;
          padding-top:7px;
          padding-bottom:7px;
          text-align: center;
          line-height: 24px;
          color:#333333;
          font-size: 13px;
          strong{
            margin-left: 5px;
            color:#ff840b;
          }
          i{
            margin-right: 5px;
            color:#ff840b;
          }
        }
        &.SaleFoot{
          padding-top:30px;
          dl{
            float: left;
            width: 22%;
            margin-left: 4%;
            padding-bottom:5px;
            &:first-child{margin-left:0;}
            &.SaleFootFl{
              dd{
                padding-top:15px;
                &:first-child{
                  padding-top:0px;
                }
                span{
                  line-height:32px;
                  font-size: 13px;
                  color: #333;
                  i{
                    font-style: normal;
                    color:$red;
                  }
                }
              }
            }
            &.SaleFootMid{
              dt{
                span{
                  line-height:32px;
                  font-size: 13px;
                  color: #333;
                  i{
                    font-style: normal;
                    color:$red;
                  }
                  &:first-child{
                    clear: both;
                    display: block;
                    color:$red;
                  }
                }
              }
              dd{
                &>span{
                  line-height:32px;
                  font-size: 14px;
                  color: $red;
                }
                .el-radio-group{
                  clear: both;
                  display: block;
                  padding-top:8px;
                  .el-radio{
                    clear: both;
                    display: block;
                    margin-bottom:8px;
                    .el-radio__input.is-checked{
                      .el-radio__inner{
                        background:#fff!important;
                        &:after{
                          background:#2e88ff!important;
                          width:8px;
                          height: 8px;
                        }
                      }
                    }
                  }
                }
              }
            }
            &.SaleFootFr{
              dt{
                span{
                  line-height:32px;
                  font-size: 13px;
                  color: #333;
                  i{
                    color:$red;
                    font-weight: bold;
                  }
                }
              }
              dd{
                &.SaleFootFrTop{
                  &>span{
                    line-height:32px;
                    font-size: 14px;
                    color: $red;
                  }
                  .el-radio-group{
                    clear: both;
                    display: block;
                    padding-top:8px;
                    .el-radio{
                      clear: both;
                      display: block;
                      margin-bottom:8px;
                      .el-radio__input.is-checked{
                        .el-radio__inner{
                          background:#fff!important;
                          &:after{
                            background:#2e88ff!important;
                            width:8px;
                            height: 8px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            &.SaleFootBak{
              dt{
                padding-bottom:10px;
              }
            }
          }
        }
        &.SaleAddEditBtn{
          text-align: right;
          padding-top:20px;
          padding-bottom:20px;
          font-size: 13px;
          color:#333;
          &>p{
            padding-right: 10px;
            display: inline-block;
          }
          .el-textarea{
            margin-left: 10px;
            margin-right: 10px;
          }
          .updateBtn{
            background-color:$menuActiveText!important;
            border-color:$menuActiveText!important;
            font-size:16px!important;
            min-width:96px;
            box-sizing:border-box!important;
            height:35px;
            line-height:33px!important;
            padding:0px 10px!important;
            .planeWhite{
                display:inline-block;
                width:16px;
                height:16px;
                margin-right:10px;
                .svg-icon{
                  width:100%!important;
                  height:100%!important;
                }
            }
            &:hover{
              opacity: 0.6;
            }
          }
        }
      }
  }
  .WebServerAddEditBtn.SaleAddEditBtn{    
    padding:20px 0px 20px 0px;
  }
}
.sales-phonecount{
  .search-wrap{
    .item-search{
      float:left;
      .el-radio{
        margin: 5px!important;
      }
    }
  }
}