


.container-layout {
  .sidebar-container {
    display: flex;
    flex-direction: column;
    background:#fff;
    transition: width .25s ease-out;
    width:$sideBarWidth!important;
    overflow: hidden!important;
    font-size:0;
    position: relative;
    &.is-fold{
      .scrollbar-wrapper{
        padding-top: 52px;
      }
    }
    .el-scrollbar {
      height: 100%;
      .scrollbar-wrapper {
        overflow-x: hidden !important;
        position: relative;
        transition: all .3s;
      }
      .el-scrollbar__bar.is-vertical {
        right: 0px;
      }
      .is-horizontal {
        display: none;
      }
    }
    .fold-button{
      width: 42px;
      height: 42px;
      position: absolute;
      right:0;
      top: 12px;
      z-index: 10;
      overflow: hidden;
      cursor: pointer;
      transition: all .3s;
      &.is-fold{
        transform: rotate(180deg);
        width: 60px;
        top: 12px;
      }
      &:hover{
        .svg-i{
          color: #ff8000;
        }
      }
      .svg-i{
        display: block;
        width: 42px;
        height: 42px;
        font-size: 14px;
        color: #4c516d;
        margin: 0 auto;
        overflow: hidden;
        .svg-icon {
          display: block;
          height: 14px;
          margin: 14px auto;
        }
      }
    }
    .sidebar-menu{
      border: none;
      height: 100%;
      width: 100% !important;
      padding-top: 10px;
      .item-link{
        margin-top: 2px;
        display: block;
        transition: all .3s;
        .el-menu-item,.el-submenu__title{
          height: 42px;
          line-height: 42px;
          transition: all .3s;
          padding-left: 30px!important;
          color: #4c516d;
          .svg-i{
            display: inline-block;
            width: 24px;
            height: 20px;
            font-size: 18px;
            vertical-align: -4px;
            .svg-icon {
              display: block;
              height: 20px;
              margin: 0 auto;
            }
          }
          .sub-el-icon {
            vertical-align: -1px;
            margin-right:0;
            color: currentColor;
            width: 1em;
            height: 1em;
          }
          i{
            color: #4c516d;
            transition: all .3s;
          }
          span{
            font-size: 14px;
            transition: all .3s;
            vertical-align: 1px;
            margin-left: 12px;
          }
          &:hover,&:focus{
            background: #f2f3f5;
            color: #4c516d;
          }
          &.is-active{
            background: #f2f3f5;
            .svg-i{
              color: #ff8000;
            }
          }
        }
        .el-submenu__title{
          .el-submenu__icon-arrow{
            margin-top: -7px;
            font-size: 14px;
            right: 15px;
            color: #666;
            font-weight: bold;
          }
        }
      }
      .el-submenu{
        .el-menu{
          padding: 0!important;
          background: #ffffff!important;
          .el-menu-item,.el-submenu__title{
            font-size: 14px;
            padding-left: 56px!important;
            span{
              font-size: 14px;
              margin-left:0;
              padding-left: 15px;
              position: relative;
              font-weight: normal;
              &:before{
                content:'';
                display: block;
                position: absolute;
                left:0;
                top: 50%;
                width: 7px;
                height: 7px;
                border: 1px solid #464646;
                border-radius: 100%;
                margin-top: -3px;
              }
            }
          }
          .el-submenu{
            .el-menu{
              .el-menu-item{
                padding-left: 56px!important;
                span{
                  &:before{
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    & .el-submenu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
    }
  }
}
.hideSidebar {
    .container-layout {
        .sidebar-container {
          width: 60px !important;
        }
        .submenu-title-noDropdown {
          padding: 0 !important;
          position: relative;

          .el-tooltip {
            padding: 0 !important;
          }
        }

        .el-submenu {
          overflow: hidden;

          &>.el-submenu__title {

            .el-submenu__icon-arrow {
              display: none;
            }
          }
        }

        .el-menu--collapse {
          .item-link{
            .el-menu-item{
              >div{
                padding: 0 16px!important;
              }
            }
          }
          .el-submenu {
            &>.el-submenu__title {
              transition: all .3s;
              padding: 0 16px!important;
              &>span {
                height: 0;
                width: 0;
                overflow: hidden;
                visibility: hidden;
                display: inline-block;
              }
            }
          }
        }
    }
}
.el-menu--collapse .el-menu .el-submenu {
  min-width: $sideBarWidth !important;
}

.withoutAnimation {

  .main-container,
  .sidebar-container {
    transition: none;
  }
}
  
  // when menu collapsed
  .el-menu--vertical {
    &>.el-menu {
      .sub-el-icon {
        margin-right: 12px;
        margin-left: -2px;
        vertical-align: -1px;
      }
    }
  
    // the scroll bar appears when the subMenu is too long
    >.el-menu--popup {
      max-height: 100vh;
      background:$menuBg!important;
      .el-submenu__title{
        i,span{
          color: rgba(255,255,255,.7)!important;
        }
        &:hover{
          background: none!important;
          i,span{
            color: #ffffff!important;
          }
        }
      }
      .el-menu-item{
        color: rgba(255,255,255,.7)!important;
        &.is-active{
          background: $menuActiveText!important;
          color: #ffffff!important;
          &:hover{
              background: $menuActiveText!important;
              color: #ffffff!important;
          }
        }
        &:hover{
          background: none!important;
            color: #ffffff!important;
        }
      }
  
      &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
      }
  
      &::-webkit-scrollbar {
        width: 6px;
      }
  
      &::-webkit-scrollbar-thumb {
        background: #99a9bf;
        border-radius: 20px;
      }
    }
  }
  