.user-index{
    .search-wrap{
        .item-search{
            float:left;
            padding: 10px 10px 10px 0;
        }
        .cascader-panel{
            width: 190px;
        }
        .input-panel{
            width: 190px;
        }
        .select-panel{
            width: 150px;
        }
    }
    .userType{
        padding-bottom:15px;
        .el-form-item__label{
            line-height:35px;
        }
        .el-radio{
            line-height:35px;
        }
    }
}
.el-dropdown-menu{
    .userControlItem{
        display: block;
        color: #606266;
        font-size: 12px;
        width: 100%;
        text-align: left;
        &:hover{
            color: #0048ff;
        }
    }
}
.move_dialog{
    .transfer-title{
        font-size: 15px;
        color: #111;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    .accountCheck{
        display: inline-block;
        vertical-align: middle;
    }
    .transfer-item{
        margin-right: 20px;
    }
    .transfer-item,.transfer-btns{
        display: inline-block;
        vertical-align: middle;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}