.user-index{
    .search-wrap{
        .item-search{
            float:left;
            padding: 10px 10px 10px 0;
        }
        .cascader-panel{
            width: 190px;
        }
        .input-panel{
            width: 190px;
        }
        .select-panel{
            width: 150px;
        }
    }
}