.user-index{
    .search-wrap{
        .item-search{
            float:left;
            padding: 10px 10px 10px 0;
        }
        .cascader-panel{
            width: 190px;
        }
        .input-panel{
            width: 190px;
        }
        .select-panel{
            width: 150px;
        }
    }
    .userType{
        padding-bottom:15px;
        .el-form-item__label{
            line-height:35px;
        }
        .el-radio{
            line-height:35px;
        }
    }
}
.el-dropdown-menu{
    .userControlItem{
        display: block;
        color: #606266;
        font-size: 12px;
        width: 100%;
        text-align: left;
        &:hover{
            color: #0048ff;
        }
    }
}
.transfer-dialog{
    .transfer-account{
        height: auto!important;
        .transfer-title{
            font-size: 16px;
            color: #111;
            margin-bottom: 15px;
        }
        .transfer-wrap{
            .el-transfer{
                height: 400px!important;
                margin-bottom: 30px;
            }
        }
    }
}