.user-center{
    .table-panel{
        width: 100%;
        overflow: hidden;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-collapse:collapse;
        border-spacing:0;
        tr{
            width: 100%;
            border-bottom: 1px solid #ddd;
            th,td{
                padding: 15px;
                border-right: 1px solid #ddd;
            }
            th{
                font-size:$fontsize19;
                text-align: left;
                font-weight: bold;
                background: #f5f5f5;
            }
            td{
                line-height: 24px;
                text-align: right;
            }
            td+td{
                text-align: left;    
                word-break: break-all;
            }
        }
    }
    .el-form{
        padding-right: 20px;
    }
    .add-edit-dialog{
        .item-form{
            position: relative;
            padding-right: 130px;
            .btn-code{
                position: absolute;
                right:0;
                top:0;
                width: 112px;
            }
        }
    }
}