// base color
$blue:#4c54fe;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #2e9cf6;
$tiffany: #2e4cf6;
$yellow:#FEC171;
$panGreen: #1a6fdf;
$border: #dfe4ed;
$primaryBorder: #a3ddd1;
// sidebar
$menuText:#bfcbd9;
$menuActiveText:#2e84f6;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#20222A;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 230px;

$mainBg: #f2f2f2;
$placeholderText: #546271;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  mainBg: $mainBg;
  placeholderText:$placeholderText;
}
