.el-card.WebsiteList-card{
    border:0px!important;
    border-radius:0px!important;
    background:none!important;
    box-shadow:none!important;
    .el-card__header{
        border-radius:0px;
        margin-bottom:15px;
        background:#fff;
        padding:15px 10px;
        .post-class{
            .item-line{
                width: 100%;
                .item-inline{
                    width: 33%;
                    float:left;
                }
            }
            .txt-font{
                line-height:30px;
                width:75px;
                font-weight:normal;
                font-size:$fontsize16;
                color:#999;
                padding:5px 0px;
                border:0px;
                text-align: right;
            }
            .flex-content{
                border:0px;
                padding:5px 0px;
                &.buttons{
                    padding:0 0 0 15px;
                }
            }
            .tag-panel{
                &.WebsiteListSearch{
                    width:380px;
                    height:36px;
                    position:relative;
                    padding-right:105px;
                    border:1px solid #1e252e;
                    border-radius:4px;
                    background:#fff;
                    box-shadow:9px 9px 21px rgba(100,130,171,0.35);
                    transition: all .3s;
                    &:hover{
                        box-shadow:none;
                    }
                    .el-button{
                        position:absolute;
                        right:0px;
                        top:0px;
                        width:98px;
                        line-height:36px;
                        text-align:center;
                        color:#fff;
                        background:#1e252e;
                        border-radius:0px 4px 4px 0px;
                        font-size:$fontsize17;
                        height:36px;
                        display:block;
                        margin-right:0px!important;
                        transition: all .3s;
                        span{
                            display:inline-block;
                            .svg-i{
                                width:16px;
                                height:16px;
                                margin-right:10px;
                            }
                        }
                        &:active{
                            font-size:$fontsize15;
                        }
                    }
                    .el-input--suffix{
                        .el-input__inner{
                            clear:both;
                            display:block;
                            width:100%;
                            line-height:34px;
                            font-size:$fontsize16;
                            color:#a5a5a5;
                            text-align:left;
                            border:none;
                            border-radius:0px;
                            height:34px;
                            padding:0px 10px;                               
                        }
                    }
                }
                .el-button{
                    padding:0px 10px;
                    margin:0px 5px 0px 0px!important;
                    font-size:$fontsize15;
                    border-radius:3px;
                    line-height:30px;
                    border:0px;
                    color:#fff;
                    background:-moz-linear-gradient(135deg, #2e84f6 0%, #136add 100%);
                    background:-webkit-linear-gradient(135deg, #2e84f6 0%, #136add 100%);
                    background:-o-linear-gradient(135deg, #2e84f6 0%, #136add 100%);
                    background:-ms-linear-gradient(135deg, #2e84f6 0%, #136add 100%);
                    background:linear-gradient(135deg, #2e84f6 0%, #136add 100%);
                    &.is-plain{
                        color:#1a1a1a;
                        background:#fff;
                        &:hover{
                            color:#fff;
                            background:-moz-linear-gradient(135deg, #2e84f6 0%, #136add 100%);
                            background:-webkit-linear-gradient(135deg, #2e84f6 0%, #136add 100%);
                            background:-o-linear-gradient(135deg, #2e84f6 0%, #136add 100%);
                            background:-ms-linear-gradient(135deg, #2e84f6 0%, #136add 100%);
                            background:linear-gradient(135deg, #2e84f6 0%, #136add 100%);
                        }
                    }
                }
            }
        }
    }
}
.el-card.WebsiteList-card .scroll-panel{padding:0px;}
.WebsiteList-Wrap{
    border-radius:8px;
    overflow:hidden;
}
.WebsiteOne{
    background:#fff;
    border-radius:8px;
    padding: 20px 30px;
    .WebsiteOneTable{
        padding-right: 30px;
        li{
            clear:both;
            display:block;
            padding-top:10px;
            padding-bottom:10px;               
            .AddEditPostItem{
                float:left;
                width:33.3333%;
                position:relative;
                &.WebsiteOneTool{
                    width:100%;
                    .item-wrap{
                        padding-top:4px;
                        a{
                            float:left;
                            line-height:24px;
                            margin-bottom:4px;
                            margin-right:10px;
                            color:$menuActiveText;
                            font-size:$fontsize15;
                            &:hover{
                                text-decoration:underline;
                            }
                        }
                    }
                }
                &.WebsiteOneSite{
                    width:100%;
                    .item-wrap{
                        padding-top:4px;
                        .icon-title{
                            float:left;
                            line-height:24px;
                            margin-bottom:5px;
                            margin-right:10px;
                            color:$menuActiveText;
                            font-size:$fontsize14;
                            cursor: pointer;
                            &:hover{
                                text-decoration: underline;
                            }
                            i{
                                float:left;
                                margin-right:5px;
                            }
                        }
                    }
                }
                &.WebsiteOneDomain{
                    a{
                        line-height:32px;
                        margin-left:10px;
                        color:$menuActiveText;
                        font-size:$fontsize15;
                        &:hover{
                            text-decoration:underline;
                        }
                    }
                }
                &.WebsiteOneStatus{
                    width: 100%;
                    .item-column{
                        .table-tag{
                            .el-tag{
                                margin: 2px 2px 2px 0;
                            }
                        }
                    }
                    .table-tag{
                        margin-right: 10px;
                    }
                    .item-wrap{
                        .text{
                            font-size:$fontsize14;
                            line-height: 32px;
                            color: #808080;
                        }
                    }
                    .table-icon{
                        margin-right: 10px;
                        .svg-i{
                            height:32px;
                            line-height:32px;
                            font-size:$fontsize17;
                            color: #808080;
                            &.online{
                                color: #49c969;
                            }
                            &.timeout{
                                color: #999999;
                            }
                            &.abnormal{
                                color: red;
                            }
                        }
                    }
                }             
                &.WebsiteOneIp{
                    width:66.6667%;
                    .item-wrap{
                        a{
                            float:left;
                            line-height:24px;
                            margin-left:10px;
                            color:$menuActiveText;
                            font-size:$fontsize15;
                            margin-top:4px;
                            &:hover{
                                text-decoration:underline;
                            }
                        }
                    }
                }
                &.WebsiteOneWebsiteurl{
                    a{
                        line-height:24px;
                        margin-left:10px;
                        color:$menuActiveText;
                        font-size:$fontsize15;
                        margin-top:4px;
                        &:hover{
                            text-decoration:underline;
                        }
                    }
                }
                &.WebsiteOneFtpBak{
                    width:100%;
                }
                &.WebsiteOneAdminBak{
                    width:100%;
                }
                &.WebsiteOneBak{
                    width:100%;
                    .item-tag{
                      margin:5px;
                      &:focus{
                        background:#47bba4;
                        border-color:#47bba4;
                        color:#FFFFFF;
                      }
                      &.is-plain:focus{
                        color:#19aa8d;
                        background:#e8f7f4;
                        border-color:#a3ddd1;
                      }
                    }
                    .remarks-content{
                      p{
                        line-height:2;
                        font-size:$fontsize15;
                        padding-top:5px;
                        padding-bottom:5px;
                      }
                    }
                }
                &.WebsiteOnePath{
                    span{
                        display:inline-block;
                        line-height:24px;
                        margin-left:10px;
                        color:$menuActiveText;
                        font-size:$fontsize14;
                        cursor: pointer;
                        &:hover{
                            text-decoration:underline;
                        }
                    }
                }
                &.WebsiteOneTag{
                    width:66.6667%;
                    .item-wrap{
                        padding: 0 8px;
                        .item-tag{
                            margin: 2px;
                        }
                    }
                }
            }
            &.WebsiteOneFoot{
                .AddEditPostItem{
                    width:auto;
                    label+span{
                        display:inline-block;
                        line-height:32px;
                    }
                }
            }
            label{
                float:left;
                font-size:$fontsize16;
                line-height:32px;
                color:#1a1a1a;
                width:116px;
                padding-right:10px;
                text-align:right;
                .svg-i{
                    font-size:$fontsize17;
                    color: red;
                    cursor: pointer;
                }
                &+label{
                    line-height:20px;
                }
            }
            .el-input__inner,.el-textarea__inner{
                background:#f9fbfc;
                border:1px solid #e9ecf0;
                border-radius:2px;
                text-align:left;
                width:100%;
                height:32px;
                line-height:30px;
                box-sizing:border-box;
                padding-right:15px;
                font-size:$fontsize15;
                &:focus{
                    border-color:$menuActiveText;
                }
            }
        }
    }
    .WebsiteOneBtn.WebServerAddEditBtn{
        padding:20px 0px 30px 116px;
    }
}
.WebsiteCard.el-card{
    background:#fff!important;
    border-radius:8px!important;
}
.website-list-page{
    .table-icon{
        display: block;
        &.center{
            text-align: center;
            line-height: 0;
            font-size:0;
        }
        .svg-i{
            margin: 2px;
            color: #808080;
            &.online{
                color: #49c969;
            }
            &.offline{
                color: #999999;
            }
            &.link{
                &:hover{
                    color: $menuActiveText;
                }
            }
        }
    }
    .table-font{
        p{
            display: block;
            padding-left: 12px;
            position: relative;
            &:before{
                content:'';
                display: block;
                position: absolute;
                left: 0;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                top: 50%;
                margin-top: -3px;
            }
            &.normal{
                color: #49c969;
                &:before{
                    background-color: #49c969;
                }
            }
            &.timeout{
                color: #ee3c40;
                &:before{
                    background-color: #ee3c40;
                }
            }
            &.abnormal{
                color: $Redapricot;
                &:before{
                    background-color: $Redapricot;
                }
            }
            &.NotDetect{
                color: #999;
                &:before{
                    background-color: #999;
                }
            }
        }
    }
}
@media (max-width:1024px){
    .WebsiteOne{
        .WebsiteOneTable{
            li{
                .AddEditPostItem{
                    &.WebsiteOneDomain{
                        width:48%;
                    }   
                    &.WebsiteOneTag{
                        display:block;
                        .item-wrap{
                            clear:both;
                            display:block;
                            padding-top:10px;
                            padding-left:105px;
                        }
                    }
                    &.WebsiteOneDomainHeader{
                        display:block;
                        .item-wrap{
                            clear:both;
                            display:block;
                            padding-top:10px;
                            padding-left:105px;
                        }
                    }
                }
            }
        }
    }
}