.works-index{
    .search-wrap{
      margin: 0 -5px;
      .item-search{
        margin: 5px;
        float:left;
        input::-webkit-input-placeholder {
          color: #606266;
        }
        input::-moz-input-placeholder {
          color: #606266;
        }
        input::-ms-input-placeholder {
          color: #606266;
        }
        .el-input__inner{
          padding-left: 8px;
        }
        .date-range{
          width: 100%;
        }
      }
    }
}
.work-add-edit{
  .date-time{
    .el-input__inner{
      padding-left: 30px;
    }
  }
}