.works-index{
    .search-wrap{
      margin: 0 -5px;
      .item-search{
        margin: 5px;
        float:left;
        input::-webkit-input-placeholder {
          color: #606266;
        }
        input::-moz-input-placeholder {
          color: #606266;
        }
        input::-ms-input-placeholder {
          color: #606266;
        }
        .el-input__inner{
          padding-left: 8px;
        }
        .date-range{
          width: 100%;
        }
      }
    }
    .order-title{
        cursor: pointer;
        transition: all .3s;
        &:hover{
            padding-left: 5px;
        }
        &.time-out{
            color: red;
            strong{
                background-color: red;
                color: #fff;
                font-weight: normal;
                border-radius: 4px;
                padding: 0 6px;
                height: 20px;
                line-height: 20px;
                display: inline-block;
                margin-left: 5px;
            }
        }
    }
    
    .table-tag{
      span{
          &.color1{
              color: #94c2ff;
          }
          &.color2{
              color: #ffa415;
          }
          &.color3{
              color: #bdbdbd;
          }
          &.color4{
              color: #94c2ff;
          }
          &.color5{
              color: #61d071;
          }
          &.color6{
              color: #ee3c40;
          }
          &.color7{
              color: #94c2ff;
          }
      }
  }
  .celldealusername{.cell{white-space: pre!important;}}
}
.work-add-edit{
  .date-time{
    .el-input__inner{
      padding-left: 30px;
    }
  }
}
.work-info-page{
  .time-out{
    h1{
      color: red;
      span{
        margin-left: 10px;
      }
    }
  }
  .work-order-attr{
    margin-top: 20px;
    p{
      color:#6688b4;
      font-size:14px;
      line-height:24px;
      padding-top:3px;
      padding-bottom:3px;
      mark{
          margin:0 10px;
          color: lighten(#6688b4,30%);
          font-size: 12px;
          background-color: transparent;
      }
      em{
        display: inline-block;
        font-style: normal;
        padding: 2px 8px;
        line-height: 20px;
        margin: 2px;
        border-radius: 4px;
        font-weight: normal;
      }
      b{
        font-weight: normal;
      }
    }
  }
  .article-main{
    float:left;
    width: 74%;
    padding-right: 15px;
    .article-content{
      background:#fff;
      border-radius: 8px;
      overflow: hidden;
      padding: 30px;
      h1{
        font-size: 24px;
        line-height: 2;
        color: #1a1a1a;
      }
      .base-info{
        width: 100%;
        margin: 30px 0 40px;
        li{
          width: 25%;
          float:left;
          position: relative;
          padding-left: 50px;
          height: 40px;
          .icon-panel{
            width: 40px;
            height: 40px;
            position: absolute;
            left:0;
            top:0;
            .svg-i{
              display: block;
              width: 40px;
              height: 40px;
              border-radius: 40px;
              border: 1px solid #b9c0c1;
              text-align: center;
              line-height: 38px;
              font-size: 20px;
              color: #858585;
              &.color1{
                border-color: #94c2ff;
                color: #94c2ff;
              }
              &.color2{
                border-color: #ffa415;
                color: #ffa415;
              }
              &.color3{
                border-color: #bdbdbd;
                color: #bdbdbd;
              }
              &.color4{
                border-color: #94c2ff;
                color: #94c2ff;
              }
              &.color5{
                border-color: #61d071;
                color: #61d071;
              }
              &.color6{
                border-color: #ee3c40;
                color: #ee3c40;
              }
              &.color7{
                border-color: #94c2ff;
                color: #94c2ff;
              }
              .svg-icon{
                vertical-align: -2px;
              }
            }
          }
          .value-panel{
            height: 24px;
            line-height: 24px;
            font-size: 14px;
            color: #1a1a1a;
            font-weight: bold;
            &.red{
              color: #f90707;
            }
          }
          .title-panel{
            height: 16px;
            line-height: 16px;
            font-size: 12px;
            color: #999999;
          }
        }
      }
      .title-line{
        width: 100%;
        position: relative;
        height: 32px;
        &:before,&:after{
          content:'';
          display: block;
          position: absolute;
          bottom:0;
          left:0;
        }
        &:before{
          height: 1px;
          z-index: 1;
          width: 100%;
          background: #eeeeee;
        }
        &:after{
          height: 2px;
          z-index: 2;
          background: #4292ff;
          width: 80px;
        }
        .svg-i,>span{
          display: block;
          float: left;
          height: 26px;
          line-height: 26px;
          color: #4292ff;
        }
        .svg-i{
          font-size: 14px;
          margin-right: 10px;
        }
        >span{
          font-size: 14px;
        }
      }
      .other-info{
        width: 100%;
        li{
          width: 25%;
          float:left;
        }
      }
      .item-info{
        width: 100%;
        margin-top: 20px;
        dt{
          height: 28px;
          line-height: 28px;
          font-size: 14px;
          color: #999999;
        }
        dd{
          width: 100%;
          overflow: hidden;
          .default-text{
            font-size: 14px;
            height: 22px;
            line-height: 22px;
            margin-top: 8px;
            font-weight: bold;
          }
          .score{
            color: #ffa415;
            font-size: 14px;
            height: 22px;
            line-height: 22px;
            position: relative;
            padding-left: 12px;
            margin-top: 8px;
            font-weight: bold;
            &:before{
              content:'';
              display: block;
              position: absolute;
              left: 0;
              width: 6px;
              height: 6px;
              border-radius: 100%;
              background: #ffa415;
              top: 8px;
            }
          }
          .range-date{
            height: 22px;
            font-size:14px;
            line-height: 22px;
            margin-top: 8px;
            overflow: hidden;
            .range-dom{
              display: block;
              width: 160px;
              height: 10px;
              border-radius: 5px;
              background: #eeeeee;
              overflow: hidden;
              margin-top: 6px;
              float:left;
              i{
                display: block;
                height: 10px;
                border-radius: 5px;
                background: #73d897;
                width: 0;
                transition: width,.3s;
              }
            }
            .font-dom{
              display: block;
              float:left;
              height: 22px;
              line-height: 22px;
              font-size: 14px;
              color: #a8a7a7;
              margin-left: 10px;
            }
          }
          .tags-list{
            margin: 8px -2px 0;
            span{
              display: block;
              float:left;
              height: 22px;
              line-height: 22px;
              padding: 0 10px;
              border-radius: 4px;
              color: #fff;
              font-size: 13px;
              margin: 0 2px;
            }
          }
        }
      }
      .info-content{
          table {width: 100%; border-collapse: collapse; border: solid #a8d3ff; border-width: 1px 0 0 1px; } 
          table td {border: 1px solid #a8d3ff !important;padding: 12px 10px !important;} 
      }
      .info-content p, .info-content div{
        font-size: 14px;
      }
      .info-content.rich-text > p, .info-content.rich-text > div{
        margin: 10px 0;
      }
    }
  }
  .article-log{
    float:right;
    width:26%;
    position: relative;
    .log-content{
      background:#fff;
      padding:74px 0 20px;
      border-radius:8px;
      width: 100%;
      position: fixed;
      &.has-comment{
        padding:74px 0 90px;
      }
      .log-title{
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        height: 64px;
        padding: 25px 30px 0;
        span{
          display: block;
          line-height: 32px;
          color: #4292ff;
          color: 16px;
          font-weight: 500;
        }
        &:before,&:after{
          content:'';
          display: block;
          position: absolute;
          bottom:0;
          left:30px;
        }
        &:before{
          height: 1px;
          z-index: 1;
          background: #eeeeee;
          right: 30px;
        }
        &:after{
          height: 2px;
          z-index: 2;
          background: #4292ff;
          width: 70px;
        }
      }
      .log-panel{
        width: 100%;
        height: 100%;
        overflow: hidden;
        .el-scrollbar{
          height:100%;
        }
        .scrollbar-wrapper{
          overflow-x: hidden;
        }
      }
      .log-list{
        width: 100%;
        padding: 0 30px;
        overflow: hidden;
        li{
          width: 100%;
          margin-top: 20px;
          padding-bottom: 10px;
          overflow: hidden;
          dl{
            width: 100%;
            overflow: hidden;
            position:relative;
            dt{
              width: 100%;
              padding: 0 30px;
              span{
                display: block;
                float:left;
                height: 24px;
                line-height: 24px;
                border-radius: 12px;
                padding: 0 10px;
                font-size: 12px;
                color: #999ca1;
                background: #ececec;
              }
            }
            dd{
              width:100%;
              overflow: hidden;
              position: relative;
              &:before{
                content:'';
                width: 70px;
                top:0;
                position: absolute;
                left:0;
                bottom: 40px;
                border-right: 1px dashed #c4c8cd;
              }
              .item-log{
                width: 100%;
                padding-top: 20px;
                .time{
                  width: 56px;
                  height: 36px;
                  position: relative;
                  z-index: 2;
                  >span{
                    display: block;
                    text-align: center;
                    font-size: 12px;
                    color: #999ca1;
                    height: 16px;
                    line-height: 16px;
                    margin-top: 4px;
                  }
                  .svg-i{
                    display: block;
                    width: 16px;
                    height: 16px;
                    margin: 0 auto;
                    font-size: 13px;
                    color: #999ca1;
                    text-align: center;
                    line-height: 16px;
                  }
                }
                .time-icon{
                  width: 28px;
                  height: 36px;
                  position: relative;
                  z-index: 2;
                  .svg-i{
                    width: 20px;
                    height: 20px;
                    display: block;
                    margin: 8px auto;
                    border-radius: 100%;
                    background: #c4c8cd;
                    color: #fff;
                    font-size: 13px;
                    text-align: center;
                    line-height: 20px;
                    &.color1{
                      background: #ffa415;
                    }
                    &.color2{
                      background: #61d071;
                    }
                  }
                }
                .time-content{
                  padding: 0 0 0 15px;
                  .time-title{
                    height: 36px;
                    line-height:0;
                    font-size:0;
                    strong,span{
                      font-size: 14px;
                      line-height: 36px;
                    }
                    strong{
                      color: #3a3a3a;
                      font-weight: normal;
                    }
                    span{
                      color: #b2b2b2;
                      margin-left: 30px;
                    }
                  }
                  .time-info{
                    min-height: 24px;
                    line-height: 24px;
                    font-size: 14px;
                    color: #3a3a3a;
                  }
                }
              }
            }
          }
        }
      }
      .message-panel{
        padding: 20px;
        border-top: 1px solid #eee;
        position: absolute;
        bottom:0;
        left: 0;
        width:100%;
        z-index: 10;
        background: #fff;
        .message-content{
          border: 1px solid #eee;
          border-radius: 4px;
          padding: 6px 10px;
          height: 38px;
          transition: height,.3s;
          overflow: hidden;
          &.focus{
            border: 1px solid $menuActiveText;
            height: 160px;
            .el-textarea{
              .el-textarea__inner{
                min-height: 95px!important;
                height: 95px!important;
                padding: 0 5px;
              }
            }
          }
          .el-textarea{
            .el-textarea__inner{
              min-height: 24px;
              height: 24px;
              padding: 0;
              line-height: 24px;
              border:none;
              transition: all,.3s;
              &:hover,&:focus{
                border:none;
              }
            }
          }
          .button-content{
            text-align: right;
            padding: 10px 5px 9px 5px;
            overflow: hidden;
          }
        }
      }
    }
  }
}