.ArticleMain{
    &.box-card .el-card__body{
        background:none;
    }
    .ArticleMainTop{
      padding:0px;
      .card-header{
        border-radius: 8px;
        background:#fff;
      }
    }
}
.ArticleSearchScreen{                
    display: flex;
    flex-direction: row;
    background: none!important;
    &:before{display: none;}
    .ArticleSearch{
        flex:1;
        &:before{display: none;}
        .article-search.el-input--medium{
            font-size: 12px;
            background-color: #474a52;
            border-radius: 16px;
            .el-input__inner{                            
                height: 32px;
                line-height: 32px;
                padding: 0 15px;
                font-size: 14px;
                background: transparent;
                border: none;
                color:#ddd;
            }
        }
        .article-search .el-input-group__append{                    
            padding: 0 10px;
            background-color: transparent;
            border: none;
            .el-button.el-button--medium{        
                font-size: 0;
                line-height: 0;
                padding: 0 20px;
                vertical-align: top;
                .search-icon{                            
                    height: 32px;
                    line-height: 32px;
                    font-size: 20px;
                    color: #cccccc;
                }
            }
        }
    }
    .WebsiteListScreen{
      margin-left: 35px;
      color: #1f2d3d;
      font-size: 13px;
      line-height: 22px;
      display: inline-block;
      background: #fff;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 4px;
    }
}
.ArticleOne{
    padding: 10px 15px;
    .txt-font.border-cell{
        width:96px!important;
        span{
            clear:both;
            display:block;
            border:1px solid #999999;
            line-height:30px;
            color:#999;
            font-size:13px;
            height:32px;
            width:100%;
            box-sizing:border-box;
            border-radius:4px;
            text-align:center;
        }
    }
}
.ArticleTwo{
    padding:5px 15px 15px 15px;
    &.post-tag{
        border-top:1px solid #eaeef0;
        padding-top:5px;
        padding-bottom:2px;
        .border-row{
            float:left;
            width:auto;
            padding-right:30px;
        }
        .border-row{
          .border-cell{
            padding:5px 0px;
          }
        }
        .txt-font.border-cell{
            padding-right:20px;
            text-align:right;
            line-height:28px;
            font-size:14px;
            color:#999;
            position:relative;
            &:after{
                content:'';
                position:absolute;
                right:0px;
                top:15px;
                height:12px;
                width:1px;
                background:#b4b4b4;
            }
        }
        .tag-panel{
            width:100%;
            overflow:hidden;
            font-size:0;
            .el-tag{
                vertical-align:top;
                cursor:pointer;
                transition:all 1s;
                background:none;
                border:0px;
                color:#4c4c4c;
                font-size:14px;
                height:28px;
                line-height:28px;
                &:hover{
                  color:#2e84f6;
                }
                &.is-active{
                    color:#2e84f6;
                }
            }
        }
    }
}
.ArticleThree{
    margin-top: 15px;
    .ArticleThreeDefault{
        padding:15px;
        background:#fff;
    }
    .ArticleThreeList{
        background:#fff;
    }
    .search-content{
        background:#fff;
    }
    .depart-ul{
        width:100%;
        overflow:hidden;
        padding:0px 0px;
        .item-depart{
            overflow:hidden;
            margin-bottom:25px;
            h4{
                width:100%;
                overflow:hidden;
                padding:10px;
                text-align:left;
                font-size:18px;
                line-height:24px;
                margin:0px 0px 5px 0px;
                color:#1a1a1a;
                padding-left:32px;
                background-image:url(../../public/userIcon01.jpg);
                background-position:left center;
                background-repeat:no-repeat;
                background-size:21px 17px;
            }
            .clerk-ul{
                border:1px solid #d4dde2;
                border-top:0px;
                width:100%;
                &:after{
                    content:'';
                    display:block;
                    width:100%;
                    clear:both;
                }
                .item-clerk{
                    width:110px;
                    float:left;
                    border-right:1px solid #d4dde2;
                    dt{
                        width:100%;
                        padding:15px 0;
                        font-size:16px;
                        line-height:24px;
                        text-align:center;
                        font-weight:normal;
                        position:relative;
                        color:#333;
                        &:before{
                            content:'';
                            display:block;
                            width:4000%;
                            height:1px;
                            background:#d4dde2;
                            position:absolute;
                            left:0;
                            top:0;
                        }
                        span{
                            font-size:12px;
                        }
                    }
                    dd{
                        width:100%;
                        padding:12px 0;
                        position:relative;
                        span{
                            display:block;
                            width:90px;
                            margin:0 auto;
                            height:24px;
                            font-size:0;
                        }
                        &:before{
                            content:'';
                            display:block;
                            width:4000%;
                            height:1px;
                            background:#d4dde2;
                            position:absolute;
                            left:0;
                            top:0;
                        }
                    }
                }
            }
        }
      }
    .scroll-panel{
        padding:0px;
    }
}
.box-card.ArticleCard{
    background:#fff!important;
}
.ArticleFour{
    width:100%;
    overflow:hidden;
    tr{
        td{
            padding:5px 10px;
            vertical-align:middle;
            vertical-align:top;
            .el-input__inner{
                padding-left:10px;
            }
            .el-input,.el-textarea{
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .item-form-panel{
                margin-top:0px;
                margin-bottom:0px;
            }
            .ArticleFourTit{
                .title-color{
                    float:right;
                    width:350px;
                    strong{
                        float:left;
                        font-size:15px;
                        font-weight:normal;
                        color:#1a1a1a;
                        line-height:32px;
                    }
                    .item-form-panel{
                        float:left;
                        border:1px solid #e6e6e6;
                        border-radius:2px;
                        padding:5px 0px 5px 6px;
                        margin:0px;
                        span{
                            float:left;
                            width:20px;
                            height:20px;
                            border-radius:2px;
                            margin-right:6px;
                            transition:all 0.5s;
                            cursor:pointer;
                            &.TitColor{
                                border-radius:50%;
                            }
                        }
                    }
                }
                .flex-content{
                    padding-right:80px;
                }
            }
            .ArticleFourTag{
                clear:both;
                display:block;
                .other-td{
                    float:left;
                    padding-bottom:5px;
                    padding-top:5px;
                    strong{
                        float:left;
                        display:inline-block;
                        line-height:32px;
                        vertical-align:middle;
                        font-size:15px;
                        color:#1a1a1a;
                        font-weight:normal;
                        width:116px;
                        text-align:right;
                    }
                    .item-form-panel{
                        float:left;
                        margin:0px;
                        .el-input{
                            margin-top:0px;
                            margin-bottom: 0px;
                        }
                    }
                }
            }
            .itemacces{width:300px;}
        }
        td.type-title{
            text-align:right;
            padding-left:0px;
            padding-right:0px;
            span{
                display:inline-block;
                line-height:32px;
                vertical-align:middle;
                font-size:15px;
                color:#1a1a1a;
                word-wrap: break-word;
                word-break: break-all;
                width:116px;
            }
        }
    }
}
.WebServerAddEditBtn.ArticleFive{
    padding-left:141px;
}
.ArticleSix{
    clear:both;
    .ArticleSixFl{
        background:#fff;
        margin-right:25px;
        padding:3% 4%;
        overflow-x:hidden;
        overflow-y:scroll;
        border-radius:8px;
        &::-webkit-scrollbar {width:4px;height:1px;}
        &::-webkit-scrollbar-thumb {box-shadow:inset 0 0 1px #f3f3f3;background:#9b9b9b;border-radius:8px;}
        &::-webkit-scrollbar-track {background:rgba(255,255,255,0);}
        .ArticleSixFlTop{
            h1{
                clear:both;
                display:block;
                text-align:left;
                font-size:28px;
                line-height:1.3;
                color:#0b0b0b;
            }
            .ArticleSixFlTopTag{
                clear:both;
                padding-top:20px;
                padding-bottom:20px;
                .ArticleSixFlTopTagFl{
                    float:left;
                    span{
                        float:left;
                        margin-right:20px;
                        border-radius:4px;
                        font-size:15px;
                        color:#fff;
                        background:-moz-linear-gradient(135deg, #5ca8fe 0%, #0480ff 100%);
                        background:-webkit-linear-gradient(135deg, #5ca8fe 0%, #0480ff 100%);
                        background:-o-linear-gradient(135deg, #5ca8fe 0%, #0480ff 100%);
                        background:-ms-linear-gradient(135deg, #5ca8fe 0%, #0480ff 100%);
                        background:linear-gradient(135deg, #5ca8fe 0%, #0480ff 100%);
                        line-height:24px;
                        padding:3px 15px;
                        .svg-i{
                            margin-right:5px;
                        }
                    }
                }
                .ArticleSixFlTopTagFr{
                    float:right;
                    color:#6688b4;
                    font-size:15px;
                    line-height:24px;
                    padding-top:3px;
                    padding-bottom:3px;
                }
            }
            .ArticleSixFlTopRead{
                clear:both;
                display:block;
                background:#f1f3f9;
                padding:10px 15px;
                border-radius:4px;
                p{
                    clear:both;
                    display:block;
                    font-size:14px;
                    color:#999;
                    line-height:24px;
                    padding:5px 0px;
                }
            }
        }
        .info-content{
            padding-top:35px; 
            table {width: 100%; border-collapse: collapse; border: solid #a8d3ff; border-width: 1px 0 0 1px; } 
            table td {border: 1px solid #a8d3ff !important;padding: 12px 10px !important;} 
        }
    }
    .ArticleSixFr{
        float:right;
        width:26%;
        min-width:300px;
        max-width:480px;
        background:#fff!important;
        padding:20px;
        margin:0!important;
        border-radius:8px!important;
        .el-card__body{
            height: 100%;
        }
        .ArticleSixFrTop{
            clear: both;
            display: block;
            background: #fff;
            z-index: 2;
            .ArticleSixFrTopHeader{
                font-size:20px;
                color:#383838;
                line-height:24px;
                strong{
                    font-weight: normal;
                }
                span{
                    font-size:14px;
                    color:#9a9a9a;
                    display: inline-block;
                    padding-left:5px;
                }
            }
            .ArticleSixFrTopMain{
                clear: both;
                display: block;
                background:#fff;
                margin-top: 15px;
                margin-bottom: 20px;
                position: relative;
                .btn-rich{
                    position: relative;
                    background: #fff;
                    z-index: 2;
                    padding: 20px 0px 30px 0px;
                    .hide-name{
                        float: left;
                        font-size: 14px;
                        color: #778293;
                        margin: 0px;
                        line-height: 30px;
                        height: 30px;
                        .el-switch__label{
                            height: 30px;
                            color: #0480ff;
                            &.is-active {
                                color: #666;
                            }
                        }
                        .el-switch__core{
                            width:26px;
                            height: 14px;
                            &:after{
                                width: 10px;
                                height: 10px;
                            }
                        }
                        &.is-checked .el-switch__core::after {
                            margin-left: -11px;
                        }
                    }
                    .el-button--primary{
                        float:right;
                        font-size:16px;
                        color:#242122;
                        line-height:30px;
                        width: 90px;
                        border-radius:15px;
                        background:#f9a500;
                        box-shadow:0px 5px 10px rgba(247,142,66,0.75);
                        border: 0px;
                        padding: 0px;
                        &:hover{
                            color:#fff;
                            background:#000;
                            box-shadow:0px 5px 10px rgba(0,0,0,0.75);
                        }
                    }
                }
                .el-switch.is-checked .el-switch__core {
                    border-color: #0480ff;
                    background-color: #0480ff;
                }
                &:after{
                    content: "";
                    position: absolute;
                    left: 15px;
                    right: 15px;
                    bottom: 0px;
                    height: 20px;
                    border-radius: 10px;
                    box-shadow: 5px 5px 20px #e2e2e2;
                    display: block;
                    background: #000;
                    z-index: 1;
                }
            }
        }
        .ArticleSixFrBom{
            display: block;
            overflow-x: hidden;
            overflow-y: scroll;
            height: 100%;
            margin-right: -20px;
            padding-right: 20px;
            &::-webkit-scrollbar {width:4px;height:1px;}
            &::-webkit-scrollbar-thumb {box-shadow:inset 0 0 1px #f3f3f3;background:#9b9b9b;}
            &::-webkit-scrollbar-track {background:#fff;}
            .item-comment{
                width: 100%;
                overflow: hidden;
                border-bottom: 1px solid #e8eef1;
                padding-top: 14px;
                padding-bottom: 10px;
                .comment-header{
                    height:24px;
                    position: relative;
                    padding-left:30px;
                    &:before{
                        content:'';
                        display: block;
                        width:12px;
                        height:12px;
                        border:3px solid #b4d4ff;
                        border-radius:50%;
                        background:#fff;
                        position: absolute;
                        top:6px;
                        left:0px;
                    }
                    span{
                        display: block;
                        float:left;
                        height: 24px;
                        line-height: 24px;
                        &.floor{
                            color:#999;
                        }
                        &.name{
                            font-weight: bold;
                            font-size:16px;
                            color:#182332;
                        }
                        &.time{
                            font-size:12px;
                            color:#7f8596;
                            display: inline-block;
                            padding-left:8px;
                        }
                        &.delete{
                            display: none;
                        }
                    }
                }
                &:hover{
                    .comment-header{
                        span.delete{
                            float:right;
                            cursor: pointer;
                            display: block;
                            color:#2e88ff;
                            i{
                                font-size: 16px;
                            }
                        }
                    }
                }
                .comment-body{
                    padding:5px 0px 0px 30px;
                    overflow: hidden;
                    p,div{
                        width: 100%;
                        margin: 5px 0;
                        font-size: 15px;
                        color: #2b3848;
                        line-height: 24px;
                    }
                    table{
                        margin:5px 0;
                        font-size: 15px;
                        color: #2b3848;
                        line-height: 24px;
                    }
                    img,video,table{
                        max-width: 100%;
                    }
                }
                &:last-child{
                    border-bottom:0px;
                }
            }
        }
    }
}
@media (max-width:1500px){
    .ArticleSix{
        .ArticleSixFl{
            .ArticleSixFlTop{
                h1{
                    font-size:26px;
                }
                .ArticleSixFlTopTag{
                    .ArticleSixFlTopTagFl{
                        float:left;
                        span{
                            margin-right: 15px;
                            padding:3px 5px;
                            font-size: 14px;
                        }
                    }
                    .ArticleSixFlTopTagFr{
                        font-size:14px;
                    }
                }
            }
        }
    }
}
@media (max-width:1280px){
    .ArticleSix{
        .ArticleSixFl{
            .ArticleSixFlTop{
                h1{
                    font-size:26px;
                }
                .ArticleSixFlTopTag{
                    .ArticleSixFlTopTagFl{
                        float:none;
                        clear: both;
                        display: block;
                    }
                    .ArticleSixFlTopTagFr{
                        padding-top: 10px;
                        padding-bottom: 0px;
                        float: none;
                        clear: both;
                        display: block;
                    }
                }
            }
        }
    }
}
@media (max-width:992px){
    .ArticleSix{
        &.flex-wrap{
            display: flex;
            
            align-content: flex-start;
            
            flex-flow: row wrap;
        }
        .ArticleSixFl{
            flex: 0 0 100%;
            margin-bottom: 20px;
            margin-right: 0px;
            padding: 20px;
            .ArticleSixFlTop{
                h1{
                    font-size:24px;
                }
                .ArticleSixFlTopTag{
                    padding-top: 10px;
                    padding-bottom: 15px;
                    .ArticleSixFlTopTagFl{
                        span{
                            margin-right: 5px;
                            font-size: 12px;
                            line-height: 18px;
                            padding: 3px 7px;
                        }
                    }
                    .ArticleSixFlTopTagFr{
                        font-size: 12px;
                        line-height: 20px;
                        padding-top: 8px;
                    }
                }
            }
        }
        .ArticleSixFr{            
            float:none;
            clear: both;
            width:100%;
            min-width:100%;
            max-width:100%;
            flex: 0 0 100%;
            .ArticleSixFrTop{
                margin-bottom: 0px;
                &:after{
                    display: none;
                }
            }
        }
    }
}
@media (max-width:782px){
    .ArticleSix{
        .ArticleSixFl{
            .ArticleSixFlTop{
                h1{
                    font-size:22px;
                }
            }
        }
    }
}
@media (max-width:576px){
    .ArticleSix{
        .ArticleSixFl{
            .ArticleSixFlTop{
                h1{
                    font-size:20px;
                }
            }
        }
    }
}