
@charset "UTF-8";
@import "./-variables.scss";
@import "./-mixin.scss";
@import "./-transition.scss";
@import "./-element-ui.scss";
@import "./-sidebar.scss";
@import './-btn.scss';
@import './-resize.scss';
@import './-public.scss';
@import './-layout.scss';
@import './ArticleIndex.scss';
@import './-WebsiteList.scss';
@import './-WebserverList.scss';
@import './-logsIndex.scss';
@import './-errorPage.scss';
@import './-login.scss';
@import './-userIndex.scss';
@import './-userCenter.scss';
@import './-ownPush.scss';
@import './-enCnProduct.scss';
@import './-Article.scss';
@import './-home.scss';
@import './-Chinaphone.scss';
@import '-Enphone.scss';
@import '-Sale.scss';
@import '-webMsg.scss';
.clear{
  clear:both;
  display:block;  
}
.page-root{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;
  padding:15px;
  .el-dialog__body{
    padding:20px!important;
  }
  .el-tabs__content{
    flex:1;
    padding:0!important;
    .el-tab-pane{
      height:100%;
      overflow:hidden;
    }
  }
  .search-dialog{
    .el-dialog__body{
      padding:0!important;
      position:relative;
    }
  }
}
.mobile{
  .page-root,.scroll-panel{
    padding:0;
  }
  .box-card{
    border-radius:0;
    .el-card__header{
      padding: 0;
      border-radius:0;
    }
    .el-card__body{
      .card-content{
        border-radius:0;
      }
    }
    .pagination-panel{
      text-align:center;
      .el-pagination{
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }
  .el-table.SiteTable{
    border-radius:0;
  }
}
/** 模块默认样式 **/
.init-style{
  padding:15px;
  background-color:#fff;
  border-radius:8px;
}
/**/
.SiteBtn{
  clear:both;
  display:block;
  overflow:hidden;
  padding-top:5px;
  padding-bottom:5px;
  .el-button--primary{
    background-color:#2e84f6!important;
    border-color:#2e84f6!important;
    
    &:hover,&:focus,&:active{
      background:#66b1ff!important;
      border-color:#66b1ff!important;
    }
    &.is-disabled,&.is-disabled:hover,&.is-disabled:focus,&.is-disabled:active {
        background-color:#a0cfff!important;
        border-color:#a0cfff!important;
    }
  }
}
/** 区域滚动样式 **/
.scroll-panel{
  width:100%;
  height:100%;
  padding:15px;
  overflow-x:hidden;
  overflow-y:auto;
}
.svg-icon{
  vertical-align:middle;
}
.bg-white{background-color:#fff;}
/** 卡片代码统一样式 **/
.box-card{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  background:none!important;
  box-shadow:none!important;
  border:0px!important;
  .card-header{
    .el-button{
      i,span{
        vertical-align:top;
      }
    }
  }
  &.scroll-card{
    height:auto;
  }
  .el-card__header{
    padding:15px;
    background:#fff;
    margin-bottom:15px;
    border-radius:8px;
    border:none;
  }
  .el-card__body{
    flex:1;
    padding:0px;
    background:none;
    display:flex;
    flex-direction:column;
    .card-content{
      flex:1;
      overflow:hidden;
      border-radius:8px;
    }
  }
  .pagination-panel{
    text-align:right;
    .el-pagination{
      margin-top:15px;
    }
  }
}
.search-wrap{
  .el-select .el-select__tags .el-tag .el-icon-close{
    right:-4px!important;
    top:-1px!important;
  }
  .SalesCardOne{
    float:left;
    padding-right:10px;
    &>span{
      float:left;
      line-height:32px;
      padding:5px 0px;
    }
  }
  .SalesCardcheckbox{
    float:left;
    line-height:32px;
    font-size:14px;
    padding:5px 10px 5px 0px;
  }
  .SalesCardInput{
    &>span{
      float:left;
      line-height:32px;
      padding:5px 0px;
    }
    float:left;
    line-height:32px;
  }
}

/** 页面加载进度条样式 **/
#nprogress .bar{
  background-color:$menuActiveText!important;
}
/** 职称图片标识样式 **/
.JobLevel_1, .JobLevel_2, .JobLevel_3, .JobLevel_4, .JobLevel_5, .JobLevel_6, .JobLevel_7, .JobLevel_8 { position:relative; display:block; width:90px; margin:10px auto; height:24px; font-size:0;overflow:initial; }
.JobLevel_1:before, .JobLevel_2:before, .JobLevel_3:before, .JobLevel_4:before, .JobLevel_5:before, .JobLevel_6:before, .JobLevel_7:before, .JobLevel_8:before { content:''; position:absolute; display:block; left:-11px; top:-10px; bottom:-10px; right:-11px; background-position:center; background-repeat:no-repeat; -webkit-background-size:100% auto; background-size:100% auto; }
.JobLevel_6:before { background-image:url(../../public/level_1_bg.png); }
.JobLevel_5:before { background-image:url(../../public/level_2_bg.png); }
.JobLevel_4:before { background-image:url(../../public/level_3_bg.png); }
.JobLevel_3:before { background-image:url(../../public/level_4_bg.png); }
.JobLevel_9:before { background-image:url(../../public/level_5_bg.png); }
.JobLevel_2:before { background-image:url(../../public/level_6_bg.png); }
.JobLevel_8:before { background-image:url(../../public/level_7_bg.png); }
.JobLevel_1:before { background-image:url(../../public/level_8_bg.png); }

/** 移动端搜索弹窗统一样式 **/
.search-dialog{
  width:90%;
  max-height:80%;
  left:5%;
  top:10%;
  margin:0!important;
  display:flex;
  flex-direction:column;
  .el-dialog__body{
    flex:1;
    .search-dialog-wrap{
      width:100%;
      /*height:100%;*/
      padding:20px;
      /*overflow-y:auto;
      position:absolute;
      left:0;
      top:0;*/
      .item-search{
        width:100%;
        .el-input,.el-select{
          width:100%;
        }
      }
      .item-search+.item-search{
        margin-top:20px;
      }
    }
  }
}
.el-time-panel{
  width:160px!important;
  left:-24px!important;
}
.el-date-table td{
  width:24px!important;
}

.clues-info{
  overflow:hidden;
  position:relative;
  .clues-infoFl{
    clear:both;
    display:block;
    background:#f6f8fa;
    border:1px solid #e4e8ee;
    padding:4px 4px;
    border-radius:4px;
    margin-right:30px;
  }  
  .clues-title-btn{
    .el-button.el-button--primary{
      float:left;
      line-height:1;
      padding:8px 10px 7px 10px;
      &.serchBtn{
         background:#2e88ff;
         border-color:#2e88ff;
         color:#fff;
         &:hover{
           background:#f73a3e;
           border-color:#f73a3e;
         }
      }
      &.derived{
          background:#fff;
          border-color:#31dab5;
          color:#31dab5;
          &:hover{
           border-color:#f73a3e;
           color:#f73a3e;
          }
          &.is-disabled,&.is-disabled:hover{
           border-color:#cccccc;
           color:#bbbbbb;
           background:#f7f7f7;
          }
      }
      &.editorNote{
          background:#fff;
          border-color:#f9a000;
          color:#f9a000;
          &:hover{
           border-color:#f73a3e;
           color:#f73a3e;
          }
          &.is-disabled,&.is-disabled:hover{
           border-color:#cccccc;
           color:#bbbbbb;
           background:#f7f7f7;
          }
      }
      i{
         float:left;
         margin-right:7px;
         .svg-icon{
              width:15px;
              height:15px;
              vertical-align:middle;
         }
      }
    }
  }
  p{
    font-size:12px;
    line-height:24px;
    color:#999;
    em{
      font-style:normal;
      margin:0 10px;
    }
    span{
      color:#333;
      padding:0px 5px;
      strong,b{
        margin:0 2px;
      }
    }
    .item-span-1{
      strong{
        color:#d02c34;
      }
    }
    .item-span-2{
      strong{
        color:#f8a53a;
      }
    }
    .item-span-3{
      strong{
        color:#333;        
      }
    }
    .item-span-4{
      color:#2e88ff;
      font-weight:bold;
    }
  }
}
.mobile{
  .clues-info{
    .clues-infoFl{
      margin-right:0px;
    }  
  }
}
/** 自定义表格 **/
.border-wrap{
  display:block;
  .border-row{
      width:100%;
  }
}
/** 论坛相关样式 **/
.post-class{
  .border-row{
    .border-cell{
      padding:10px 0px;
    }
  }
  .txt-font.border-cell{
    width:100px;
    padding-right:10px;
    text-align:right;
    font-weight:normal;
    line-height:32px;
    color:#1a1a1a;
    font-size:15px;
  }
  .flex-content{
      .el-button--primary.is-plain{
          color:#4c4c4c;
          background:none;
          border:none;
          padding:9px 15px;
          font-size:14px;
          &:active {
              border-color:#136add!important;
              background:#136add!important;
              background:-moz-linear-gradient(135deg, #2e84f6 0%, #136add 100%)!important;
              background:-webkit-linear-gradient(135deg, #2e84f6 0%, #136add 100%)!important;
              background:-o-linear-gradient(135deg, #2e84f6 0%, #136add 100%)!important;
              background:-ms-linear-gradient(135deg, #2e84f6 0%, #136add 100%)!important;
              background:linear-gradient(135deg, #2e84f6 0%, #136add 100%)!important;
              color:#FFFFFF!important;
              outline:none;
          }
          &.is-active,&:hover,&:focus{
          border-color:#2e84f6!important;
          background:#2e84f6!important;
          color:#FFFFFF!important;
          }
      }
  }
  .tag-panel{
      width:100%;
      overflow:hidden;
      font-size:0;
      .el-button.search{
          margin:0px;
          vertical-align:top;
          background:#2e88ff;
          font-size:16px;
          .searchWhite{
            width:16px;
            height:15px;
            vertical-align:top;
            display:inline-block;
            margin-right:5px;
            .svg-icon{
              width:100%!important;
              height:100%!important;
            }
          }
      }
      .el-button{
        margin-left:5px!important;
      }
  }
}
/*buttonOne*/
.buttonOne{
    .el-button.el-button--primary.is-plain{
        font-size:13px;
        color:#666;
        background:#f1f3f6;
        border-color:#f1f3f6!important;
        border-radius:3px;
        margin:4px;
        padding:3px 15px;
        line-height:24px;
        &.is-active,&:hover,&:focus{
            border-color:#2e84f6!important;
            background:#2e84f6;
            color:#FFFFFF!important;
        }
    }
}
/*buttonTwo*/
.buttonTwo{
  .checkbox-panel{
    clear:both;
    display:block;
  }
  .el-checkbox{
      border-color:#e6e6e6 !important;
      border-radius:3px!important;
      margin:4px!important;
      padding:5px 15px 5px 10px!important;
      line-height:20px;
      .el-checkbox__label{
          line-height:20px;
          font-size:14px;
          color:#666;
      }
      .el-checkbox__input{
          .el-checkbox__inner{
              position:relative;
              border-color:#e6e6e6;
              &:after{
                 transition:transform 0.15s ease-in 0s;
              }
          }
      } 
      &.all-select{
        .el-checkbox__input.is-indeterminate{
          //background-color:#2e84f6 !important;
          //border-color:#2e84f6 !important;
          .el-checkbox__inner{
            background-color:#2e84f6 !important;
            border-color:#2e84f6 !important;
          }
        }
      }
      &.is-checked,&:hover,&:focus{
          border-color:#2e84f6 !important;
          .el-checkbox__label{
              color:#2e84f6;
          }
          .el-checkbox__input{
                  .el-checkbox__inner{
                      background-color:#2e84f6;
                      border-color:#2e84f6;
                      &:after{
                          box-sizing:content-box;
                          content:"";
                          border:1px solid #FFFFFF;
                          border-left:0;
                          border-top:0;
                          height:7px;
                          width:3px;
                          left:3px;
                          top:0px;
                          transform:rotate(45deg) scaleY(1);
                      }
                  }
          }
      }
      &.is-disabled{
          border-color:#e6ebf5;
          cursor:not-allowed;
          .el-checkbox__input.is-disabled{
              .el-checkbox__inner{
                  background-color:#edf2fc;
                  border-color:#DCDFE6;
                  cursor:not-allowed;
                  &:after {
                      cursor:not-allowed;
                      border:0px;
                  }
              }
              & + span.el-checkbox__label{
                  color:#C0C4CC;
                  cursor:not-allowed;
              }
          }
          &.is-checked,&:hover,&:focus{
              border-color:#DCDFE6!important;
              .el-checkbox__input.is-disabled{
                  .el-checkbox__inner{
                      &:after {
                          display:none;
                      }
                  }
              }
          }
      }
      &.is-bordered.el-checkbox--mini{
        line-height:16px;
      }
  }
}
.el-button--primary.is-plain.is-active{
  border-color:#2e84f6!important;
  background:#2e84f6;
  color:#FFFFFF!important;
}
/*自定义单选*/
.customRadio{
  .item-clues{
    float:left;
    position:relative;
    font-size:14px;
    color:#20222A;
    cursor:pointer;
    padding-left:20px;
    line-height:24px;
    margin-right:10px;
    margin-bottom:10px;
    border:1px solid #e6ebf5;
    border-radius:4px;
    padding:5px 8px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    i{
      position:relative;
      float:left;
      width:12px;
      height:12px;
      box-sizing:border-box;
      border-radius:50%;
      border:1px solid #939393;
      background:#fff;
      margin-top:5px;
      margin-right:8px;
    }
    &:hover,&.active{
      color:$menuActiveText;
      border-color:#bfdbff;
      background:#edf5ff;
      i{
        border-color:$menuActiveText;
        &:after{
          content:'';
          position:absolute;
          width:4px;
          height:4px;
          border-radius:50%;
          left:3px;
          top:3px;
          background:$menuActiveText;
        }
      }
    }
  }
}
/*控件多选模仿单选*/
.radioTomulti{
  .el-checkbox{
    float:left;
    position:relative;
    font-size:14px;
    color:#20222A;
    cursor:pointer;
    padding-left:20px;
    line-height:24px;
    margin-right:10px;
    margin-bottom:10px;
    border:1px solid #e6ebf5;
    border-radius:4px;
    padding:5px 8px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    .el-checkbox__input{ 
      float:left;
      margin-top:5px;
      margin-right:8px;
      .el-checkbox__inner{  
        border-radius:50%;
        width:12px;
        height:12px;
        &:after{
          content:"";
          position:absolute;
          width:4px;
          height:4px;
          border-radius:50%;
          left:3px;
          top:3px;
          background:#fff;
          border:0px;
        }
      }
    }
    .el-checkbox__label{
      padding-left:0px;
    }
    &.is-checked,&:hover{
      border-color:#bfdbff;
      background:#edf5ff;
      .el-checkbox__input{
        border-color:#2e88ff;
        .el-checkbox__inner{
          background-color:#fff;
          &:after{
            background:#2e88ff;
          }
        }
      }
      .el-checkbox__label{
        color:#2e88ff;
      }
    }
  }
}
/*移动端默认日期*/
.el-popover{
  min-width:100px!important;
}
.el-message{
  max-width:300px;
  min-width:300px!important;
}
.el-message__content{
  line-height:1.4!important;
}
.el-message.is-closable .el-message__content{
  padding-right:24px!important;
}
.v-md-editor__toolbar{
  &:before,&:after{
    display:none;
  }
}
.header-table{
  width:100%;
  border-top:1px solid $primaryBorder;
  border-left:1px solid $primaryBorder;
  margin-bottom:15px;
  tr{
    td{
      border-bottom:1px solid $primaryBorder;
      border-right:1px solid $primaryBorder;
      padding:10px;
    }
  }
}
.vuepress-markdown-body:not(.custom){
  padding:30px!important;
}
.article-user{
  width:100%;
  overflow:hidden;
  font-size:14px;
  strong{
    margin-right:10px;
  }
}
.btn-back{
  cursor:pointer;
}
/** 论坛文章、网站日志详情页默认样式 **/
.info-content{
  width:100%;
  padding:0;
  overflow:hidden;
  p,div{
    font-size:16px;
    line-height:2;
  }
  img,video{
    max-width:100%;
  }
  table{
    max-width:100%;
    border:none!important;
    border-top:1px solid $primaryBorder!important;
    border-left:1px solid $primaryBorder!important;
    background:none!important;
    tr{
      td{
        border:none!important;
        border-bottom:1px solid $primaryBorder!important;
        border-right:1px solid $primaryBorder!important;
        padding:3px 10px!important;
        background:none!important;
        font-size:16px;
      }
    }
  }
  &.rich-text{
    >p,>div{
      margin:15px 0;
    }
  }
}
.comment-panel{
  width:100%;
  overflow:hidden;
  padding:15px;
  background:#fff;
}
.el-backtop{
  z-index:1000!important;
}
/**级别修改记录**/
.popover{
  clear:both;
  display:block;
  z-index:3;
  width:80%!important;
  max-width:800px;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  overflow:hidden;
  margin:0px !important;
  .el-dialog__header{
    clear:both;
    background:#f1f1f1;
    padding:15px 10px;
    font-size:14px;
  }
  ul{
    clear:both;
    display:block;
    li{
      clear:both;
      display:block;
      padding-top:3px;
      padding-bottom:3px;
      font-size:14px;
      line-height:20px;
      color:#263445;
      position:relative;
      span{
        padding-right:5px;
        em{
          display:inline-block;
          padding-left:5px;
          padding-right:5px;
          color:#fb7d23;
          font-style:normal;
        }
      }
    }
  }
  .el-dialog__footer{
    padding:0px 20px 20px 20px;
    text-align:center;
  }
}
/**/
.clues-title{
  clear:both;
  display:block;
  overflow:hidden;
  font-size:18px;
  color:#2e84f6;
  line-height:24px;
  padding-bottom:10px;
  .svg-i{
    margin-right:10px;
    float:left;
    line-height:22px;
    .svg-icon{
          width:22px;
          height:22px;
          vertical-align:middle;
    }
  }
}
/*表格样式*/
.el-table.SiteTable{
  border-radius:8px;
  display:flex;
  flex-direction:column;
  .el-table__body-wrapper{
    flex:1;
    display:flex;
    flex-direction:column;
    .el-table__empty-block{
      flex:1;
    }
  }
  &:before{display:none;}
  th.is-leaf{
    background:#e2e9ed;
    font-size:14px;
    color:#555;
    font-weight:normal;
    border-bottom:1px solid #e2e9ed;
    border-right:1px solid #dae4e9;
    line-height:20px;
  }
  th.gutter{
    background:#e2e9ed;
  }
  td{
    border-bottom:1px solid #f7f9fa !important;
    border-right:1px solid #f7f9fa !important;
    font-size:13px !important;
    color:#1a1a1a;
  }
  svg,i[class~="el-cion"]{
    font-size:20px;
  }
  .el-table__placeholder{
    display:none!important;
  }
  &.homeTable{
    .el-table__expand-icon{
      display:none!important;
    }
  }
  .article-title{
    cursor:pointer;
    padding-left:10px;
  }
  .el-table__fixed-right-patch {
    background-color:#e2e9ed;
    border-bottom:1px solid #e2e9ed;
  }
  .table-tag{
    .el-tag{
      margin:2px;
    }
    .level{
      display:inline-block;
      border-radius:4px;
      padding:0 5px;
      color:#fff;
      cursor:pointer;
    }
    .level-1{
      background:#ff0000;
    }
    .level-2{
      background:#eab905;
    }
    .level-3{
      background:#293cfc;
    }
    .level-4{
      background:#1acfda;
    }
    .level-5{
      background:#f6b37f;
    }
    .level-6{
      background:#7e84fd;
    }
  }
  .table-hit{
    span{
      color:#4c4c4c;
    }
  }
  .table-comment{
    span{
      color:#fc8440;
    }
  }
  .table-title{
    cursor:pointer;
    line-height:0;
    transition:all .3s;
    .svg-i{
      color:#ff4500;
      margin-right:5px;
      vertical-align:middle;
    }
    .svg-icon{
      width:20px;
      height:20px;
    }
    span,strong{
      vertical-align:middle;
      line-height:24px;
    }
    b{
      color:red;
    }
    &:hover{
      padding-left:5px;
    }
  }
  .table-permit{
    .svg-i{
      cursor:pointer;
      .svg-icon{
        width:20px;
        height:20px;
      }
    }
  }
  .table-icon{
    .svg-i{
      display:inline-block;
      width:20px;
      height:20px;
    }
    .link{
      cursor:pointer;
    }
  }
  .logs-num{
    color:red;
    margin-left:4px;
  }
  .el-popover{
    min-width:100px!important;
    p{
      margin:5px;
    }
  }  
  .product-span{
    i{
        font-style:normal;
        font-weight:bold;
    }
    &.level_1{
        i{color:#B3315F};
    }
    &.level_2{
        i{
            color:#130CB7;
        }
    }
    &.level_3{
        i{
            color:#6a6a6b;
        }
    }
  }
  .table-input{
    .el-input+.el-input{
      margin-top:10px;
    }
    .el-input{
      .el-input__inner{
        padding:0 10px!important;
      }
    }
    .el-textarea{
      .el-textarea__inner{
        padding:5px 10px!important;
      }
    }
  }
  .table-text{
    p{
      a{
        color:#2e88ff;
        &:hover{
          text-decoration:underline;
        }
      }
    }
  }
  .export-dialog{
    .el-form-item{
      margin-right:0!important;
      width:100%;
      .el-form-item__content{
        width:240px;
        .el-select,.el-input{
          width:100%;
        }
      }
    }
  }
}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden; font-size:0px; }
/** 添加编辑弹窗统一样式 **/
.add-edit-dialog{
    .item-form.icon{
        padding-right:76px;
    }
    .item-form{
        padding-right:30px;
        position:relative;
        .icon-button{
          width:36px;
          height:36px;
          position:absolute;
          top:0;
          right:30px;
          border:1px solid #C0C4CC;
          border-radius:4px;
          text-align:center;
          line-height:34px;
          font-size:18px;
          color:#999;
          cursor:pointer;
        }
        >span{
          display:block;
          width:30px;
          height:36px;
          position:absolute;
          right:0;
          top:0;
          text-align:center;
          line-height:36px;
          font-size:14px;
          cursor:pointer;
          color:#bbb;
        }
        &:before,
        &:after {
          content:"";
          display:table;
        }
        &:after {
          clear:both;
        }
    }
    .item-form-group {
      width:100%;
      &:before,
      &:after {
        content:"";
        display:table;
      }
      &:after {
        clear:both;
      }
      .item-form-3 {
        width:180px;
        float:left;
        padding-right:30px;
        position:relative;
        &:before,
        &:after {
          content:"";
          display:table;
        }
        &:after {
          clear:both;
        }
        > span {
          display:block;
          width:30px;
          height:36px;
          position:absolute;
          right:0;
          top:0;
          text-align:center;
          line-height:36px;
          font-size:14px;
          cursor:pointer;
          color:#bbb;
        }
      }
      .item-form {
        width:50%;
        float:left;
      }
      &.itemwebmsg{
        .el-select__tags{
          max-width:initial!important;
        }
      }
    }
    .el-select,.el-cascader{
      display:block!important;
    }
}
/** 穿梭框弹窗统一样式 穿梭一次 **/
.transfer-dialog{
    .transfer-panel{
        width:100%;
        overflow:hidden;
        height:400px;
        .transfer-wrap{
            width:100%;
            float:right;
            height:100%;
            overflow:hidden;
            .el-transfer{
                height:100%;
                overflow:hidden;
                .el-transfer-panel{
                    width:352px!important;
                    height:100%!important;
                    .el-checkbox__label{
                        position:static;
                    }
                    .el-transfer-panel__body{
                        height:360px!important;
                        overflow:hidden;
                        .el-transfer-panel__list.is-filterable{
                            height:298px!important;
                        }
                    }
                }
                .el-transfer__buttons{
                    padding:0 20px!important;
                    width:96px;
                    margin-left:0!important;
                    margin-right:0!important;
                    .el-button + .el-button{
                        margin-left:0!important;
                    }
                }
            }
        }
    }
}
/** 穿梭框弹窗统一样式二 穿梭两次 **/
.transfer-2-dialog{
  .transfer-panel{
    width:100%;
    overflow:hidden;
    height:400px;
    .list-panel{
      width:210px;
      float:left;
      height:100%;
      border:1px solid #dfe6ec;
      border-radius:4px;
      position:relative;
      padding-top:40px;
      overflow:hidden;
      .title-panel{
        height:40px;
        width:100%;
        border-bottom:1px solid #dfe6ec;
        background:#F5F7FA;
        position:absolute;
        left:0;
        top:0;
        padding-left:16px;
        font-size:16px;
        color:#303133;
        line-height:39px;
      }
      .list-wrap{
        padding:10px 0;
        height:100%;
        overflow:auto;
      }
    }
    .button-panel{
      float:left;
      margin-left:20px;
      width:56px;
      height:100%;
      .el-button{
        position:relative;
        top:50%;
        transform:translateY(-50%);
      }
    }
    .transfer-wrap{
      width:570px;
      float:right;
      height:100%;
      overflow:hidden;
      .el-transfer{
        height:100%;
        overflow:hidden;
        .el-checkbox{
          margin-right:10px;
        }
        .el-transfer-panel{
          width:237px!important;
          height:100%!important;
          .el-checkbox__label{
            position:static;
          }
          .el-transfer-panel__body{
            height:360px!important;
            overflow:hidden;
            .el-transfer-panel__list.is-filterable{
              height:298px!important;
            }
          }
        }
        .el-transfer__buttons{
          padding:0 20px!important;
          width:96px;
          margin-left:0!important;
          margin-right:0!important;
          .el-button + .el-button{
            margin-left:0!important;
          }
        }
      }
    }
  }
}
.mobileTime{
  flex:1;
  &>i{
    clear:both;
    display:block;
    font-style:normal;
    font-size:12px;
    width:24px;
    line-height:32px;
    text-align:center;
    color:#999;
  }
  .el-input{
    width:auto!important;
    &.el-input--suffix{
      .el-input__inner{
        padding-right:10px;
        padding-left:25px;
      }
      .el-input__prefix{
        left:0px;
      }
    }
  }
}
/** 论坛标签管理 **/
.tags-index{
  .tag-color{padding:0 13px;line-height:0;font-size:0; vertical-align:top;}
}
/** 图标弹窗样式 **/
.icon-dialog{
  .el-tabs {
    display:flex;
    height:480px;
    overflow:hidden;
    flex-direction:column;
    .grid {
      position:relative;
      display:grid;
      grid-template-columns:repeat(auto-fill, minmax(120px, 1fr));
      &:before,&:after{
        display:initial;
        content:initial;
      }
    }
    .icon-item {
      margin:10px;
      padding:10px;
      border-radius:4px;
      height:105px;
      text-align:center;
      width:100px;
      float:left;
      font-size:30px;
      color:#24292e;
      cursor:pointer;
      &.is-active {
        background:#f2f2f2;
      }
    }
    span {
      display:block;
      font-size:16px;
      margin-top:10px;
    }
    .disabled {
      pointer-events:none;
    }
  }
}
/** 导出弹窗统一样式 **/
.export-dialog{
  .el-form-item{
    margin-right:0!important;
    width:100%;
    .el-form-item__content{
      width:280px;
      .el-select--small{
        width:100%;
      }
    }
  }
}
@media (max-width:1600px){
  .article-info{
    .ArticleSixFlTop{
        .ArticleSixFlTopTag{
            .ArticleSixFlTopTagFl{
                span{
                    margin-right:10px;
                    padding:3px 10px;
                }
            }
        }
    }
  }
}
@media (max-width:1440px){
  .ArticleSix{
      .ArticleSixFl{
        float:none;
        width:100%;
        padding-right:0;
        .main-article{
          min-height:auto!important;
        }
      }
      .ArticleSixFr{
        float:none;
        width:100%;
        margin-top:15px!important;
        min-height:auto!important;
      }
  }
  .article-info{
    .ArticleSixFlTop{
        h1{
            font-size:26px;
        }
        .ArticleSixFlTopTag{
            .ArticleSixFlTopTagFl{
                float:left;
                span{
                    font-size:14px;
                }
            }
            .ArticleSixFlTopTagFr{
                font-size:14px;
            }
        }
    }
  }
}
@media (max-width:1280px){
  .article-info{
    .ArticleSixFlTop{
      h1{
          font-size:26px;
      }
      .ArticleSixFlTopTag{
          .ArticleSixFlTopTagFl{
              float:none;
              clear:both;
              display:block;
          }
          .ArticleSixFlTopTagFr{
              padding-top:10px;
              padding-bottom:0px;
              float:none;
              clear:both;
              display:block;
          }
      }
    }
  }
}
@media (max-width:1024px) {
  .login-form{
    >p{
      display:none;
    }
  }
  .search-dialog.block-search{
    width:360px;
    left:50%;
    margin:0 0 0 -180px!important;
  }
  .wscn-http404-container{
    width:100%!important;
    left:0!important;
    position:relative!important;
    transform:translate(0,-40%)!important;
  }
  .wscn-http404{
    width:100%!important;
    .pic-404{
      max-width:600px;
      width:100%!important;
      margin:0 auto;
      float:none!important;
    }
    .bullshit{
      float:none!important;
      max-width:360px!important;
      width:100%!important;
      margin:0 auto;
    }
  }
  .article-info{
    .info-content{
      padding-top:0;
      p,div{
        font-size:14px;
      }
      table{
        tr{
          td{
            font-size:14px;
          }
        }
      }
    }
  }
  .el-date-picker{
    width:80%!important;
    .el-picker-panel__content{
      width:90%!important;
      margin:5%!important;
    }
  }
}
@media (max-width:992px){
  .ArticleSix{
      &.flex-wrap{
          display:flex;
          align-content:flex-start;
          flex-flow:row wrap;
      }
      .ArticleSixFl{
          flex:0 0 100%;
      }
      .ArticleSixFr{            
          float:none;
          clear:both;
          width:100%;
          min-width:100%;
          max-width:100%;
          flex:0 0 100%;
          .ArticleSixFrTop{
              margin-bottom:0px;
              &:after{
                  display:none;
              }
          }
      }
  }
  .article-info{
    .ArticleSixFlTop{
        h1{
            font-size:24px;
        }
        .ArticleSixFlTopTag{
            padding-top:10px;
            padding-bottom:15px;
            .ArticleSixFlTopTagFl{
                span{
                    margin-right:5px;
                    font-size:12px;
                    line-height:18px;
                    padding:3px 7px;
                }
            }
            .ArticleSixFlTopTagFr{
                font-size:12px;
                line-height:20px;
                padding-top:8px;
            }
        }
      }

  }
}
@media (max-width:750px){
  .article-info{
    padding:20px;
    .ArticleSixFlTop{
      h1{
          font-size:22px;
      }
    }
  }
}
@media (max-width:576px){
  .article-info{
    .ArticleSixFlTop{
      h1{
          font-size:20px;
      }
      h2{
          font-size:15px;
      }
    }
  }
}
@media (max-width:450px) {
  .search-dialog.block-search{
    width:90%;
    left:5%;
    margin:0!important;
  }
  .article-info{
    .ArticleSixFlTop{
      h1{
          font-size:18px;
      }
    }
  }
}
