
@charset "UTF-8";

@import "./-variables.scss";
@import "./-mixin.scss";
@import "./-transition.scss";
@import "./-element-ui.scss";
@import "./-sidebar.scss";
@import './-btn.scss';
@import './-resize.scss';
@import './-public.scss';
@import './-layout.scss';
@import './ArticleIndex.scss';
@import './WebsiteList.scss';
@import './WebserverList.scss';
@import './Article.scss';
@import './Chinaphone.scss';
.page-root{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow: hidden;
  padding: 15px;
  .el-dialog__body{
    padding: 20px!important;
  }
  .el-tabs__content{
    flex: 1;
    padding:0!important;
    .el-tab-pane{
      height: 100%;
      overflow: hidden;
    }
  }
}
.scroll-panel{
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {width: 4px;height: 1px;}
  &::-webkit-scrollbar-thumb {box-shadow: inset 0 0 1px #f3f3f3;background: #9b9b9b;}
  &::-webkit-scrollbar-track {background: #fff;}
}
.svg-icon{
  vertical-align: middle;
}
.box-card.auto{
  height: auto;
}
.box-card.comment{
  margin-top: 15px;
}
.box-card{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background:none!important;
  box-shadow:none!important;
  border:0px!important;
  .card-header{
    .el-button{
      i,span{
        vertical-align: top;
      }
    }
  }
  &.scroll-card{
    .el-card__body{
      padding:0;
    }
  }
  .el-card__header{
    padding:10px 20px;
    background:#fff;
    margin-bottom:20px;
    border-radius:4px;
  }
  .el-card__body{
    flex:1;
    padding:0px;
    background:#fff;
    display: flex;
    flex-direction: column;
    .card-content{
      flex:1;
      overflow: hidden;
    }
  }
  .pagination-panel{
    text-align: right;
    .el-pagination{
      margin-top: 10px;
    }
  }
}
.pagination-panel{
  overflow: hidden;
  &.top-page{
    .el-pagination{
      margin-top:0;
      margin-bottom: 10px;
    }
  }
}
.search-wrap{
  .el-select .el-select__tags .el-tag .el-icon-close{
    right: -4px!important;
    top: -1px!important;
  }
}

#nprogress .bar{
  background-color: $menuActiveText!important;
}

.JobLevel_1, .JobLevel_2, .JobLevel_3, .JobLevel_4, .JobLevel_5, .JobLevel_6, .JobLevel_7, .JobLevel_8 { position: relative; display: block; width: 90px; margin: 10px auto; height: 24px; font-size: 0;overflow: initial; }
.JobLevel_1:before, .JobLevel_2:before, .JobLevel_3:before, .JobLevel_4:before, .JobLevel_5:before, .JobLevel_6:before, .JobLevel_7:before, .JobLevel_8:before { content: ''; position: absolute; display: block; left: -11px; top: -10px; bottom: -10px; right: -11px; background-position: center; background-repeat: no-repeat; -webkit-background-size: 100% auto; background-size: 100% auto; }
.JobLevel_6:before { background-image: url(../../public/level_1_bg.png); }
.JobLevel_5:before { background-image: url(../../public/level_2_bg.png); }
.JobLevel_4:before { background-image: url(../../public/level_3_bg.png); }
.JobLevel_3:before { background-image: url(../../public/level_4_bg.png); }
.JobLevel_9:before { background-image: url(../../public/level_5_bg.png); }
.JobLevel_2:before { background-image: url(../../public/level_6_bg.png); }
.JobLevel_8:before { background-image: url(../../public/level_7_bg.png); }
.JobLevel_1:before { background-image: url(../../public/level_8_bg.png); }
.page-root{
  .search-dialog{
    .el-dialog__body{
      padding:0!important;
      position: relative;
    }
  }
}
.search-dialog{
  width: 90%;
  max-height: 80%;
  left: 5%;
  top: 10%;
  margin:0!important;
  display: flex;
  flex-direction: column;
  .el-dialog__body{
    flex: 1;
    .search-dialog-wrap{
      width: 100%;
      height: 100%;
      padding: 20px;
      overflow-y: auto;
      position: absolute;
      left:0;
      top:0;
      .item-search{
        width: 100%;
        .el-input,.el-select{
          width: 100%;
        }
      }
      .item-search+.item-search{
        margin-top:20px;
      }
    }
  }
}
.new-date{
  width: 280px!important;
  .el-picker-panel__content{
    width: 248px!important;
  }
}
.el-time-panel{
  width: 160px!important;
  left: -24px!important;
}
.el-date-table td{
  width: 24px!important;
}

.clues-info{
  background: #e8f7f4;
  border: 1px solid #a3ddd1;
  overflow: hidden;
  margin: 10px 0 15px;
  padding: 10px 15px;
  p{
    font-size: 12px;
    line-height: 2.5;
    span{
      strong,b{
        margin: 0 2px;
      }
      em{
        font-style: normal;
        margin: 0 10px;
      }
    }
    .item-span-1{
      strong{
        color: #429adc;
      }
    }
    .item-span-2{
      strong{
        color: #E88401;
      }
    }
    .item-span-3{
      strong{
        color: #B3315F;
      }
      b{
        color: #130CB7;
      }
    }
  }
}
/** 自定义表格 **/
.border-wrap{
  display: block;
  .border-row{
      width: 100%;
  }
}
.post-class{
  .border-row{
    .border-cell{
      padding:10px 0px;
    }
  }
  .txt-font.border-cell{
    width:100px;
    padding-right: 10px;
    text-align: right;
    font-weight:normal;
    line-height:32px;
    color:#1a1a1a;
    font-size:15px;
  }
  .flex-content{
      .el-button--primary.is-plain{
          color:#4c4c4c;
          background:none;
          border:none;
          padding:9px 15px;
          font-size:14px;
          &:active {
              border-color:#136add!important;
              background:#136add!important;
              background:-moz-linear-gradient(135deg, #2e84f6 0%, #136add 100%)!important;
              background:-webkit-linear-gradient(135deg, #2e84f6 0%, #136add 100%)!important;
              background:-o-linear-gradient(135deg, #2e84f6 0%, #136add 100%)!important;
              background:-ms-linear-gradient(135deg, #2e84f6 0%, #136add 100%)!important;
              background:linear-gradient(135deg, #2e84f6 0%, #136add 100%)!important;
              color:#FFFFFF!important;
              outline:none;
          }
          &.is-active,&:hover,&:focus{
          border-color: #2e84f6!important;
          background:#2e84f6!important;
          color: #FFFFFF!important;
          }
      }
  }
  .tag-panel{
      width: 100%;
      overflow: hidden;
      font-size:0;
      .el-button.search{
          margin:0px;
          vertical-align: top;
          background:#2e88ff;
          font-size: 16px;
          .searchWhite{
            width: 16px;
            height: 15px;
            vertical-align: top;
            display: inline-block;
            margin-right:5px;
            .svg-icon{
              width:100%!important;
              height:100%!important;
            }
          }
      }
      .el-button{
        margin-left:5px!important;
      }
  }
}
/*buttonOne*/
.buttonOne{
    .el-button.el-button--primary.is-plain{
        font-size:13px;
        color:#666;
        background:#f1f3f6;
        border-color:#f1f3f6!important;
        border-radius:2px;
        margin-right:6px;
        margin-bottom:6px;
        margin-top:0px;
        margin-left:0px;
        padding:3px 15px;
        line-height:24px;
        &.is-active,&:hover,&:focus{
            border-color:#2e84f6!important;
            background:#2e84f6;
            color:#FFFFFF!important;
        }
    }
}
/*buttonTwo*/
.buttonTwo{
  .checkbox-panel{
    clear:both;
    display:block;
  }
  .el-checkbox{
      border-color:#e6e6e6 !important;
      border-radius:2px!important;
      margin-right:6px!important;
      margin-bottom:6px!important;
      margin-top:0px!important;
      margin-left:0px!important;
      padding:5px 15px 5px 10px!important;
      line-height:20px;
      .el-checkbox__label{
          line-height:20px;
          font-size:14px;
          color:#666;
      }
      .el-checkbox__input{
          .el-checkbox__inner{
              position:relative;
              border-color:#e6e6e6;
              &:after{
                 transition: transform 0.15s ease-in 0s;
              }
          }
          &.all-select{
            .is-indeterminate{
              background-color:#2e84f6 !important;
              border-color:#2e84f6 !important;
            }
          }
      }
      &.is-checked,&:hover,&:focus{
          border-color:#2e84f6 !important;
          .el-checkbox__label{
              color:#2e84f6;
          }
          .el-checkbox__input{
                  .el-checkbox__inner{
                      background-color:#2e84f6;
                      border-color:#2e84f6;
                      &:after{
                          box-sizing:content-box;
                          content:"";
                          border:1px solid #FFFFFF;
                          border-left:0;
                          border-top:0;
                          height:7px;
                          width:3px;
                          left:3px;
                          top:0px;
                          transform:rotate(45deg) scaleY(1);
                      }
                  }
          }
      }
      &.is-disabled{
          border-color:#e6ebf5;
          cursor:not-allowed;
          .el-checkbox__input.is-disabled{
              .el-checkbox__inner{
                  background-color:#edf2fc;
                  border-color:#DCDFE6;
                  cursor:not-allowed;
                  &:after {
                      cursor:not-allowed;
                      border:0px;
                  }
              }
              & + span.el-checkbox__label{
                  color:#C0C4CC;
                  cursor:not-allowed;
              }
          }
          &.is-checked,&:hover,&:focus{
              border-color:#DCDFE6!important;
              .el-checkbox__input.is-disabled{
                  .el-checkbox__inner{
                      &:after {
                          display:none;
                      }
                  }
              }
          }
      }
      &.is-bordered.el-checkbox--mini{
        line-height: 16px;
      }
  }
}
.el-button--primary.is-plain.is-active{
  border-color: #2e84f6!important;
  background:#2e84f6;
  color: #FFFFFF!important;
}


.el-popover{
  min-width: 100px!important;
}
.el-message{
  max-width:300px;
  min-width: 300px!important;
}
.el-message__content{
  line-height: 1.4!important;
}
.el-message.is-closable .el-message__content{
  padding-right: 24px!important;
}
.v-md-editor__toolbar{
  &:before,&:after{
    display: none;
  }
}
.header-table{
  width: 100%;
  border-top: 1px solid $primaryBorder;
  border-left: 1px solid $primaryBorder;
  margin-bottom: 15px;
  tr{
    td{
      border-bottom: 1px solid $primaryBorder;
      border-right: 1px solid $primaryBorder;
      padding: 10px;
    }
  }
}
.vuepress-markdown-body:not(.custom){
  padding: 30px!important;
}
.info-content{
  width: 100%;
  padding: 0;
  overflow: hidden;
  p{
    font-size: 16px;
    line-height: 1.5;
  }
  img,video{
    max-width: 100%;
  }
  table{
    max-width: 100%;
    border-top: 1px solid $primaryBorder!important;
    border-left: 1px solid $primaryBorder!important;
    tr{
      td{
        border-bottom: 1px solid $primaryBorder!important;
        border-right: 1px solid $primaryBorder!important;
        padding: 3px 10px!important;
      }
    }
  }
  &.rich-text{
    >p,>div{
      margin: 15px 0;
    }
  }
}
.comment-panel{
  width: 100%;
  overflow: hidden;
  padding: 15px;
  background: #fff;
}
.el-backtop{
  z-index: 1000!important;
}
/**/
.clues-title{
  width: 100%;
  text-align: center;
  border:0px;
  border-bottom: none;
  line-height: 48px;
  height: 49px;
  font-size: 20px;
  font-weight: normal;
  color:#2e84f6;
  span{
      strong{
          color: #E88401;
          margin: 0 2px;
      }
  }
}
/*表格样式*/
.el-table.SiteTable{
  &:before{display: none;}
  th.is-leaf{
    background: #e2e9ed;
    font-size: 14px;
    color: #555;
    font-weight: normal;
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #e2e9ed;
    border-right: 1px solid #dae4e9;
    line-height: 20px;
  }
  td{
    border-bottom: 1px solid #f7f9fa !important;
    border-right: 1px solid #f7f9fa !important;
    font-size: 13px !important;
    color: #1a1a1a;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
  &.el-table--scrollable-x{
      .el-table__body-wrapper{
          overflow-x: scroll;
          &::-webkit-scrollbar {width:1px;height:5px;}
          &::-webkit-scrollbar-thumb {box-shadow: inset 0 0 1px #f3f3f3;background: #9b9b9b;}
          &::-webkit-scrollbar-track {background: #fff;}
      }
  } 
  &.el-table--scrollable-y{
      .el-table__body-wrapper{
          overflow-y:scroll;
          &::-webkit-scrollbar {width:5px;height:5px;}
          &::-webkit-scrollbar-thumb {box-shadow:inset 0 0 1px #f3f3f3;background:#9b9b9b;}
          &::-webkit-scrollbar-track {background:#fff;}
      }
  }
  svg,i[class~="el-cion"]{
    font-size: 20px;
  }
  ::v-deep .el-table__placeholder{
    display: none!important;
  }
  ::v-deep .el-table__expand-icon{
    display: none!important;
  }
  .article-title{
    cursor: pointer;
    padding-left:10px;
  }
}
/**/
.el-textarea__inner,.el-select__input,.el-input__inner{
  &:focus{
      border-color:#2e84f6!important;
  }
}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden; font-size:0px; }
@media (max-width:1024px) {
  .login-form{
    >p{
      display:none;
    }
  }
  .search-dialog.block-search{
    width: 360px;
    left:50%;
    margin:0 0 0 -180px!important;
  }
  .wscn-http404-container{
    width: 100%!important;
    left:0!important;
    position: relative!important;
    transform: translate(0,-40%)!important;
  }
  .wscn-http404{
    width: 100%!important;
    .pic-404{
      max-width: 600px;
      width: 100%!important;
      margin: 0 auto;
      float:none!important;
    }
    .bullshit{
      float:none!important;
      max-width: 360px!important;
      width: 100%!important;
      margin: 0 auto;
    }
  }
}
@media (max-width:450px) {
  .search-dialog.block-search{
    width: 90%;
    left: 5%;
    margin:0!important;
  }
}
